[2020-05-26 16:58] #1065 closed

[2020-05-26 17:21] MollyUrs commented on #1065
Thanks for the response, I didn't see the compact version was available, thanks for pointing that out

[2020-05-29 12:10] eltonmesquita commented on #1062
It's added to the readme now. I think there's no need to add this to the website as there never was any docs in the website.

[2020-05-29 12:10] #1062 closed

[2020-05-29 12:18] eltonmesquita opened #1066 "Add favicon and graph metatags to website"
We need to add the final touches to website:

- [x] Add Favicons
- [x] Add graph meta tags for sharing

[2020-05-29 14:43] a-developer-and-her-mac opened #1067 "Broken link on Animate.css"
On Animate.css, in the basic usage section, if you click on the link to Best Practices, it won't take you anywhere.
<img width="1440" alt="Screen Shot 2020-05-29 at 7 39 41 AM" src="https://user-images.githubusercontent.com/64797765/83272327-dd10b680-a17f-11ea-82b2-2f5c9fb014e9.png">

[2020-05-29 15:13] eltonmesquita commented on #1067
Nice catch! That's a bug in the compile script. I'll fix this soon.

[2020-05-29 18:16] WarenGonzaga commented on #1066
Thanks @eltonmesquita for assigning the task... will work on it.

[2020-06-07 05:38] parkdonggyu opened #1068 "broken links"
I'm so glad I found your project. it is very helpful to who study css like me.

![commit 3](https://user-images.githubusercontent.com/62459582/83961243-2ffb1400-a8cc-11ea-9cd5-97e7f7604d67.PNG)
![commit 3-1](https://user-images.githubusercontent.com/62459582/83961244-3093aa80-a8cc-11ea-8141-69fafa46a314.PNG)

both links cannot found could you chceck it?

[2020-06-09 14:40] #1067 closed

[2020-06-09 14:41] eltonmesquita commented on #1068
Thanks for noticing that! I've fixed this on #1069

[2020-06-09 14:41] #1068 closed

[2020-06-12 13:50] daneden opened #1070 "Rename `master` branch to `main`"
From IETF’s [“Terminology, Power, and Oppressive Language”](https://tools.ietf.org/id/draft-knodel-terminology-00.html#rfc.section.1.1.1):

From a technical POV, it takes less that 3 minutes to change the branch name via GitHub’s UI. Just wanted to open an issue to make sure I’m not missing any other places we’d need to explicitly make this name change.

[2020-06-12 13:51] daneden commented on #1070
Looks like there are a [handful of docs references](https://github.com/animate-css/animate.css/search?q=master&unscoped_q=master) that need updating at least

[2020-06-12 14:50] eltonmesquita commented on #1070
Nice! Will we have to move the github pages back to the `gh-branch` again? That would break the current build system.

[2020-06-12 14:57] eltonmesquita commented on #1070
I just forked the repo to mess around with the settings and it seems that you can only use master and gh-pages to publish the website.

So, do we do this with github actions?

[2020-06-14 05:46] OleDakotaJoe commented on #480
How do you import it into a component

[2020-06-15 11:17] lbassuncao opened #1073 "Custom Builds not Working"
I'm using Parcel module bundler, after the instructions on https://animate.style/#custom-builds, I noticed that the compilation does not include some classes and there's nowhere to find them on project folder. The missing classes after compilation are:

![Missing](https://user-images.githubusercontent.com/8853276/84651571-1aa46c00-af02-11ea-98ec-a9a7a32e91c2.png)

[2020-06-15 11:41] eltonmesquita commented on #1073
Hi, sorry but I didn't get it right. How are you building it? Are you using parcel? The repository doesn't use parcel at all, so you probably have issues related to that. The instructions are for cloning the repository and using our building scripts.

[2020-06-15 18:42] lbassuncao commented on #1073
Hi. And thanks for your quick answer. It's my mistake because when compiled with Parcel, the bundler ignores the prefix "_animate". It's compiling just fine, I just had to ignore the prefixes stated on official website. For instance, instead of using:

`<h1 class="animate__animated animate__bounce">An animated element</h1>`

I have to use:

`<h1 class="animated bounce">An animated element</h1>`

B

[2020-06-15 20:31] #1073 closed

[2020-06-18 13:30] WarenGonzaga commented on #1070
I guess, this is the right time to use github actions.

[2020-06-18 13:35] eltonmesquita commented on #1070
Do you have any experience with that @WarenGonzaga? Would you like to take the task?

[2020-06-18 13:38] WarenGonzaga commented on #1070
@eltonmesquita a little bit experience... I can try, just give me exact instructions.

[2020-06-19 14:27] xadim opened #1075 "Usage with Javascript: function call"
When you call the function as shown in the example with the class name `animate__bounce ` it won't work because the prefix adds an extra `animate__`. Unless the prefix is removed, calls should be like animateCSS('.my-element', 'bounce');
Hope my explanations are clear enough for you to replicate the bug.

Thank you for this beautiful library!!

[2020-06-19 15:12] #1075 closed

[2020-06-19 15:12] eltonmesquita commented on #1075
Hi, you're completely right. Sorry for that.

I've already fixed it. It should be updated soon.

[2020-06-19 15:18] eltonmesquita commented on #1070
Cool @WarenGonzaga .
Basically, you need to configure an action to publish the docs (the `docs` folder) automatically to the `gh-page` branch. The action should compile things on the <del>master</del> <in>main</in> branch and copy/commit/publish the files to the `gh-page` branch.

I've got no experience on actions, but I can try to help if you need.

[2020-06-21 12:46] sparkingdark opened #1076 "Js library for better control over animation"
# My idea
I suggest some basic utility functions in JavaScript to create elements,control,modify the elements in the website.You put some code in the website like need to code everytime to make the elements animated using js . Instead of that I suggest a library by which we can just import that and use these utility function.I give a link of my pen:
https://codepen.io/debomastet335/pen/pogeNeY

[2020-06-24 03:40] Draichi opened #1077 "yarn add animate.css doesn't work"
Hey, i found a lilte bug,
When running `yarn add animate.css` the package is not imported (at least on dev mode)

The work around is: import it using cdn

Just wanna post it so anyone who face the same issue can see

thanks

[2020-06-26 03:08] alishaevn commented on #1077
`npm install animate.css --save` doesn't work either.
I'm working on an app with gatsby.js though, so importing using the cdn isn't possible.

[2020-06-26 10:19] daneden commented on #1077
Hey @Draichi/@alishaevn! You should be able to include animate.css on your page by `require` or `import`ing it. For example, in Gatsby, you can import Animate.css in `gatsby-browser.js` to include it on every page, and then add the class names to elements:

[code]

[code]

Here’s a working example, set up by running `npx gatsby new animate-css-test` and inside the project `yarn add animate.css`:

[2020-06-26 10:19] #1077 closed

[2020-06-29 08:28] mfwebmaster opened #1078 "animation runs before div is on the screen"
good day

I have a page that is scrolling down and have animations set up on a Section

Below is the code
[code]

The problem is that the **animation runs on page load** so by the time you scroll to a division the animation has already ran.

Is there a way do you have the animation Run Once the elements is on screen?

[2020-06-29 11:15] eltonmesquita commented on #1078
This isn't something you can achieve with CSS only. You can build your own solution using Javascript (the intersection observer can make things easy) or just use a library like [AOS](https://michalsnik.github.io/aos/).

I'm closing this as we can't help much about that around here.

[2020-06-29 11:15] #1078 closed

[2020-06-29 15:21] JTinkers opened #1079 "animate.css doesn't work with transition and transform."
**Describe the bug**

Adding transition + transform to your class won't work unless you add '!important' to it, but even then the transition time doesn't seem to be considered, it instantly animates.

**To Reproduce** Steps to reproduce the behavior:

1. Create any class
2. Apply it to a DOM element
3. Add animation from animate.css
4. Add transition + transformation to the class, here's an exampl

[2020-06-29 15:29] JTinkers commented on #1079
For anyone else having this issue, just make use of `animation-fill-mode: none;`

[2020-06-29 15:29] #1079 closed

[2020-06-30 10:57] eltonmesquita commented on #1076
Thanks for the suggestion. That's something we've been talking internally about lately. Let's see how it turns out.

[2020-06-30 11:26] sparkingdark commented on #1076
That's awesome if possible can I try to work?

[2020-07-01 10:52] eltonmesquita commented on #1076
We're still working internally on this. As soon as we get the first public release, you're more than welcome to contribute!

In the meantime, feel free to suggest what you think would be important to include in the library.

[2020-07-09 16:21] fulldecent opened #1081 "Documentation for animate__infinite is missing"
The documentation alludes to a class for infinite repeat and it explains that you should not use it.

Please update docs to actually show how to use that feature.

I am using `animate__infinite` to represent a ringing phone on a dashboard. I think this case is acceptable. And the feature should be warned but not deprecated.

[2020-07-10 09:56] daneden commented on #1081
Seems like a good call; we should probably at least show _how_ to use those repeater classes for the few legitimate use cases that may exist.

[2020-07-12 11:50] nufrankz commented on #993
On Node.js, just import the static CSS into your SASS main file without the ".css" extension, and it should work. Don't know if in Vue.js is the same or not, give it a try.

[2020-07-13 05:44] #1081 closed

[2020-07-14 23:59] resynth1943 opened #1083 "Remove Google Analytics"
## Remove Google Analytics

If you must have an analytics system, might I suggest either:
- Plausible: https://plausible.io (offers a 50% discount for FOSS projects)
- Goatcounter: https://goatcounter.com
- Matomo: https://matomo.org
- Fathom: https://usefathom.org

These solutions are all well-tested and open-source. This, of course, means they
can be independently audited for privacy and securit

[2020-07-15 08:10] eltonmesquita commented on #1083
We don't use any analytics solution.

[2020-07-15 08:10] #1083 closed

[2020-07-15 13:40] resynth1943 commented on #1083
Ahh, I found this https://cdnjs.com/libraries/animate.css/

[2020-07-15 16:26] unikitty37 commented on #1077
Would it be worth mentioning this in the docs? They do kind of imply that running `yarn add` or `npm install` will be all you need to do 🙂

[2020-07-16 09:34] carlo-13 opened #1084 "Is Animate-css 4.1 compatible with wow.js ?"
Is Animate-css 4.1 compatible with wow.js ?

Hi there.

I’ve been using Animate-css for a while now, I am planning to update to version 4, but I was wondering, is it still compatible with wow.js ?

Also is there an alternative method to trigger the animates on scroll ?

Thanks.

[2020-07-16 11:13] eltonmesquita commented on #1084
You should have no problems using any animate.css version with wow as long as you apply the right classes (see [docs](https://animate.style)).

A more modern alternative to wow is [AOS](https://michalsnik.github.io/aos/). It works fine with animate.css too.

[2020-07-16 11:13] #1084 closed

[2020-07-20 15:53] carlo-13 commented on #1084
Hi @eltonmesquita, thank you for your reply.
I think the latest version of AOS.js is not compatible with animate.css 4.1 .

I've tried the method [here](https://github.com/michalsnik/aos#integrating-external-css-animation-library-eg-animatecss) ( I've updates the classes to version 4.1 ), but no luck there.

[2020-07-28 07:03] WarenGonzaga commented on #1076
Hi @sparkingdark awesome idea, however this idea is on our pipeline internally and I guess we have a better approach for this. Give us more time to work on it and release the first version with this implementation we are looking forward for this new feature for the future version of animate.css

[2020-07-28 07:03] WarenGonzaga commented on #1066
@eltonmesquita oh I almost forgot this task... I'm going to continue this one...

[2020-08-02 10:31] LukeTOBrien opened #1086 "Animation-duration fallback values"
## Description
When no duration is specified with the `--animation-duration`  then the animation does not perform.
If I inspect my element I can see:
`animation-duration: var(--animate-duration);`
I think you should be using [fallback values <declaration-value>](https://developer.mozilla.org/en-US/docs/Web/CSS/var) so that is the user doesn't specify a duration then it will default:
`animation-dur

[2020-08-02 22:04] LukeTOBrien commented on #1086
Looking at your source I do see that in `_vars.css` you are setting the properties, but I am building a **Web Component** so the CSS would be inside the shadow root.
Perhaps shadow roots do not have the `:root` selector?

[code]

[2020-08-03 15:44] Marcporms opened #1087 "CSS Image Hover Effects Issue"
Please need your help, the box is not lign with the first 2 boxes shown in the attached screenshot (after adding 2 pictures), it should be inline with 2 first boxes same as attached (original output). i just copy and paste the first code inside (<div class="box"> but the output shown different now. any advice?

Index

!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>C

[2020-08-04 15:10] thomasjulienalain opened #1088 "Postcss config files not added when using yarn add animate.css"
Hello there !

I love the new animate.css <3

I found out that the postCSS config file was not added using yarn add animate.css.

What I did :
- Run yarn add animate.css
- navbigate to path/to/animate.css/
- run npm install
- update source/animate.css
- run npm start in the root animate.css folder
- Got this error, and @import were not replaced in the resulted animate.css generated file :
You did

[2020-08-06 18:26] eltonmesquita commented on #1086
You're almost right. We don't provide a fallback for the custom properties but we do compile them and provide a fallback for older browsers, which ends up providing a fallback for when the custom properties are not declared. As long as you stick to the `animated` class it should work.

But if you think it would be useful to provide the fallback anyway, I'd happily accept a PR with this 😄

[2020-08-06 18:33] eltonmesquita commented on #1087
Hi @Marcporms. Sorry, but it'd be really hard to help without a reduced case. Even if that was the case, still it seems to be an issue related to CSS usage and you'll hardly get any help here, as this dedicated to problems and improvement of the library itself.

Mind that your problem must be related to the transform property being overwritten by animate. You can try to seek for help on Stackoverf

[2020-08-06 18:33] #1087 closed

[2020-08-06 18:36] eltonmesquita commented on #1088
This is meant to work this way. We only provide the CSS files on `npm/yarn install`. If you need custom builds, you have to clone the repository.

[2020-08-06 18:36] #1088 closed

[2020-08-09 14:48] thraizz commented on #1081
It is also worth noting that infinite animations not only require `animation-duration: [..]s` but also `animation-iteration-count: infinite` to work properly - should this be added to the docs?

[2020-08-09 17:15] fulldecent commented on #1081
I am successfully using with only `animate__animated animate__infinite animate__tada`

[2020-08-12 00:47] ColdTuna commented on #1070
Oh god 🤦

[2020-08-12 08:20] daneden commented on #1070
@eltonmesquita @WarenGonzaga looks like GitHub now allows [building pages from any branch](https://github.blog/changelog/2020-07-31-build-and-deploy-github-pages-from-any-branch-beta/) 😄 I’ll create the `main` branch and confirm it works as expected.

[2020-08-12 08:27] #1070 closed

[2020-08-12 08:31] daneden commented on #1070
Pages are working; going to tentatively update the default branch to use `main`. If we don't see any issues after a week or so, we can probably safely delete the `master` branch :)

[2020-08-12 09:55] eltonmesquita commented on #1070
Great news @daneden !

[2020-08-19 19:28] MiniHarlock opened #1091 "Animate 4.1.0 + wow.js"
Hi there,

I’ve been using Animate.css for some years and it’s really cool. Thank you for this amazing job!

Today, as I landed on your page, I came to realize you had a brand new version going on, which is great news.

My concern is this viewport thing. I’ve always been using Animate + wow.js to trigger animations as elements were entering the viewport. I’m even surprised you didn’t include this

[2020-08-20 10:26] eltonmesquita commented on #1091
Please see #1084. Animate.css will probably never provide this functionality as it's not possible to do this with CSS only. We might provide a js library to complement Animate.css but this future is not planned right now.

I'm closing this as it's not related to the library itself and has been answered before.

[2020-08-20 10:26] #1091 closed

[2020-08-20 16:59] MiniHarlock opened #1092 "No hover anymore"
Thank you for your answer to my previous post.

I followed your link and customized my code to use both AOS and Animate v 4.1.0.
It seemed to work great, but then I realized all my animated elements were making all hover effects impossible, I can't even click on a simple link.
Then I came back to load the compat version instead (and removed the "animate__" prefixes in my code) and this seems to wo

[2020-08-20 18:01] eltonmesquita commented on #1092
It's hard to help without a reduced case. Would it be it possible to provide a live example?

[2020-08-20 19:21] MiniHarlock commented on #1092
OK, you're right, sorry.

So here is only one section of the page I'm working on, with 2 images and one link down below. All of them are using the regular version of Animate.css 4.1.0 + AOS.

The animations work as expected.

But images are supposed to move when hovering them and of course the link should change the pointer aspect.

I'd like to add the issue is the same everywhere else on the full

[2020-08-26 23:18] koffiisen commented on #1076
Hi, check here [https://github.com/koffiisen/Animate.js](https://github.com/koffiisen/Animate.js)

[2020-08-26 23:26] koffiisen commented on #1076
Hi everybody,

I created a javascript version 4 months ago  [Animate.js](https://github.com/koffiisen/Animate.js) . Watch and give your opinion. Could you integrate my javascript version? Ideas for improvement are welcome.

https://github.com/koffiisen/Animate.js

Thank.

[2020-08-27 08:23] WarenGonzaga commented on #1076
Hi @koffiisen, nice work... however I checked your project and this is away from our original plan on our pipeline. We don't think that we can use your library to integrate in animate.css since your library does the job of our CSS library. So the user can either use your JS library or CSS library that we created... what do you think @eltonmesquita and @daneden?

[2020-08-30 06:28] benjam23 opened #1097 "Animations are jerky and too fast on macOS Big Sur Safari"
Animations are jerky and too fast on macOS Big Sur 11.0 Beta (20A5354i) & Safari - Version 14.0 (16610.1.25.1.3).
[Screen Recording 2020-08-30 at 07.21.46.mov.zip](https://github.com/animate-css/animate.css/files/5146410/Screen.Recording.2020-08-30.at.07.21.46.mov.zip)

[2020-08-30 10:29] WarenGonzaga commented on #1097
Thank you for reporting @benjam23 we really appreciate it, I checked your video and I find it funny because it animates in weird way. I don't know if is something with your browser or some of our implementation for the "prefer-reduced-motion" kindly check our discussion regarding this on issue #914 and this PR #1043

[2020-08-30 10:29] WarenGonzaga commented on #1097
Also, tagging @eltonmesquita and @daneden for the issue I don't have macOS or safari browser can't debug it at the moment.

[2020-08-30 11:32] daneden commented on #1097
Thanks for reporting, @benjam23! Since you’re seeing this on a beta version of macOS/Safari, I’m going to close this issue and chalk it up to beta bugs. For what it’s worth, I see the same problem you’re seeing, but on closer inspection it’s pretty surprising. When you observe the animation in web inspector, you can see that its frame animates at the correct speed, but the rendered result is sped

[2020-08-30 11:32] #1097 closed

[2020-08-30 21:54] Abhirup-99 opened #1098 "Option for initiating animation when div is in viewport."
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like** A clear and concise description of what you want to happen.

**Describe alternatives you've considered** A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-01 12:12] eltonmesquita commented on #1098
Please see #1091

[2020-09-01 12:12] #1098 closed

[2020-09-01 16:16] Abhirup-99 commented on #1098
@eltonmesquita can you update in the doc to add a js function to use animate.css with viewport. I can work on this. This would stop people from moving around searching for alternatives.

[2020-09-02 14:14] francogp opened #1102 "New line "problem""
**Describe the bug** A clear and concise description of what the bug is.
animate.css and animate.min.css start with
[code]
and should not start with a new line. @charset should be the first line according to standards

[2020-09-04 00:00] TheMatheMagician-uk opened #1103 "v4 iPhone possible issue"
Dear Animate.css

I'm sorry if these isn't an issue, I'm very new to GitHub and quite new to Web Design. This is my first post.

Animate.css v4 works on my computer in both Laptop (Media Query) and Mobile screen sizes (mobile first design) but when I run it on my actual iPhone it doesn't animate. I am using v4.1.0 on iPhone 7 Plus iOS 13.7 (latest). I am using "animate__animated animate__jackInThe

[2020-09-06 16:50] WarenGonzaga commented on #1102
Thanks for reporting @francogp I'll look into it.

[2020-09-06 16:52] WarenGonzaga commented on #1103
Alright thank you for reporting it @TheMatheMagician-uk ... @eltonmesquita can you take a look into it?

[2020-09-06 17:14] eltonmesquita commented on #1102
Hey @WarenGonzaga , that's an easy fix. Just get this [line](https://github.com/animate-css/animate.css/blob/main/postcss.config.js#L5) to start with the backtik right above it in this string literal.

[2020-09-06 17:15] eltonmesquita commented on #1103
@TheMatheMagician-uk , please [see this](https://animate.style/#accessibility). Make sure to check the linked resource.

[2020-09-06 17:16] eltonmesquita commented on #1086
I'm closing this as it's stale.

[2020-09-06 17:16] #1086 closed

[2020-09-06 17:16] WarenGonzaga commented on #1102
Got it...

[2020-09-06 17:55] WarenGonzaga commented on #1066
Hi @eltonmesquita this task is done... PR sent...

[2020-09-07 00:04] TheMatheMagician-uk commented on #1103
Well that's a stupid feature for iPhones to be set as reduced motion as default. Sorry to bother you as it was obviously an Apple issue and not one for you. Thanks and take care.

[2020-09-07 00:04] #1103 closed

[2020-09-07 08:45] eltonmesquita commented on #1103
No problem.

Sorry but this is *not an issue*, it's an accessibility feature and it's actually very important. I hope you don't disable this feature on your website.

[2020-09-07 08:58] eltonmesquita commented on #1098
Hi @Abhirup-99. Sorry, but we've got no real plan for this right now. Maybe in the future, after solving #1076 we can do something about it.

[2020-09-07 11:18] WarenGonzaga commented on #1066
@eltonmesquita you can now close this one.

[2020-09-07 11:19] WarenGonzaga commented on #1102
@eltonmesquita close this one also...

[2020-09-07 11:21] #1102 closed

[2020-09-07 11:21] #1066 closed

[2020-09-07 11:22] WarenGonzaga commented on #1066
This is the preview of this changes.

![image](https://user-images.githubusercontent.com/15052701/92382611-710afa80-f13f-11ea-972c-6e1cc619718a.png)

Hope you like it!

[2020-09-07 11:40] eltonmesquita commented on #1066
Yeah, that's cool! I just published the new version and it's live ;D

[2020-09-07 11:50] WarenGonzaga commented on #1066
@eltonmesquita I will PR a new changes for the open graph I kind of having issues with open graph due to the usage of path instead of URL of actual file.

[2020-09-13 08:29] carlo-13 opened #1110 "Animate on scroll: Any alternatives to Wow.js/Aos?"
Hi everyone, and thanks a lot for making such an amazing CSS library!

Just like the title says, I am looking to use animate.css on scroll. I used wow.js for a while now, but it hasn’t been updated in years… same for AOS.

The only way I managed to make this work is by using the latest version of animate.compat.css with wow.js… but it’s not ideal.

I just wanted to ask what are your recommendation

[2020-09-14 19:49] RobHowdle commented on #1110
Following. Used AOS and that was great but when trying to use with a Laravel Blade Page it gives me so many problems weirdly. I'd very much be interested in what you are looking for as well.

[2020-09-15 13:42] vujovicigor commented on #1110
Here is a simple animate-on-scroll function based on IntersectionObserver and animate.css classes :
https://codepen.io/vujovichigor/pen/KKzBpbV?editors=1010

[2020-09-15 13:50] RobHowdle commented on #1110
I actually managed to get the AOS working within Laravel last night, my issue was the ordering of the scripts weirdly. I'll take a look at this one though as it seems pretty good too :) Always like to keep a log of these things for future projects.

[2020-09-17 05:11] rajeshdoot opened #1115 "How to add animation in swiper slider?"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like** A clear and concise description of what you want to happen.

**Describe alternatives you've considered** A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-17 11:14] #1110 closed

[2020-09-17 11:17] eltonmesquita commented on #1115
Sorry, we can't provide support for other libraries here. This is an issue tracker for problems and improvements related to the library itself. Please seek help on stackoverflow.

[2020-09-17 11:17] #1115 closed

[2020-09-18 08:34] ApplePieGiraffe opened #1117 "Transform Property Doesn't Work After Using Animate.css"
Hi, there!

In a few of my projects, I've noticed that after I animate an element by adding the animation classes from Animate.css to it, I can no longer use the transform property on that element in my own stylesheet (i.e., the transform property in my stylesheet seems to have no effect, even if my stylesheet is linked after the Animate.css stylesheet in my markup).

Is there any reason why that

[2020-09-18 09:19] eltonmesquita commented on #1117
This is the way CSS works. animate.css is just overwriting any previous transform declaration (we use transform in most of the animations). The easy and quick "fix" is to add a wrapper to the element and animate this wrapper instead.

I'm closing this as it's not an issue with the library. I'll try to add a section in the docs with guidelines about this.

[2020-09-18 09:19] #1117 closed

[2020-09-18 09:24] eltonmesquita opened #1118 "Add a troubleshoot/FAQ section in the docs"
It would make life easier if we had a docs section with some guidelines on common issues related to animate. On the top of my head, I can think of:
- CSS properties being overwritten #1117
- Overflow "issues" #970
- Performance problems (although we have a few words in the Best practices section)

[2020-09-18 14:10] eltonmesquita commented on #1076
I'm with @WarenGonzaga on this. We have something in the works that goes in a whole different direction.

I'll also close this as, in the end, belongs to another library.

[2020-09-18 14:10] #1076 closed

[2020-09-18 19:57] fuzenco opened #1119 "Animate when element appears in viewport"
I’d love to see an **easy** way to animate elements when they appear within a viewport. An added bonus would be exit animations (based on an element moving out of the viewport). Maybe a class added to the body tag could denote when want Animate CSS to operate within-viewport versus on page load.

[2020-09-18 19:58] ApplePieGiraffe commented on #1117
Ah, I see.

Sorry to bother you, then.

Thanks for your help!

On Fri, Sep 18, 2020 at 12:19 PM Elton Mesquita <notifications@github.com>
wrote:

[2020-09-20 17:54] WarenGonzaga commented on #1118
@eltonmesquita that's a good approach!

[2020-09-20 18:00] WarenGonzaga commented on #1119
@fuzenco do you have example of it? So I can take a look and may be I can add it as a feature. Looking forward to your response.

[2020-09-20 18:01] WarenGonzaga commented on #1009
@eltonmesquita any news on this? is this relate to our current project?

[2020-09-21 22:41] liadbelad opened #1121 "Animate.css isn't working"
I tried to use some of the classes and none worked

I made sure that I got the CDN on the head of my HTML which is
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

Yes when I refresh the page nothing happens

I am using Chrome Version 85.0.4183.102 (Official Build) (64-bit) and Windows 7 on a Laptop

[2020-09-22 07:08] eltonmesquita commented on #1121
Sorry, but it's very hard to help with so little information and **no code** to debug. But anyway, make sure you have followed the [usage instructions](https://animate.style/#usage) and if you're migrating from a previous version make sure to follow the [migration guide](https://animate.style/#migration).

[2020-09-24 13:52] rodrigo-fonseca opened #1123 "Animations are too fast on MacOs Catalina"
The "problem" start when I updated my macOs, after that, the animation are clearly faster than usual, too fast I would say

***
Desktop
- OS: macOS Catalina (10.15.6)
- Browser Safari
- Version 14.0

iPhone 7

- OS: 14.0.1

[2020-09-24 16:10] eltonmesquita commented on #1123
Hi. I have the same versions as you and everything's working fine. Maybe this is something localized?

[2020-09-24 18:24] rodrigo-fonseca commented on #1123
Maybe :( I really don't know, I'm using it with my Ionic 4.x application and definitely, after I updated my iPhone, all the animations are faster and less smooth

[2020-09-27 13:59] sthiepaan commented on #1119
Hello @fuzenco 👋,
as I understand your request, the thing that you want to achieve is not possible using _CSS_ only.
Also, since _animate.css_ is pure _CSS_ library it doesn't make sense to extend it to have feature like this.

@WarenGonzaga please correct me if I'm wrong at any point 😉

To solve your problem, what you actually need is _JavaScript_ and [Intersection Observer API](https://developer

[2020-09-27 16:49] WarenGonzaga commented on #1119
Oh... we should acknowledge this io-Animate and make it official on our next project... currently we are working on another version of animate.css which is more powerful and this idea would be good to add. Let's discuss this @eltonmesquita

You have point! Let's see the issue on a demo so we can confirm it and fix it.

[2020-09-27 17:03] WarenGonzaga opened #1126 "Dark Mode Option for the Website"
There is PR #1125 which is might suggesting a dark mode option for the documentation site. I don't know if this is necessary but I would like to work on it to add that. However, to add that we need votes for this feature to be added. Just react thumbs up on this Issue and if you have additional suggestion just let us know. Thank you!

Tagging @eltonmesquita and @daneden, what do you think team?

[2020-09-27 17:06] WarenGonzaga commented on #1123
This issue is known and @daneden is currently coordinating with the MacOs team... that's what I know...
To learn more read this PR #1097

[2020-09-27 17:21] TheWoops opened #1127 "Animate.css changes positioning of absolute centered element"
Hello all,

I am facing an issue with the animate.css rotateIn-class.
I have a header element that is centered in the body using the following css:
 `#heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);`

If I apply the rotateIn-class to that element, the element is NOT CENTERED anymore.
I think this is because the respective keyframes of the rotateIn-class

[2020-09-27 18:09] eltonmesquita commented on #1127
Please, see #1117 . There's no way the library can handle this by itself.

[2020-09-27 18:09] #1127 closed

[2020-09-28 19:36] TheWoops commented on #1127
Okay Thanks. Adding a section in the docs with guidelines about this is a good idea.

[2020-09-28 19:41] eltonmesquita commented on #1127
Good call. I'll try to do this together with #1118.

[2020-09-28 19:42] eltonmesquita commented on #1121
I'm closing this as it's stale.

[2020-09-28 19:42] #1121 closed

[2020-09-28 19:45] eltonmesquita commented on #1126
I don't feel the need, but I'd gladly merge a nicely done PR with this. So, feel free to work on that if you want to ;D

[2020-09-28 19:55] WarenGonzaga commented on #1126
Cheers! @eltonmesquita

[2020-09-29 09:23] eltonmesquita commented on #1123
Thanks for the reporting, but I'm closing this as there isn't much we can do about it. Safari bugs are usually weird and very specific. Most of the times the fix is some nasty browser sniffing technique target some specific Safari's versions.

Unfortunately, the far we can go is to file a bug on its tracker.

[2020-09-29 09:23] #1123 closed

[2020-09-30 20:32] PeterPan73 commented on #1062
[http://web.archive.org/web/20191129075511/https://daneden.github.io/animate.css/](addressl)

[2020-10-02 04:15] johnsfuller opened #1137 "Source files are not scss"
The files in the source folder are not scss files, they are just regular css file types.

I understand you're using css vars and that eliminates most of the need for scss, but I am looking to only include 10 animations from the library in some use cases. If the files were scss, then I'd be able to pick and choose. And really all we'd have to do is change the file extensions on the folders.

[2020-10-02 04:27] #1137 closed

[2020-10-02 04:30] johnsfuller commented on #1137
I'm closing this because I found [this comment on compiling with PostCSS](https://github.com/animate-css/animate.css/pull/277#issuecomment-363176177) in older an older issue. Sorry, I should have searched before posting, thank you for the awesome library!

[2020-10-08 09:09] dunker1304 opened #1141 "Custom '--animate-delay' is not working"
- When I customize **--animate-delay** using VueJS and NextJS, I found something missing in **animate.css**

![Screen Shot 2020-10-08 at 15 55 39](https://user-images.githubusercontent.com/42232002/95437328-0daefb00-097f-11eb-9073-7439c6091033.png)

- I think this codes missing variable for **animation-delay** to customize delay time, so I added 2 lines like this, and it worked:

![Screen Shot 202

[2020-10-10 09:52] eltonmesquita commented on #1141
I understand your concern, but the `--animate-delay` property is used by the delay classes only. We shouldn't add it to the `animated` class as it would add a delay to every animation.

Any custom need should be handled by the developer as you just did. I'm closing this.

[2020-10-10 09:52] #1141 closed

[2020-10-11 11:50] asangadev opened #1143 "iOS 14 - Animation speed issue"
Hi there, any idea why the animations are bit faster on iOS 14 Safari?

Is this something to do with iOS 14 Safari engine?

[2020-10-12 17:12] liangwuweb opened #1146 "Animate.css not work on my Mac"
**Describe the bug** I just find out that the animate.css does not work on my Mac, I tried out fireFox, safari, and chrome, none of them works. Then I tried it on my windows 10 machine, it works perfectly.

**To Reproduce** The problem is that the animate.css just does not work. When I go to _animate.style_ website, all the examples just do not animate.

**Here is my mac system info:**
<img width=

[2020-10-12 21:37] eltonmesquita commented on #1146
Please see in the best practice section [here] (https://animate.style/#best-practices) the section "Don't disable the prefers-reduced-motion media query".

Also, there should be a warning in your screen about that in the website.

[2020-10-13 14:53] liangwuweb commented on #1146
Oh, yes, I did see the warning on the site now. Thank you so much, I just turn off the reduce-motion on my Mac, and it works perfectly!

[2020-10-13 14:53] #1146 closed

[2020-10-19 12:05] ivkodev commented on #274
THANK YOU!

[2020-10-19 19:04] gremo opened #1152 "Flip animation name is prefixed, why?"
https://github.com/animate-css/animate.css/blob/main/source/flippers/flip.css#L31

[code]

Is this something on purpose?

[2020-10-20 10:11] eltonmesquita commented on #1152
I think this gone through in an old refactor. There's no impact really and theory it is safer, but as we now use a proper class prefix, this isn't necessary. I'd happily merge a PR just for the sake of consistency ;D

[2020-10-20 10:11] #1152 closed

[2020-10-20 10:22] gremo commented on #1152
Yep your right, it works anyways, thanks!

[code]

[code]

[2020-10-20 10:58] masoudelahi opened #1154 "https://animate.style/ animations not working"
animations on https://animate.style/ not working

[2020-10-20 12:36] eltonmesquita commented on #1154
Please see the `Don't disable the prefers-reduced-motion media query` section on [docs](https://animate.style/#best-practices).

[2020-10-20 12:36] #1154 closed

[2020-10-21 09:14] LukeTOBrien opened #1155 "Using Animate.css in my project"
Hi chaps,

I just wanted to post here and show you how I am using `Animate.css` in my project.
My project is slide show presentation creator and I am using your animations to create fragments and slide transitions.
Your animations are a really great addition, they just add that extra level of professionalism to my software (even if the UI is still in early days).
You can't create presentation soft

[2020-10-21 09:21] LukeTOBrien commented on #1155
Also just to add that if I ever get some time then I would like to try and create some colour animations using CSS variables:
 `--colour-from` and `--colour-to`

[2020-10-29 12:36] eltonmesquita commented on #1143
Sorry for the late answer.

Yeah, this is a weird random issue with this new Safari release. See #1123 and #1097.
There is no fix right now and I'd advise to not try to fix it as it'll probably break the animations for all the rest of your userbase. Even browser sniffing techniques would probably fail because not every Safari 14 shows this behaviour.

The best we can do right now is to hope for Ap

[2020-10-29 12:40] #1155 closed

[2020-10-29 12:42] eltonmesquita commented on #1119
I think this is solved as Animate.css won't support this as we aim to keep this library **css** only. Right now I prefer to not make any external library official (any library outside of this organization).

[2020-10-29 12:42] #1119 closed

[2020-10-29 17:13] WarenGonzaga commented on #1119
@eltonmesquita Indeed as we are working on other version of animation.

[2020-11-06 21:05] WarenGonzaga opened #1165 "Fork Corner for Landing Page"
I will add my [Fork Corner](https://github.com/WarenGonzaga/fork-corner) to the homepage.

[2020-11-07 23:18] WarenGonzaga commented on #1165
@eltonmesquita this is what it looks like...

![image](https://user-images.githubusercontent.com/15052701/98453300-a1e4cb80-2192-11eb-8400-ee531afc263a.png)

[2020-11-18 16:44] snolangps commented on #1077
nextjs after adding `import 'animate.css'` still doesn't work :(

[2020-11-23 05:41] asangadev commented on #1143
All good! Thanks for the update. Will wait then.

[2020-11-29 23:18] EliotSlevin commented on #1009
Yeah, I'd love this.

So classic example is the 'fade up' animation. It has a vertical movement of `100%` to `0%`. That works great for small elements, like say fading in a title on a marketing website. Lil subtle touch, very nice.

Thing is when you want to go and fade in like a whole block, which is say like 450px tall - suddenly this super subtle animation is crazy huge motion, crazy fast etc.

[2020-12-04 02:29] WarenGonzaga commented on #1009
Thanks for the input... we will consider this.

[2020-12-04 12:38] goodpixels commented on #1141
@eltonmesquita I think @dunker1304 is right on this.

I can see no reason why this variable should not be exposed. This is exactly how I want to use it.

If it clashes with the internal delay variable, then at least provide another one.

And while all of this can be customised by a developer, I feel like the overall appeal of `animate.css` is it's drag-and-drop ease of use.

IMHO this issue should

[2020-12-04 12:46] WarenGonzaga commented on #1141
Hi @goodpixels, I got your point... I'm the author of CSS utilities... I'm gonna PR an update for this.

As I understand if the delay animation property is not defined it can cause issue so provide default one.
So the developer just plug and play the animate.css is that correct?

Let me know thanks!

[2020-12-04 13:39] eltonmesquita commented on #1141
@goodpixels, the variables are for the global delay classes, as is [outlined in the docs](https://animate.style/#utilities). You can change them per element like this:
[code]
This way, the new value would be modified only for the `.my-element` and its descendants and the delay classes would respond to the ratio set to the var, 0.5s (`animate__delay-2s` becomes a 1s delay, `animate__delay-3s` 1.5s

[2020-12-04 13:42] WarenGonzaga commented on #1141
Got it @eltonmesquita... make sense

[2020-12-04 13:44] goodpixels commented on #1141
Hi @WarenGonzaga, @eltonmesquita  thank you for such a quick reply.

This is for example how I use `--animate-duration` in my React app:

[code]

I would expect the same to work for the delay:

[code]

But because this variable is not referenced in `animate__animated` class, I have to do this instead:

[code]

The difference between the two is that in the latter I am __actually__ overwriting the `

[2020-12-04 19:08] nakibahmed4200 opened #1184 "Sorry"

[2020-12-04 19:14] #1184 closed

[2020-12-04 19:14] nakibahmed4200 commented on #1184
sorry

[2020-12-04 19:19] WarenGonzaga commented on #1184
Hi @nakibahmed4200 please provide Codepen so we can check it. Don't post your code here.

[2020-12-07 15:31] gurnoor-garry commented on #1126
Hey
I want to work on this issue. Could u please assign it to me??

[2020-12-07 15:44] WarenGonzaga commented on #1126
Currently, in the works...

[2020-12-15 07:36] ivalsaraj opened #1195 "Option to prefix animation name to avoid conflict with same CSS animation names"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

# Problem
The problem I've encountered is when I added animate css cdn into my site, there is a portion of site has gone invisible. After debugging  many times I found out that a plugin using an it's own animation named `slideInRight`, so

[2020-12-17 22:11] asangadev commented on #1143
This is fixed in iOS 14.3

[2020-12-17 22:11] #1143 closed

[2020-12-18 19:05] kkaiser1952 opened #1196 "Two animations on page open."
I'm doing this in a function but the second animation never happens.

const element = document.querySelector('#pgtitle2');
            element.classList.add('animate__animated', 'animate__slideInRight');
const element2 = document.querySelector('#rightCorner');
            element2.classList.add('animate__animated', 'animate__slideInLeft');

Any idea why?

[2020-12-18 20:19] WarenGonzaga commented on #1196
Hi @kkaiser1952, do you have any [codepen](https://codepen.io/) link for that?

This might be the problem on how you markup your element.

[2020-12-18 20:21] WarenGonzaga commented on #1195
Thanks for the report @ivalsaraj!

What do you think? @eltonmesquita? I can work on that.

[2020-12-18 20:25] WarenGonzaga commented on #1165
Hi @eltonmesquita can you assign this issue to me thanks.

[2020-12-20 02:44] fuzenco commented on #1119
I’d not seen my notifications earlier, so sorry for not replying. Understood on the reason why.

[2020-12-21 14:29] gajendrapalkaushik commented on #198
body{
       max-width: 100% !important;
       overflow: hidden !important;
}

this doesn't work , instead the page becomes short or say right side of page get fit into the page like we resized it.

please anyone help me

[2020-12-21 15:14] eltonmesquita commented on #198
This is the safest way to handle this type of situation. Please see [this article](https://css-tricks.com/almanac/properties/o/overflow/) to make the best use of the `overflow` property.

[2020-12-23 03:10] tirlochanarora16 commented on #1196
Might be some mistake in the `id` name.

[2020-12-23 03:39] HThangDev opened #1200 "Why. Current version is not working"
**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior** A clear and concise description of what you expected to happen.

**Screenshots** If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-12-23 04:16] kkaiser1952 commented on #1196
I don't have code pen set up, I'll go do that.

[2020-12-26 18:54] WayneHiller opened #1201 "Animations not working on initial page display, works after page refresh."
I have a Blazor WebAssembly app and have included animate.css 4.1.1.  The first time a page is displayed no animations work (animate something on button click etc). There are no errors in the dev tools and I can see the animate.css file loaded. If I then refresh the page all the animations work from then on.

[2020-12-27 17:20] WarenGonzaga commented on #1200
Your report is lack of information... can you give as steps to reproduce the issue? also can you provide a codepen version of the issue so we can take a look into it. Thanks.

[2020-12-29 10:31] eltonmesquita commented on #1201
Sorry, but it's really hard to help with so little information. Could you share a reduced case somewhere? (code sandbox, codepen, etc)

[2020-12-29 10:37] eltonmesquita commented on #1195
That makes sense and yes, we should add It too, although I don't know if postCSS can make it easy to achieve as it made for classes. @WarenGonzaga, if you can have a look at this and propose a solution it would be great.

[2020-12-29 10:40] eltonmesquita commented on #1195
Also, we'll have to release a new major version (v5.0.0) when publishing this as we'll have a major breaking change. Maybe we could add a few new features - and maybe animations - like #1009 in the new release?

[2020-12-29 10:42] #1200 closed

[2020-12-29 10:44] eltonmesquita commented on #1200
I just closed this as there's on info. I might reopen this if @HThangDev give us some proper description of what's wrong. But first, make sure you read the whole documentation.

[2020-12-29 10:45] eltonmesquita commented on #1196
Any news @kkaiser1952?

[2020-12-29 14:15] #1196 closed

[2020-12-29 14:16] kkaiser1952 commented on #1196
I don't have a solution and not sure how to set up an example in codepen, I'll revisit this when I can and learn how to leave an example.

[2020-12-29 14:48] WarenGonzaga commented on #1165
Add this to v5 @eltonmesquita linked to PR #1202

[2020-12-29 14:49] WarenGonzaga commented on #1126
Add this to v5 release @eltonmesquita

[2020-12-29 15:19] eltonmesquita commented on #1196
Your issue is that you're not waiting for the first animation to finish before adding the second one. Use the [function on our docs to do this](https://animate.style/#javascript).

[Codepen](https://codepen.io/trending) and [Codesandbox](https://codesandbox.io/) are free and easy-to-use services, just create an account and follow the instructions to create a new and shareable environment. But anyw

[2020-12-29 15:36] eltonmesquita commented on #1141
I do understand your concern, but like I told before these variables were made to support the delay classes only. If we were to apply a delay to every class it would be counter-intuitive and very confusing to most of the users.

I'm still against the proposal as it wouldn't bring many benefits to the overall user. Unless more people bring this up, I'm likely to avoid implementing it in the future.

[2020-12-29 16:59] WayneHiller commented on #1201
I don't know why but it seems to be working now. Very strange. If it happens again I will investigate more.

[2020-12-29 16:59] #1201 closed

[2020-12-31 11:44] eltonmesquita opened #1204 "Properly update to postCSS v8"
Recently we updated to postCSS v8 which brings lots of changes, including how to use it and its "plugins" as [dependencies in the project](https://evilmartians.com/chronicles/postcss-8-plugin-migration). Right now the building system is working but it's throwing some warn as we're not following the recommendations.

We need to fix this and get #1194 merged so everything is working nicely and in th

[2020-12-31 13:25] WarenGonzaga commented on #1204
I just pull the changes... and try to fix this.

[2020-12-31 14:54] eltonmesquita commented on #1204
@WarenGonzaga , shout out if you need any help on this, alright?

[2020-12-31 14:59] WarenGonzaga commented on #1204
I don't see any errors on compiling.

[2020-12-31 16:50] eltonmesquita commented on #1204
Work on #1194 branch and you can see the warnings. Also, if you read postCSS docs/migration guide you'll see that it doesn't use plugins anymore even though they are supported. A bit weird but makes sense with what they're doing now.

[2020-12-31 16:51] eltonmesquita commented on #1204
BTW, Happy New Year @WarenGonzaga 🍾 🥂 🎉 ! Thanks for all the effort you've put in the library!

[2020-12-31 16:52] WarenGonzaga commented on #1204
Happy New Year too! No problem... small effort.

[2021-01-07 14:19] vipera7 opened #1211 "Uncaught SyntaxError: Unexpected token 'return'"
**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

1. Init the function

I created the function as in the documentation :

[code]

**Expected behavior** A clear and concise description of what you expected to happen.
No error output

**Desktop (please complete the following information):**

- OS: Windows 10
- Browser: chrome

[2021-01-07 21:46] plantdink commented on #1211
https://github.com/animate-css/animate.css/pull/1209#issue-550736795

This will fix the issue you are having.

Just remove the return on this line, everything else is correct.

[code]

[2021-01-08 08:13] #1211 closed

[2021-01-08 08:19] vipera7 opened #1215 "Animate div on fixed position"
**Describe the bug** A clear and concise description of what the bug is.
I'm trying to animate a fixed div. The div is centered

[code]

When the animation end, the div is automatically going to the center of the page horizontally. When the div is animated, its position is on the left.

[2021-01-08 11:52] eltonmesquita commented on #1118
Note to add about overriding transforms, as pointed on #1215.

[2021-01-08 11:54] eltonmesquita commented on #1215
Please, see #1117.

[2021-01-08 11:54] #1215 closed

[2021-01-14 11:31] Directory commented on #1117
this isnt a fix but if u can use the animateCSS javascript wrapper function the docs suggested. it removes the animation class after the animation ends so the transform styles wont stick. however *while* an animation is playing your transform styles will still get overriden so it may appear to pop in and out of position randomly. i advise the "wrapper" fix.

[2021-01-15 15:48] eltonmesquita commented on #1126
#1217 Solves this. Did you have a look at it @WarenGonzaga ?

[2021-01-15 15:54] WarenGonzaga commented on #1126
@eltonmesquita yes that works... I'm gonna improve his PR when I got some time.

[2021-01-15 15:58] eltonmesquita commented on #1126
No need for hurry, I'll leave a review there soon, but when you have time, it'd be nice to suggest improvements and share your ideas there, so no work is wasted 😉

[2021-01-18 09:48] eltonmesquita opened #1221 "Move from Travis CI to Github Actions"
Our CI settings are a bit outdated - they just `npm install` - we should move them to Github actions so the whole team can have full access to the whole process. It should run:
* `npm install`
* `npm start`
* `npm run docs`

[2021-01-24 18:05] AtharvaParkale commented on #1221
I think this link may solve your problem.
https://developer.okta.com/blog/2020/05/18/travis-ci-to-github-actions

[2021-01-25 11:26] eltonmesquita commented on #1221
Thanks for the link. If you have some free time and fancy put a PR together for this it'd be amazing!

[2021-01-25 14:30] AtharvaParkale commented on #1221
I am a newbie,  so am not sure what to do..

[2021-01-26 17:18] eltonmesquita commented on #1221
No worries @AtharvaParkale. But if you feel like trying it will be very helpful, and you'll get to learn a few things in the way. Be sure that we would be very supportive of your PR (but maybe a bit slow 😅  review it).

[2021-01-29 11:32] LukeTOBrien opened #1223 "RE: Additive Animations - Animations API"
Hi chaps,

Awhile ago I mentioned about a [Additive Animation CSS proposal](https://github.com/animate-css/animate.css/issues/1010).
I have just found a [new article on the subject](https://css-tricks.com/additive-animation-web-animations-api/), it seems that Firefox nightly and Chrome Canary do have additive animation.

I just wanted to share it with you folk as I know you are enthusiastic, perha

[2021-01-31 04:41] xkungfu opened #1224 "animate not work correctly when rerender"
I have button group component.
the group 1 have 3 buttons.
the group 2 have 5 buttons.
when click one button of group 1 , the component rerendered to group 2.
but, the animation only work on the last two button.
animation not work on the first 3 buttons.

how to resolve it?

thanks!

[2021-01-31 04:42] xkungfu commented on #1224
thanks!

[2021-02-05 09:32] amanRT commented on #1224
Ok....I am working on that.

[2021-02-05 17:01] vandelpavel opened #1228 "Animation opacity overrides the one i need on IOS"
I'm currently using quasar framework and i'm trying to animate an element when i click on a button.
In order to hide my element i'm using the on mounted hook to set (as style) 0 opacity.
Then when i click the button i'll add the animated class and let's say.. FadeInDown.
Immediately afther that i set the opacity to ' ' in order do delete the opacity from the style.

On windows works great problems

[2021-02-06 12:44] #1165 closed

[2021-02-06 12:46] eltonmesquita commented on #1224
Sorry, but there's no way we can help this way. Can you please create a small reduced case on codepen, with a proper description of the issue and share it here?

[2021-02-06 13:57] WarenGonzaga commented on #1221
I guess I can give it a try?

[2021-02-06 14:00] WarenGonzaga commented on #1223
Awesome let us take a look and discuss this. Hi @eltonmesquita is this a good time to add this to v5?

[2021-02-06 14:25] eltonmesquita commented on #1221
Sure, feel free to do it @WarenGonzaga .

[2021-02-06 17:45] eltonmesquita commented on #1223
Thanks for the heads up but no, we're not ready for this. We should wait until all major browsers support the CSS version for at least 2 versions. When adding this we'll have to provide a progressive away, so we're still a long way for that.

[2021-02-06 17:49] eltonmesquita commented on #1228
Try using the `visibility: hidden` property and switching it to `visibility: visible`. Also setting opacity to 1 makes more sense than setting it to an empty string.

[2021-02-07 15:21] eltonmesquita commented on #1221
We should probably add some linting on the process too as it's common that some small mistakes pass through our code reviews. I'll think about what's the best approach for this as we want to keep it as simple as possible.

[2021-02-08 08:56] vandelpavel commented on #1228
Empty strings will remove the inline property so in other therms it reset the initial one. Assume you want to animate an element with 0.5 opacity. Using this method will override the default one. I'll try visibility.

[2021-02-09 17:25] WarenGonzaga commented on #1126
@eltonmesquita assign @mehmetsagir for the task as he has the PR.

[2021-02-09 18:29] eltonmesquita commented on #1126
I can't do that as he's not in the org nor this conversation.

[2021-02-11 08:47] gilles6 opened #1234 "How to use animate.css with Nuxt.js"
How to configure Nuxt.js to be able to use animate.css ?

[2021-02-12 16:26] zedjr opened #1235 "Sass Version for 4.?"
Is there a sass version for animate css 4.?. I see a version for older 3.? done by a few others but none for this current library. Any plans for this in future.

[2021-02-12 17:31] eltonmesquita commented on #1235
Please see this [comment](https://github.com/animate-css/animate.css/pull/277#issuecomment-406763275) and if you got a few minutes, read all the issue so you can understand our motivation.

I'm closing this as it's solved already.

[2021-02-12 17:31] #1235 closed

[2021-02-13 15:46] #1224 closed

[2021-02-13 15:46] eltonmesquita commented on #1224
I'm closing this at it's stake and has not enough information.

[2021-02-16 09:23] WarenGonzaga commented on #1223
I guess we can take note of this internally... and take a look back soon.

[2021-02-16 09:25] WarenGonzaga commented on #1234
Installing it with Nuxt might be tricky... this one https://github.com/neneos/nuxt-animate.css/ might be helpful but I'm not recommending might be it uses the outdated version of animate.css

[2021-02-17 04:20] YashBhambhani12345 commented on #1221
Hello,my name is Yash Bhambhani. I am new to github. I want to contribute to your project.I have knowledge about css and html.
Please guide me how to go about it

[2021-02-17 04:22] WarenGonzaga commented on #1221
Hi do you have experience on gitflow?

[2021-02-17 04:23] WarenGonzaga commented on #1221
Sure thing will check it out... I guess I can make simple at first since I don't have real experience with workflows.

[2021-02-22 09:57] #1223 closed

[2021-02-22 09:57] #1234 closed

[2021-02-22 09:58] #1228 closed

[2021-02-23 19:30] yogeshtiwari24 commented on #1221
Hello, I am a newbie looking for someone to guide me to be a contributor in Github can anyone help me?

[2021-03-09 22:30] jozeflambrecht opened #1246 "Hide until animation starts"
For a caption in a slider, I am looking for the following behaviour:
1. slideInDown of title
2. slideInDown of subtitle

I have:
[code]
Now I want to hide the subtitle (h2) before the animation starts. Is this possible with animation.css?

[2021-03-11 18:15] #1246 closed

[2021-03-18 19:53] mitmelon opened #1250 "Bug Detected"
When using animate.css on a bootstrap card having menu dropdown, the menu dropdown card falls under the next card instead of falling ontop when you open the card menu.

The z-index must have been the issue here...

[2021-03-24 23:38] SatishChandraPalakoti opened #1252 "webpack 5 Integration issues for animate.css"
**Describe the bug** Module build fails

**To Reproduce** Execute the webpack command to run the project:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior** No errors to be yielded and project compiled successfully

**Screenshots**

**`Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
SassError: The target selector was not found.
Use "@

[2021-03-26 07:23] jasperf commented on #362
I am trying to use it to on slides. Perhaps the animation is already fired before the slide comes into view? Perhaps that is the issue? But if each slide is in view 5 seconds.. there will not be enough delay class wise to wait for let's say 15 seconds now will there be?

[2021-03-27 00:14] jasperf opened #1253 "Animation not executed in time"
I have added classes to a paragraph block inside a div on a slide (Unslider) using

[code]

I even added CSS for the element using

[code]

![slider animated block](https://user-images.githubusercontent.com/344138/112703942-59bd1000-8ecb-11eb-9b61-4b1283fecc38.png)

And it does seem to run on the second slide:

![animation does run](https://user-images.githubusercontent.com/344138/112704025-bd473d

[2021-03-27 00:30] jasperf commented on #1253
Hmmm never mind

[code]

Seems to kind of work. Just need to see if I can make the fade in more obvious on slide in. And I need to make it occur each round. But I think there are options for that. Closing issue for now.

[2021-03-27 00:30] #1253 closed

[2021-03-30 19:51] anas57687 opened #1256 "all effects fire at page load ready"
Hi friends,
I can't know how to submit this problem to you if this bad user experience or bug.
but when add animate class to any element even element at the end of page the effect fires after page load without scrolling to the element, so that meaning effects wouldn't appear correctly.
thanks a lot for this brilliant library.

[2021-03-31 19:04] Rishi1314 opened #1258 "Adding a new animation."
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like** A clear and concise description of what you want to happen.

**Describe alternatives you've considered** A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-31 19:06] Rishi1314 commented on #1258
Hey, I'm just starting my open source contribution path and was hoping if someone could guild me.
I know html and css and basics(animation) of js.
I was hoping to add a new animation, which is levitation or floating.

[2021-04-02 01:20] raen79 commented on #1250
I am running into the same issue!

[2021-04-02 01:31] raen79 commented on #1250
The solution is to set `animation-fill-mode` to `initial` instead of `both`.

[2021-04-03 08:55] #1250 closed

[2021-04-07 02:44] FxllenCode opened #1260 "Hover events cause onload animations to replay."
**Describe the bug**

I'm seeing some weird behavior when using the main class provided by CDN in the documentation. It happens after using a custom CSS class on a `:hover` event. Here is what is looks like:

![t9ErSmKybA](https://user-images.githubusercontent.com/40151425/113802720-32670e00-9729-11eb-8d94-045afdaf9029.gif)

It correctly fades in onload, but then it fades in again after the hover

[2021-04-09 21:58] dziku86 commented on #928
@rozhdestvenskiy

I filed a bug with this one https://bugs.chromium.org/p/chromium/issues/detail?id=1197680

[2021-04-16 10:49] TheFakeCake commented on #1256
This is the intended behavior if you just add the classes to your elements.

If you want dynamic behavior, like firing the animation when an element becomes visible (while scolling for example), you need some javascript to dynamicaly add the classes.

[2021-04-16 12:42] SamMousa opened #1267 "Make backout exits use a variable"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently the backout exits use hardcoded pixel translations. This has 2 drawbacks:
- It won't work for very large resolutions
- It creates a time gap between the `animationend` event and the UX of when the animation ends for smaller eleme

[2021-04-17 18:16] hdehal commented on #1077
@daneden Perhaps this was super obvious, but your example above took me much searching to find -- there are tons of related questions on how to simply import and get started with Animate.css on StackOverflow (with _wrong_ answers).

Wondering if we can add this to the existing documentation:

With yarn:

`$ yarn add animate.css`

[code]

[2021-04-17 22:21] hdehal commented on #994
@eltonmesquita Thank you for your work on this library.

Wanted to bubble this up -- looks like more than a handful of users would like to leverage delays using the library instead of writing additional CSS, e.g. for delays <1s above and beyond what's in the readme.

https://github.com/animate-css/animate.css/pull/1019
https://github.com/animate-css/animate.css/issues/1017
https://github.com/anima

[2021-04-19 14:55] eltonmesquita commented on #1077
@hdehal , it makes sense. I would gladly accept a PR with the adjustments and, if possible,  an additional note pointing out that it also depends on your tools and their specific configurations, as any bundler/task-runner/whatever will need proper configurations so the imports will work,

[2021-04-20 16:50] eltonmesquita commented on #1260
It's very hard to figure anything out without a live version. Can you please provide a reduced case on codepen or any other platform for we can try to debug the issue?

[2021-04-20 16:52] FxllenCode commented on #1260
@eltonmesquita

I can provide a public repo if that works?

[2021-04-20 17:32] eltonmesquita commented on #1258
Hey @Rishi1314, please check the [contribution section on docs ](https://animate.style/#license-contributing) and the [contributing guide](https://github.com/animate-css/animate.css/blob/main/CONTRIBUTING.md).

We do need help on issues and PR reviewing, so feel free to help where you feel more comfortable. I'm closing this to keep the repo tidy.

[2021-04-20 17:32] #1258 closed

[2021-04-20 17:35] eltonmesquita commented on #1252
Sorry but this is not an animate.css issue but a webpack configuration one. You can try to find help on stackoverflow as the chances are higher on getting some help on that.

I'm closing this as it's unrelated to this library.

[2021-04-20 17:35] #1252 closed

[2021-04-20 17:35] eltonmesquita commented on #1256
Thanks for

[2021-04-20 17:35] #1256 closed

[2021-04-20 18:01] WarenGonzaga commented on #1267
Hi @SamMousa I'll review your feature request and get back to you.

[2021-04-20 23:29] FxllenCode commented on #1260
Hey @eltonmesquita,

Here's a pen that clearly shows the issue. Just hover over one of the cards and notice that `onload` fires right after:

https://codepen.io/FxllenCode/pen/ExZdORz

[2021-04-22 23:17] chumager opened #1269 "Add more CSS variables."
**Is your feature request related to a problem? Please describe.**
Hi, I was testing you CSS with some structures inside div columns, and because your "in" animations works with 100% translation, there are no lateral, or vertical movement.

**Describe the solution you'd like** A clear and concise description of what you want to happen.
You already have several CSS variables defined, could you defi

[2021-04-23 12:01] eltonmesquita commented on #1260
This is just how CSS works, every time a hover event happens it starts the animation (wobble) because you're overriding the previous value (zoomIn). When it fires the hover-out event the first declaration (zoomIn) will override the second one (wobble). It's not an issue nor a bug with the library or CSS it's just the intended CSS behaviour.

To work around this just wrap the `<li/>` content in a `

[2021-04-23 12:01] #1260 closed

[2021-05-22 06:32] quantrpeter opened #1288 "latest chrome not work, even official website"
hi, latest chrome not work, even official website, https://animate.style/

[2021-05-24 10:47] eltonmesquita commented on #1288
Please check your animation settings in your OS as we use the `prefers-reduced-motion` [media](https://animate.style/#accessibility) [query](https://animate.style/#best-practices)

[2021-05-24 10:47] #1288 closed

[2021-06-04 13:02] StephanBis opened #1295 "Play all animations regardless of viewport"
By default animations are played when they are in the viewport, so when you scroll down items animate in. But is there a way to disable this behaviour to play all the animations regardless if they're in the viewport? Thanks in advance.

[2021-06-04 13:19] #1295 closed

[2021-06-10 12:30] FatimaMazhit commented on #993
I just tried it with animate.css@4.1.1 it didn't work. Then i switched to vue docs cdn version it worked and right now it's working in vue:
animate.css@3.5.1
vue@2.6.14
in app.js:
import "animate.css/animate.css";

[2021-06-10 13:49] WarenGonzaga commented on #1269
Hi there, thanks for the suggestion @chumager!

Actually, this is a great idea I can work on it this... however let's wait for @eltonmesquita decision.

[2021-06-10 13:51] WarenGonzaga commented on #1126
Hi @eltonmesquita, what's the plan here? It seems both is not responding?

[2021-06-10 13:58] mehmetsagir commented on #1126
@WarenGonzaga I made the final edits for the PR(#1217 ) and sent it. However, I have not yet received a response.

[2021-06-11 02:36] WarenGonzaga commented on #1126
Yeah, all good I'm waiting for @eltonmesquita decision.

[2021-06-11 11:32] prototype23 opened #1307 "Custom build does not work on windows? v4.1.1"
Hello, when i'm trying to generate a custom build using your [instructions](https://animate.style/#custom-builds), the generated files are not correct.
They have the imports and not the actual css rules.

Any idea?

Windows 10, node.js v14.15.5 and v16.3.0

[2021-06-11 16:21] chumager commented on #1269
Great...

Regards.

[2021-06-17 21:34] fm3o5 commented on #993
This seems to solve my issue before it was like this

`import './assets/css/animate.min.css';` in `main.js`

Now I have removed this and added these lines.
`import AnimateCSS from 'animate.css';` and `Vue.use(AnimateCSS);`

[2021-06-18 05:12] WarenGonzaga commented on #993
Hi, @eltonmesquita I guess it is worth pinning this issue on our issue tracker?

[2021-06-18 05:15] WarenGonzaga commented on #1307
Hi there,

Let us take a look at your issue... I'll get back to you.

[2021-06-19 21:01] eltonmesquita commented on #1307
Sorry, but can you please elaborate on the issue? What is not correct in the files? What node version are you using?

[2021-06-20 08:44] WarenGonzaga commented on #1307
As per checking there is no issue on my end... everything works fine.

It might be on your setup? Please give us more information.

[2021-06-20 10:00] prototype23 commented on #1307
I will retry and let you know. I tried on wi dows 10 back then, with the
latest, and lts nodejs version. Also tried two command line boxes. Windows
native and visual studio code terminal.

On Sun, Jun 20, 2021, 11:44 Waren Gonzaga ***@***.***> wrote:

[2021-06-20 10:40] WarenGonzaga commented on #1307
Awesome, Let us know... thanks!

[2021-06-22 14:06] sjInside opened #1314 "Variable opacity states for fade animations"
**Is your feature request related to a problem? Please describe.**
Hi, when I am using fade animations (e. g. fadeInLeft) I whould like to be able to specify the boundaries of my opacity.

**Describe the solution you'd like**
In addition to the existing CSS variables you could add variables for the opacity set by the animations.

Something like:

`@keyframes fadeInLeft {
   from {
    opacity: var

[2021-06-24 15:39] prototype23 commented on #1307
Still the same issue
![image](https://user-images.githubusercontent.com/14275025/123292203-7e04a900-d51b-11eb-9a56-cf577c447a9c.png)

[2021-06-24 20:59] rommyarb commented on #1234
To be able to use **Utility classes**, define the 'animate.min.css' file in your `nuxt.config.js`
[code]

Now you can use utility classes,
[code]

[2021-06-25 04:01] wangzl8128 opened #1316 "how can use the animate end and delay 2s then start? not use js."

[2021-06-25 17:50] WarenGonzaga commented on #1307
![image](https://user-images.githubusercontent.com/15052701/123465496-c8238280-d620-11eb-8c41-f26235921648.png)

I would suggest deleting the whole local repo and re-clone it.

No issues on my end. I'm also using Windows.

[2021-07-03 18:02] Shubham56-droid commented on #1316
you can use animation-delay:2s;  in CSS.

[2021-07-06 10:14] #1316 closed

[2021-07-06 10:15] eltonmesquita commented on #1307
Should I close this @prototype23 ? There doesn't seem to be any issue.

[2021-07-06 10:17] eltonmesquita commented on #1126
Solved by #1217 .

[2021-07-06 10:17] #1126 closed

[2021-07-07 05:38] georgeheginbotham opened #1326 "How do I animate on Scroll (Hugo site)"
Hey guys I have animations imported with animate.css (https://animate.style/ 1) but I’d like them to activate on scroll. I’ve struggled to find a solid piece of information that can help me so I’m hoping you guys could help fill the gap.

You can see the animation in effect when you disable and enable it by the “Our Process” section on the header tag (when you disable and enable it in inspect mode

[2021-07-07 08:47] eltonmesquita commented on #1326
Pease see #1006. As it's unrelated to to library and we can't provide much help, I'm closing this.

[2021-07-07 08:47] #1326 closed

[2021-07-10 14:03] Halfdann opened #1327 "Migration from 3.xx to 4 - animations does not work"
Hello,

Animations working as usual with:
https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css
On a simple div element using classes: animated slideInLeft

Switching to v4.:
this https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css or
https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css

Tested on the same alement before - remove the p

[2021-07-11 17:10] Dari4sho commented on #1307
I just encountered this as well. The thing is, I tried it inside the installed package on my project (`node_modules/animate.css/`), looks like you tried the same @prototype23 .

In the module, the config files are not present. You can see it when you clone this repo:

![image](https://user-images.githubusercontent.com/3308604/125204017-6f3c2700-e27b-11eb-86de-9c901f2aa1bd.png)

compared with the m

[2021-07-12 00:21] WarenGonzaga commented on #1307
Basically, you'll get errors if you use animate.css as a module and create a custom animation?

[2021-07-12 10:10] eltonmesquita commented on #1307
Thanks for this info @Dari4sho. You are completely right, a custom build will probably not work when trying to build it from the node_module folder in a project, you'd have to clone it to make it work. This happens because we ship as few files as possible which makes building out of it impossible.

But now I'm curious about not being able to import individual source files, I never actually tried i

[2021-07-12 10:12] eltonmesquita commented on #1327
Sorry, but it is very hard to help with so little info and no live, reduced case. If you can get it live on codepen or somewhere else hit us back so we can have a look at it.

[2021-07-13 09:41] dazza041 commented on #1307
I've also encountered this (but on Mac, not Windows), where it would be really useful to allow custom builds straight out of node_modules rather than re-cloning the files. Removing the necessity for placing these files in themes/repositories not only keeps our versioning smaller, but also allows our teams to adapt builds quicker.

With improvements, or fixes, this repository may make you are then

[2021-07-15 11:27] eltonmesquita commented on #1307
We probably won't support building the project from the `node_modules` folder because of the way we use postcss, which breaks a few bundlers and is known to be unreliable depending on your setup (yarn, npm, Windows, MacOS, Linux...).

What seems to be much more reasonable is to make importing the source files directly using the main bundlers out there. This is a much better option than custom buil

[2021-07-15 11:31] eltonmesquita opened #1331 "Make sure importing source files is possible"
We should make sure that it's possible to import individual source files directly from the node_modules so developers won't need to resort to custom builds which are very annoying to maintain and not very practical these days.

I think we should check/add support for at least:
- [ ] Webpack
- [ ] Rollup
- [ ] Parcel

Have a look at #1307 for more context.

[2021-07-17 12:36] shamonhashmi commented on #1221
#1273

[2021-07-17 12:37] shamonhashmi commented on #1221
[https://github.com/animate-css/animate.css/pull/1273](url)

[2021-07-18 07:15] WarenGonzaga commented on #1221
Thanks @shamonhashmi for the PR we'll check it out.

[2021-07-19 04:10] Leman214 opened #1332 "Problem with normalize"
I have an issue with normalize, because i wrote that:

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

and it has no effect, look:

![image](https://user-images.githubusercontent.com/55116683/126101653-a9609ff4-bb6a-4e91-9d39-fa0782798b3f.png)

someone can help me, please?

pd sory about my english, im from argentina

[2021-07-19 10:05] eltonmesquita commented on #1332
Sorry, but I think you created the issue in the wrong repo. Also, you'll get more help on a site like stackoverflow not the library's issue tracker which is dedicated to issues with the library itself, not usage. When you ask for help on stackoverflow, make sure you give more details a be as descriptive as you get. Using Google Translator is a good call if you're not confident in your English skil

[2021-07-20 11:34] #1332 closed

[2021-07-22 12:06] ghutiyuj commented on #1204
All in all, Guo Wengui has been trapped in an endless loop, and there is no way out. He cannot repay the debt and will be in trouble with the law. Investors in PAX and Guo Group are not prepared to give up that easily. In addition, The crown prince of the United Arab Emirates is not a pushover. In this situation, committing fraud will increase the risks, like licking blood on the blade or struggli

[2021-07-25 16:11] sweebee opened #1337 "Animations don’t work on Chrome iOS"
The animations don’t work on Chrome on iOS. They work fine in Safari.

[2021-07-25 16:15] sweebee commented on #1337
Reduce motion is disabled on my iPhone.

[2021-07-27 11:57] #1337 closed

[2021-07-27 11:58] sweebee commented on #1337
Why is this issue closed?

[2021-07-29 19:11] eltonmesquita commented on #1327
Closing this as we've got no answer.

[2021-07-29 19:11] #1327 closed

[2021-07-29 19:11] #1307 closed

[2021-08-03 10:02] eltonmesquita commented on #1204
postCSS and its "plugin" were updated on #1339. Now we just need to follow the migration guide to make sure we're using postCSS properly.

[2021-08-04 10:14] MattiaDucci opened #1343 "SlideInDown Safari 13"
When I try to apply the `slideInDown` class to my DOM element in Safari 13 the animation works, but at the end the animated element disappears. In Google Chrome this doesn't happen. Instead the `fadeInDown` animation works fine even in Safari.
Thank you

[2021-08-05 13:12] eltonmesquita commented on #1343
A few things:
- [ ] Make sure that you read the [Best practices](https://animate.style/#docSection-best-practices) section, mainly the **Mind the initial and final state of your elements** part.
- [ ] **Check if this happens on [our website](https://animate.style/).**

If the bug shows on our website too, please report it here. If it doesn't happen on our website, it's probably a usage issue and y

[2021-08-09 12:32] eltonmesquita commented on #1343
Hey @MattiaDucci , I'm leaning on closing this as we didn't get any response.

[2021-08-10 07:08] Zzdl opened #1345 "css modules"
how i can use that in css modules?

[2021-08-10 07:47] eltonmesquita commented on #1345
It should work the same way as the [CSS modules documentation outlines.](https://github.com/css-modules/css-modules) You just have to make sure that you're using both animate classes including the prefix as [our documentation details](https://animate.style/#usage).

[2021-08-10 07:52] #1345 closed

[2021-08-10 07:53] Zzdl commented on #1345
OK. I've got it. Thank you!

[2021-08-12 13:44] eltonmesquita commented on #1343
I'm closing it as I've got no response.

[2021-08-12 13:44] #1343 closed

[2021-08-24 09:45] lld666 commented on #1331
nice

[2021-09-03 03:21] WarenGonzaga commented on #1314
Thanks for the suggestion guys, I'll work on it! 🚀😁
Can you assign this to me @eltonmesquita?

[2021-09-03 03:24] WarenGonzaga commented on #1269
Alright, it looks like @eltonmesquita agree to add this feature in version 5.
Can you assign this to me @eltonmesquita? 🚀😁

[2021-09-03 03:25] WarenGonzaga commented on #1331
How about starting with webpack @eltonmesquita?

[2021-09-03 03:26] WarenGonzaga commented on #1267
Hi @SamMousa did you try to PR?

[2021-09-03 03:34] WarenGonzaga commented on #1221
if you are looking for repo that needs help you can check my other open-source.

[2021-09-03 06:32] SamMousa commented on #1267
Nope, turns out priorities changed and I forgot about this one...

[2021-09-03 06:38] WarenGonzaga commented on #1267
Let us know if you still want to PR so we can work on it.
I'm gonna be free in the next few weeks.

[2021-09-03 06:43] SamMousa commented on #1267
Please go ahead then! Thanks I'm advance 😊

[2021-09-03 10:35] WarenGonzaga commented on #1267
Thanks, will add this on v5 🚀

[2021-09-14 07:17] 1963Igor opened #1356 "Device productivity It is a question to make the code independent on device productivity. Perhaps one know how?"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like** A clear and concise description of what you want to happen.

**Describe alternatives you've considered** A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-14 11:20] #1356 closed

[2021-09-19 19:04] joeworkman opened #1358 "Browserslist not working?"
I have configured `browserslist` to just contain `last 2 versions` and for some reason all of the webkit prefixes are still getting added. I search several individual properties on caniuse and, from I can see, all webkit browsers do not require the prefixed property. I tried to figure out how to output what it thinks `last 2 versions` is but could not figure it out.

**To Reproduce** Steps to repr

[2021-09-20 10:32] ramanjitsingh-hub commented on #1331
I am a newbie can you verify that this problem can be solved using this link https://webpack.js.org/guides/getting-started/
I have time to combine a pr please go through this as I definitely need guidance

[2021-09-20 11:47] WarenGonzaga commented on #1358
Thanks for reporting this issue @joeworkman I'll check this out.

[2021-09-20 12:02] eltonmesquita commented on #1358
As we provide the library compiled with some prefixes I think that any bundler will just keep those and not remove them. If you want to have your own compiled version, you'll have to import things directly from the `src` folder, which might work but we still didn't test it yet to confirm.

It will probably work just fine in the next major version. You can follow the work and discussion about it on

[2021-09-20 12:02] #1358 closed

[2021-09-20 15:54] joeworkman commented on #1331
Have a look at esbuild as well... https://esbuild.github.io

[2021-09-20 16:07] WarenGonzaga commented on #1331
This is promising I need to check this out first. Thanks for sharing @joeworkman.

[2021-09-20 16:32] joeworkman commented on #1358
I have to admit that I am not familiar enough with postcss to figure that out. I could build it with Sass but then you lose the prefixes for all of the classes. This seems like a very reasonable thing to do and probably not difficult of an option to add if you are familiar with postcss (but I could be wrong).

[2021-09-20 16:56] ramanjitsingh-hub commented on #1331
I can combine a pr if someone can guide me through it

[2021-09-22 09:02] eltonmesquita commented on #1358
Just to clarify and for posterity, parsing properties with or without prefixes is the same for browsers. Having prefixes shouldn't slow down any webpage at all as the browser will only apply one of the declared version of any css property for any element, that's why we are very careful with the order we declare them (autoprefixer is, actually). Even very underpowered devices won't struggle to pars

[2021-09-23 13:25] aFuzzyBear opened #1364 "The Hippocratic License is not appropriated to this library"
Hi guys,

I do hope you are well, I want to firstly say I do enjoy your project. I think its innovative and a brilliant application of the WAAPI. My issue is not with the program its more with your end user agreement.

I particular wish to point out that having read such a lofty aspirational text this, has little legal weight in very few courts in the land. Albeit the principles are held to the UN

[2021-09-23 22:22] MOODYWAA500 opened #1365 "!the site is not working for hour now"
**Describe the bug** A clear and concise description of what the bug is.

**To Reproduce** Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior** A clear and concise description of what you expected to happen.

**Screenshots** If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2021-09-24 18:39] #1365 closed

[2021-09-29 11:27] eltonmesquita commented on #1331
This might not need a PR. The main task is to verify if it's possible today and if any change is required on our side, then putting a PR together with the fix will be the way to go.

Just a reminder that it already works when importing the main files in the root of the project, we just need to be sure that importing the source files, in the `source` directory, work properly in these main bundlers.

[2021-10-02 20:14] folknor commented on #1364
It's worth noting that all old versions of the library are still licensed under MIT. Only new releases are supposedly under the new license. MIT allows anyone who has a MIT-stamped copy of the code to potentially sublicense the code and distribute it however they want.

So all my projects are locked at animate.css 4.1.1, and if they both nuke the git commit history _and_ remove/change the files at

[2021-10-02 23:06] clifftm opened #1370 "Stuck when 2 animation classes at same element"
Hello, and sorry for my bad english =)

When adding at least two animation classes to an element, some variations of them cause an animation to stuck, and even not playing the second. I'v made an [example](https://codepen.io/clf/pen/jOwRoPK).

As you can see, when i add, for example rubberBand and after 1 second wobble, all 2 animations play correctly each after another.
But otherwise when 1st ani

[2021-10-03 05:12] brc-dd opened #1371 "[RFC] More consistent definitions and better accessibility"
I would like to highlight a few things that can be fixed in upcoming versions.

1. Back entrances

   * At `0%`, there is stuff like `translateY(-1200px) scale(0.7)` with `opacity: 0.7`. Does these magic values (1200, 2000) work on all screen resolutions (especially 4K screens or like)? By "work", I meant it is an entrance, it should come from off-screen. Why not define these in terms of viewport

[2021-10-04 20:19] WarenGonzaga opened #1375 "GitHub Discussions for Animate.css"
Hello, animate.css community!

I would like to know if it is good to add a discussions section here in our repository for questions, suggestions, ideas, showcases, and more. Instead of using third-party services just to create a forum-like environment.

Anyone?

cc: @eltonmesquita

[2021-10-05 01:24] KodingKhurram commented on #1375
Yes, seems interesting, as people can post their stuffs there, posting it in issues will be off topic, for ideas, suggestions, etc. Good idea.

[2021-10-05 10:45] thefubon opened #1378 "Appearance of blocks one by one Delay:500"
Please tell me how to make elements appear one after the other after 3 seconds, just like it is done in UIKIT ?
https://getuikit.com/docs/scrollspy#set-code-cls-code-option-per-target

[2021-10-05 10:48] thefubon commented on #1378
animation-delay:2s

[2021-10-05 10:48] #1378 closed

[2021-10-05 10:52] thefubon commented on #1378
Auto Deley
<div class="delay-auto-5s">
  <div>
  <div>
</div>

[2021-10-05 10:52] thefubon opened #1379 "Auto Delay:500"
Please tell me how to make elements appear one after the other after 3 seconds, just like it is done in UIKIT ?
https://getuikit.com/docs/scrollspy#set-code-cls-code-option-per-target

[2021-10-05 10:56] KodingKhurram commented on #1379
class="animate__animated animate__bounce animation-delay-3s" in element, or in css --animation-delay : 3s;, or if you need more delay you can use javascript/jquery to stall the animation, then add the classes.

[2021-10-05 11:18] thefubon commented on #1379
How to make it appear when only in the visibility of the scrolling screen was.

[2021-10-05 11:21] KodingKhurram commented on #1379
That's a different thing, animate.css is like a static animation library, you can use javascript/jquery to determine when the element appears on screen then add animation classes.

[2021-10-06 04:35] WarenGonzaga commented on #1379
Hi @thefubon, yes I would advise combining it with JS. Also, you are correct @KodingKhurram animate.css is a static animation library. If you want advanced animation I would advise using JS animation or a combination of animate.css with JS.

[2021-10-06 06:46] KodingKhurram commented on #1379
Hello, @WarenGonzaga

I 'am working on a small library, combining JavaScript/jQuery and animate.css, it's almost ready for first use, but I don't know where to post it, should I create an issue for it, or will you make a new channel for discussion and stuffs.

[2021-10-06 06:51] WarenGonzaga commented on #1379
You can create a new issue for now as we are finalizing to add discussion or not.

cc:@eltonmesquita @daneden

[2021-10-06 07:24] KodingKhurram opened #1382 "Animate.css-Dynamic, combining JavaScript/jQuery and Animate.css"
Hello guys,

I have been using animate.css library for academic project from few months, it's amazing animation library and very easy to use, but the thing is it's a static library and you don't have control on animations as such, you have to do some external work on it using JS/jQuery, I did the same for my academic project.

Then I thought of generalizing it and making it like a library, so I tr

[2021-10-08 04:54] KodingKhurram commented on #1382
@WarenGonzaga, good to hear that, I am looking up to it :)

While I was working on this, I realized lot of things can be done, I don't know how difficult it would be, with respect to implementation, but don't cry before try.

First of all, I want to make this fully stable to use, then there are some plans on "utility functions", and as you see "custom animations" is an open and clear feature now,

[2021-10-10 10:37] ashutosh61973 commented on #1375
good idea

[2021-10-13 16:28] WarenGonzaga commented on #1375
Let's be clear before they use our discussion tab. I agree with you, the forum would definitely be all about CSS usage with animate.css and if the question or the topic is beyond what supposed to be we'll ask them to search on StackOverflow instead.

[2021-10-15 09:18] WarenGonzaga commented on #1379
Hi @eltonmesquita I guess it is now good to close this issue.

[2021-10-15 10:14] #1379 closed

[2021-10-21 03:45] adarsh02raj opened #1390 "solve"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like** A clear and concise description of what you want to happen.

**Describe alternatives you've considered** A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-30 09:01] bdmariobd opened #1398 "Add "animate__animated" when you copy-paste on https://animate.style"
It should help a bit.
Also, I wanted to request adding CDN information to this repository "readme".
Cool library BTW!

[2021-10-31 09:39] KodingKhurram commented on #1382
Here is [v2.9.2](https://github.com/KodingKhurram/animate.css-dynamic/releases/tag/v2.9.2) just a little step towards optimization.

[2021-10-31 11:15] FAvE01 opened #1399 "Animated css"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like** A clear and concise description of what you want to happen.

**Describe alternatives you've considered** A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-31 11:15] #1399 closed

[2021-11-01 03:55] KodingKhurram opened #1400 "Split rotateIn entrance as "rotateInClock" and "rotateInAntiClock""
The current `rotateIn` entrance animation rotates in with **anticlockwise** direction, it would be good idea split them apart with both clock and aniticlock directions.

I don't think you need any pen or example for this, small tweaks and we are done, but still here is the pen if you ask, [the_pen](https://codepen.io/KodingKhurram/pen/mdMEYPe).

As there are clock and anticlockwise `rotateIn` anim

[2021-11-03 03:54] KodingKhurram commented on #1370
@clifftm here is what you wanted [the_pen](https://codepen.io/KodingKhurram/pen/oNepgxd)

Feel free to share your thoughts :)

[2021-11-06 12:11] sertaco commented on #1204
Thumbs up!
Enjoying your lib immensely, great job. But animate.css is now blocking me from using tailwind because of the lack of PostCSS 8. Cheering for you for the release, it looks like it is almost there.

[2021-11-06 12:55] WarenGonzaga commented on #1204
Hi @sertaco, we'll make sure that in our coming release the postCSS will be updated.

[2021-11-06 13:20] WarenGonzaga commented on #1400
Alright, thanks for the suggestion! We'll review it and get back to you.

[2021-11-06 13:22] WarenGonzaga commented on #1398
Hi @bdmariobd actually you can check out the [official website](https://animate.style/#usage).

We have a CDN in the installation section. Also, the README file on this repo keeps it as simple as possible.
All the information can be found on the website.

Can you close this? @eltonmesquita

[2021-11-06 13:23] WarenGonzaga commented on #1398
Wait, let me create a PR for your request @bdmariobd for a moment.

[2021-11-08 12:14] eltonmesquita commented on #1204
@sertaco animate.css should work with tailwind no matter our postCSS version because we don't actually - anymore - anything related to postCSS. We only ship the minimal files needed (compiled and source CSS and package.json file). Could you detail your problem?

[2021-11-12 16:18] sertaco commented on #1204
Thanks @eltonmesquita for the explanation. my npm was complaining about animate's postcss dependency but after upgrading all packages in package.json and clean installing I do not have the error anymore. Not sure exactly why I was getting the error maybe an earlier version install remnants in lock.json. not sure but thanks, it works now.

[2021-11-14 14:12] WarenGonzaga commented on #1204
If it is a Warning that's good, you can ignore it. If it is an error, then you have to do something.

[2021-11-15 09:48] Rvervuurt opened #1406 "Update NPM-package so it correctly reflects class names"
I added Animate.css through NPM today, and couldn't figure out why the animations weren't working. I was doing everything as I written on [the NPM page](https://www.npmjs.com/package/animate.css/v/3.7.0).

However, what I found out when I went to the demo page, you changed the classes that have to be added to the elements you want to animate.
It's actually the first step after including the css-fi

[2021-11-17 10:00] eltonmesquita commented on #1406
Hey @Rvervuurt, the page you're pointing at is for an older version - v3.7.0 - and can't be changed. [The latest published version on npm has the current documentation](https://www.npmjs.com/package/animate.css).

I'm closing this as it's not an issue.

[2021-11-17 10:00] #1406 closed

[2021-11-17 23:19] Cool-Scratcher opened #1410 "Animation trigger on hover"
**Is your feature request related to a problem? Please describe.** There's currently no way that I know of in animate.css to trigger an animation on text or an element being hovered upon.

**Describe the solution you'd like** Could this be a feature within the library itself? (Sorry if I seem kind of clueless, I'm only 13 and not very familiar with the ins and outs of coding. I'm learning, though

[2021-11-18 10:24] KodingKhurram commented on #1410
Hello @Cool-Scratcher , I know animate.css doesn't provide such feature now, but you can simply do this.
`.element:hover{
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
}`
or use JavaScript/jQuery for the same.

You may like to have a look at [this](https://animate-dynamic.ga) library.

Happy learning :)

[2021-11-21 11:51] WarenGonzaga commented on #1410
I guess I can add this feature, and I will call it triggers? 🤔

[2021-11-21 23:45] nascarjake commented on #1410
Looking forward to this update - would love a simple way to apply hover animations

[2021-11-22 02:51] WarenGonzaga commented on #1410
Let me see what I can do...

[2021-11-26 11:40] Nickyg001 opened #1418 "Multiple animations in sequence"
I state that I do not know if currently it can already be done, I have not been able to find anything about this thing.

I wish I could apply sequential animations spaced out over time. example:

The first "animate__backInRight" animation starts
At the end of the backInRight animation, the second animation starts
"animate__tada", it is possible to apply a repeat_3 or infinite or other functionalit

[2021-11-26 16:48] KodingKhurram commented on #1418
Hello @Nickyg001
This seems out of reach using only animate.css library, you can achieve this with JavaScript/jQuery
like this `$(elem).addClass("animate__animated animate__backInRight"); elem.addEventListener('animationend', () => { $(elem).removeClass("animate__animated animate__backInRight"); $(elem).addClass("animate__animated animate__tada animate__repeat-3"); }`

Example [pen](https://codepe

[2021-12-04 11:03] KodingKhurram commented on #1382
Version [v2.13.5](https://github.com/KodingKhurram/animate.css-dynamic/releases/tag/v2.13.5) a custom animation and more.

[2021-12-08 03:59] mukhyyar opened #1426 "Apply animate when element comes into viewport"
could you please guide or help me out how to apply animation when comes into viewport as I'm not able to see any viewport guide / documentation on your website.

[2021-12-08 09:33] eltonmesquita commented on #1426
See #1078.

[2021-12-08 09:33] #1426 closed

[2021-12-08 22:11] AlonsoK28 commented on #1073
Thanks, I think that an escenario like this sholud be documented in official docs

[2021-12-09 18:01] ksIsCute opened #1427 "how to use with github pages"
Im making a website with github pages, and im wondering how I can impliment this into my site.

[2021-12-10 10:02] eltonmesquita commented on #1375
I just enabled the discussion feature. You can [check it here](https://github.com/animate-css/animate.css/discussions). I hope things go smoothly.

[2021-12-10 10:02] #1375 closed

[2021-12-10 10:06] #1370 closed

[2021-12-10 10:17] WarenGonzaga commented on #1375
Do I have some permission to set it up? I love to do it...

[2021-12-10 17:03] seanrasmussen commented on #1307
I have the same issue. From the docs on the animate.css website, it seems like you should just be able to run "start" in the /node_modules/animate.css folder and have it minimize etc... Right now it does nothing. It sounds like it's not supposed to work in the node folder, so maybe make a note of that in the documentation? It's not clear how to make custom builds.

[2021-12-14 12:54] anujay419 opened #1433 "Dark/Light Mode Transition"
The Dark/light mode transition function is not working
on clicking, no results are there.

[2021-12-16 04:25] swapnilnandgave commented on #1234
How can we use that for page transitions?

[2021-12-16 10:59] eltonmesquita commented on #1433
Can you share more details? I've tried and it worked just fine for me

[2021-12-22 19:37] vijayantkatyal commented on #807
@jsachs99

wrap the element inside another element (and apply animation to outside element)

https://github.com/animate-css/animate.css/issues/924#issuecomment-492453666

[2021-12-28 12:41] #1433 closed

[2021-12-29 18:00] Aspie96 commented on #1364
No. They only need to keep the text of the MIT license. The MIT license is not a copyleft license (it is a free software license, just not a copyleft one), so dual licensing is not required.

[2022-01-02 23:14] N3rdP1um23 opened #1442 "Some animations not working"
**Describe the bug**
I've just upgraded a project from v3 to v4 and followed the migration steps on the site. When using the `rubberBand` animation, v4 no longer works correctly (don't execute at all) along with a few other "Attention seekers" animations.

**To Reproduce**
Including sample JSFiddles with sample code to demonstrate the issue

- **rubberBand** - not working - https://jsfiddle.net/20

[2022-01-03 05:09] N3rdP1um23 commented on #1442
Okay, I've played around with it a little more and have found some additional info online. I also realized I was using the wrong element when testing 🙃 haha

Anyways, for the `rubberBand` JSFiddle, if you add `display: inline-block;` to the span, the animation works without issue. I found this out after stumbling across the following
- https://stackoverflow.com/a/32991609
- https://stackoverflow.c

[2022-01-03 10:53] KodingKhurram commented on #1442
Hello @N3rdP1um23

This kinda behavior is already addressed [in gotchas](https://animate.style/#gotchas) of official site.

Yaah, `display: block` is makes it an entire block in the page just like a `div` and the width is `100%` to the parent element so the animation looks weird because it is executed on the whole block no matter inner content.

[2022-01-03 13:53] N3rdP1um23 commented on #1442
Ahh _gotcha_ haha and oh man, I don't know how I completely missed that. I think when I was scrolling through the docs, I got to the "Don't disable the prefers-reduced-motion media query" section and saw the "Usage with Javascript" and jumped right over that "Gotchas", my bad.

Thanks again for that! And yeah, that makes complete sense :)

[2022-01-03 13:53] #1442 closed

[2022-01-06 16:43] scolastico commented on #1234
Same question here: How can we use that for page transitions?

[2022-01-12 09:31] #1418 closed

[2022-01-12 10:34] #1398 closed

[2022-01-12 11:08] eltonmesquita commented on #1073
I updated the docs on #1451 to warn about this scenario.

[2022-01-12 11:15] eltonmesquita commented on #1331
I've tried it out with webpack and `css-loader` and it worked just fine. It's just a bit weird to use as you have to point to the whole path for the file for it to work. Like this:
[code]
It's not very practical. I'm not sure if we can provide a better way to use it without using some js, which I'm open to. Maybe an `index.js` file exporting all the CSS files could work?

[2022-01-12 11:17] eltonmesquita commented on #1307
I just added the note to the docs on #1451

[2022-01-26 21:18] Cyberchicken opened #1462 "hinge triggers immediately"
Applying "animate__hinge" class to an element triggers the animation as soon as the page is loaded,
while the documentation suggests that the trigger should be the "animate__animated" class.

The demo works beacause it adds both classes at once.

My setup to reproduce on Google Chrome Version 97.0.4692.71 (Official Build) (64-bit):
[code]

Expected behavior: no animation.

The few other animations

[2022-01-27 09:32] eltonmesquita commented on #1462
See https://github.com/animate-css/animate.css/discussions/1453

[2022-01-27 09:32] #1462 closed

[2022-01-27 12:44] Cyberchicken commented on #1462
I think I deserve an answer: if "animate__animated" is not the trigger, what's its purpose?

[2022-01-30 15:55] WarenGonzaga commented on #1364
I guess @eltonmesquita we can move this to the Discussion instead here in the issue. 🤔

[2022-02-09 14:18] christopherpickering opened #1472 "SASS build warning using / for division outside of calc"
Building the source from the npm pacakge with `sass` gives a depreciation warning:

[code]

[2022-02-09 14:19] christopherpickering commented on #1472
opps wrong repo!

[2022-02-09 14:19] #1472 closed

[2022-02-10 15:09] fschatbot opened #1474 "Property tag for smoother animation!"
**Is your feature request related to a problem? Please describe.** Sometimes when using the `--animate-duration` the animation is not smooth and just glitches out!

**Describe the solution you'd like** I would like the developers to use the [`@property`](https://developer.mozilla.org/en-US/docs/Web/CSS/@property) tag. This will allow the CSS to not skip few animations as it will knows that the var

[2022-02-15 09:49] eltonmesquita commented on #1474
This is intriguing as we never had any report about this. Any codepen or similar with a reproduction of this would be fantastic. I don't understand why the `@property` would fix this particular case. Without much consideration, I'd think that providing a [fallback values](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#custom_property_fallback_values) might have more e

[2022-02-16 22:53] Miserlou commented on #1364
The new "license" is a really not a good move. I get it that you don't like it when your software is used by people you don't like, but that's the nature of free software. With this solution you're just stealing the work of the 121 other contributors to the project and wrapping it under your bogus license without their permission. Unless you got copyright assignment, you're violating _their_ right

[2022-02-20 14:43] bacloud22 opened #1483 "Website throwing « script-src » and no animations"
Some script is not being properly loaded on the [website](https://animate.style/).

[2022-02-26 17:40] bacloud22 commented on #1483
On my phone, now it is fine. I will check on my pc then come back to you

[2022-02-26 19:14] bacloud22 commented on #1483
I just check it, So this is not animate.css issue !! I'm wrong.

First, I had some CSP error because of one of my extensions.
The animation itself is not showing, but I think you support that having this message

[2022-02-26 19:14] #1483 closed

[2022-03-01 16:04] Popeyee opened #1488 "Animate when on view (scroll to that part)"

[2022-03-02 14:08] KodingKhurram commented on #1488
Hello @Popeyee ,

Have a look at [this](https://github.com/animate-css/animate.css/discussions/1453)

[2022-03-03 17:49] #1488 closed

[2022-03-10 10:06] eMeRiKa13 commented on #1316
Hi,

I'm trying to add a delay between two repetitions in an infinite loop. The documentation indicates:

[code]

So I'm curious how you made it worked with "animation-delay:2s; in CSS" ?

Thanks

[2022-03-10 10:14] warengonzaga commented on #1316
I think you can achieve this by doing a separate animation one without delay and the one with delay.

[2022-03-10 13:28] eMeRiKa13 commented on #1316
Thanks for your answer. With this method, I will be able to have two repetitions, not an infinite animation with a pause each time between the animations?

[2022-03-10 15:02] KodingKhurram commented on #1316
Seems interesting,

But there is no way to achieve this without the help of JS, with JS my friend you can do many things.

[2022-03-10 15:11] warengonzaga commented on #1316
looks like you are referring to chain animation? we're still thinking of adding this to the build.

[2022-03-10 15:11] warengonzaga commented on #1316
yup, you can control the animate.css animation with help of JS.

[2022-03-10 15:27] KodingKhurram commented on #1316
Yes sir,

@eMeRiKa13 If you need chain of animation you can use "animationend" property in JS and just play with it.

Look at some [examples](https://animate-dynamic.ga/examples.php) here.

[2022-03-18 10:22] scrobbleme opened #1507 "Rename delay classes (Improvement)"
**Problem**

The classes for delaying are currently called `animate__delay-2s, animate__delay-3s, ...`

Which also implies that it is always "seconds", which basically is wrong and confusing, as it is a multiplier for a variable delay parameter.

**Improvement**

The classes should be named i.e. `animate__delay-2x, animate__delay-3x, ...` to better reflect, that they just delay for a specific mult

[2022-03-18 11:58] warengonzaga commented on #1507
hey there, good suggestion, but it would make animate.css bloated with bunch of specific multiplier. You can always change the default to your liking. What do you think @eltonmesquita?

[2022-03-18 12:37] scrobbleme commented on #1507
@warengonzaga I mean, the classes should just be renamed and not something added. Instead of an "s" (for seconds) just use a "x" for times.

"animate__delay-2s" -> sounds like "delay for 2 seconds"
"animate__delay-2x" -> sounds like "delay for 2 times" (where times is by default 1s, but maybe changed)

[2022-03-18 16:18] warengonzaga commented on #1507
@scrobbleme done, PR #1508 🤝

[2022-03-18 16:20] warengonzaga commented on #1382
I think we can now close this @eltonmesquita, feel free to post this on showcase in the Discussions @KodingKhurram

[2022-03-31 19:35] ConnerAiken opened #1516 "The license on NPM is still listed as MIT"
**Describe the bug**
I was going to use this library but I'm restricted to choosing MIT licensed products. I integrated it based on the license specificed in the NPM package and found the repo transitioned to a Hippocratic License.

**To Reproduce**
1. Go to [the NPM package](https://www.npmjs.com/package/animate.css/v/4.1.1?activeTab=readme)
2. Look at the license listed
3. Go to [this Repo](http

[2022-03-31 20:25] warengonzaga commented on #1516
Hey @ConnerAiken feel free to use the version in NPM, the latest version here is the one that is in the scope of Hippocratic License. Most probably the v5 will be the complete transition to Hippocratic License. Thank you for reporting!

cc: @eltonmesquita

[2022-04-19 11:12] eltonmesquita commented on #1516
Unfortunately, we're still out of sync on the license side. To update it everywhere we'd have to launch a major version but I think that it'd feel unfair to launch it without any new features or changes to the code-base. So yeah, the next major release will be released with new features and a full migration to the new licensing.

[2022-04-19 11:22] eltonmesquita commented on #1507
This seems a sensible change, I like it. As this is a breaking change, we should ship it with `v5`. But for the sake of compatibility, it would be very simple to support both sorts of classes (1x/1s) so devs won't need to update their code for such a simple change.

[2022-04-19 11:48] eltonmesquita commented on #1474
I do understand that `@property` makes it cleaner but right now chromium-based browsers are the only ones to support this. We'd need support from Safari and Firefox to support this. Also, we'd need to provide a proper fallback for browsers without support. I'll close this for now, but we might get back to it when the support is widespread.

[2022-04-19 11:48] #1474 closed

[2022-04-19 11:53] eltonmesquita commented on #1410
I don't like the idea, as different from transitions, animations don't play very well with hover state, as they don't resume and rewind the animations gracefully.  There are a few ways to do this but most of them are hacky or include js, which is out of this library's context. Not only that, most of our animations aren't fit for hover state as most are long and too "abrupt" for that.

I'll keep th

[2022-04-19 11:53] #1382 closed

[2022-04-19 13:59] warengonzaga commented on #1410
Agree on this, we should think about this as we have some limitation with CSS.

[2022-04-27 02:26] hymhub opened #1526 "`@keyframes zoomIn` There is a compatibility problem. It will flash under some IOS systems."
### Describe The Bug

`@keyframes zoomIn` There is a compatibility problem. It will flash under some IOS systems. It is recommended to change it to :
[code]

### Steps To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshots

_No response_

### Desktop

_No response_

### Smartphone

_No response_

### Additional Context

_No response_

[2022-04-28 08:37] npmmirror opened #1527 "Git.io deprecation notice"
Hello, I've found that some of your files in this repo is still using https://git.io/, and this service will be discontinued in the future. (ref: [Git.io deprecation](https://github.blog/changelog/2022-04-25-git-io-deprecation/))
Theses files are: .github/workflows/codeql-analysis.yml

[2022-04-28 10:57] eltonmesquita commented on #1526
Hey @hymhub. Thanks for reporting. Could you please share more details on this? Devices tested? A reduced case?

[2022-05-02 02:33] pradt opened #1528 "BackOutUp animation has an Opacity of 0.7 at 100%"
### Describe The Bug

The animation for BackOutUp has an Opacity of 0.7 for 20% and 100%.

[code]

I wanted to confirm if this is accurate and whether the opacity should actually be 0. With 0.7 since it is an exit animation, if the area is greater than 700px then the element is still visible.

### Steps To Reproduce

Apply a BackOutUp animation on a element where the height is greater than 700px

[2022-05-02 10:41] pradt commented on #1528
I just noticed the BackOutUp, BackOutDown, BackOutLeft, BackOutRight all have an opacity of 0.7 at 100%

[2022-05-02 10:55] warengonzaga commented on #1528
Thank you for reporting @pradt, if you have a codepen for this that would be helpful for us to debug easily.

[2022-05-03 13:06] eltonmesquita commented on #1528
This is by design. Even though animate.css aims to be as easy to use as possible, there are a few things that the developer will have to handle by themselves. This is one of these cases. If we set the opacity to 0 so the element will disappear, the animation won't look as it was intended.

If you think that this should be different, could you please elaborate why? Any examples that might illustrat

[2022-05-03 13:07] eltonmesquita commented on #1527
This shouldn't affect us. Thanks bot!

[2022-05-03 13:07] #1527 closed

[2022-05-03 14:04] pradt commented on #1528
Thanks for your replies and attention @warengonzaga  and @eltonmesquita  -  i'll prepare a codepen regarding this. The screenshot that I had posted in the ticket is from my project. The expectation was that since it is an exit that it would exit, but it remains visible on screen. I may be misinterpreting this, but the choice of the design by keeping it visible and calling it an exit seems contradi

[2022-05-03 14:34] eltonmesquita opened #1531 "Improve Animations"
## Back Entrances and Exits

We could make them smoother and improve its final steps. They look a bit stiff and shy at the moment.

## Jack in the Box

It could be a bit more "exaggerated".

## Zoom outs

Could be a bit clearer and be more "exaggerated" too.

## Slide Entrances and Exits

Could use more of the Squash and stretch principle.

It would be good to review all the animations, code wise

[2022-05-03 14:39] eltonmesquita opened #1532 "Create an easy to use and share playground"
Right now it's a bit of an effort to test out all of the animations and work on them. It's 2022, we have better options, let's improve this and make our lives and collaboration easier.

A few things to keep in mind:
- It should be easy to use
- It should have a few different "shapes" for testing out the animations. Right now our playground/website only shows a title with the animations which doesn

[2022-05-03 14:40] eltonmesquita commented on #1532
Some opinions on products to use (codepen, codesandbox, etc) are very much welcomed 😄

[2022-05-03 14:42] eltonmesquita commented on #1531
#1532 should help us improving these animations

[2022-05-03 14:45] eltonmesquita commented on #1528
Hey @pradt, I had a quick look at the animation again and to be honest, it does deserve some attention 😓

I created #1531 pointing out some issues with some animations, including these ones. I'll work on this for the next major version, `v5`. Thanks for providing some proper feedback 😄

[2022-05-04 13:17] pradt commented on #1528
Excellent, thank you @eltonmesquita much appreciated.

[2022-05-05 11:44] saqibfarooq1992 commented on #993
great

[2022-05-28 03:49] jack-fdrv opened #1544 "--animate-delay for each element?"
### Describe The Bug

From the docs, we can set
`--animate-duration: 0.7s;`
per each element, but let me know if we able to do the same for
`--animate-delay: 10s;`

### Steps To Reproduce

Try to set for you single animated element this
[code]

### Expected Behavior

Animation will start in 10 seconds.

### Screenshots

![image](https://user-images.githubusercontent.com/4230282/170808691-824df78c-

[2022-05-28 04:30] jack-fdrv opened #1545 "On hover set animation via css"
### Describe The Bug

Please help me understand, why this works?
[code]
And this one not?
[code]

### Steps To Reproduce

Html
[code]
[code]

### Expected Behavior

Second button should has pulse animation

### Screenshots

_No response_

### Desktop

_No response_

### Smartphone

_No response_

### Additional Context

_No response_

[2022-05-28 04:41] jack-fdrv commented on #1545
I forgot to set `display: inline-block;`

[2022-05-28 04:41] #1545 closed

[2022-06-04 14:05] DaywisonSilva commented on #1544
Hi @jack-fdrv , I can fix it.

[2022-06-17 15:49] thelabuzov commented on #1544
👋 Hey @jack-fdrv, in Animate.css documentation delayed animation doesn't work. I checked source code animate.css version 4.1.1 (the latest version) and noticed that (--animate-delay) variable no longer exists. Instead, try using (--animation-delay: 10s) and (-webkit-animation-delay: 10s) this way you'll get delayed animation working for most browsers. If this answer helped you, please mark it as a

[2022-06-30 05:33] MatchOvO opened #1565 "animation on Safari(IOS MacOS iPadOS) only flash, and no normal animation."
### Describe The Bug

My css class is:
[code]

### Steps To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshots

## In Chrome
<img width="1680" alt="截屏2022-06-30 13 29 34" src="https://user-images.githubusercontent.com/108038560/176599988-0e70a13a-abe6-4aad-9e4b-122275a9c3a0.png">

## In Safari
<img width="1680" alt="截屏2022-06-30 13 31 10" src="https://user-images.githu

[2022-06-30 05:50] MatchOvO commented on #1565
'fadeIn' has not that issue'flipInX'has this issue

[2022-06-30 10:24] knufri commented on #1526
Thanks @hymhub this solved my problem on Safari 15.5 on Mac OS

[2022-07-03 02:45] ponysb opened #1567 "官网为什么打不开了？"
### Describe The Bug

官网打不开了在哪可以看效果的类名？

### Steps To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshots

_No response_

### Desktop

_No response_

### Smartphone

_No response_

### Additional Context

_No response_

[2022-07-03 09:59] warengonzaga commented on #1567
hey @ponysb the website is working normally what do you see on your end? Any error?

[2022-07-03 10:03] warengonzaga commented on #1567
@eltonmesquita feel free to close this thanks!

[2022-07-03 17:58] Lukrisum opened #1568 "Is there a way to control the amplitude of a animation？👀"
### Is your feature request related to a problem? Please describe.

I've recently been trying to use Animate.css to make a "like" animation, using animate-pulse, but I found that it scaled a bit smaller than I expected, so I want to ask if Animate.css provides A way to set the magnitude of the animations

### Describe the solution you'd like.

 (by setting percentages etc.)

### Describe alternati

[2022-07-03 21:58] warengonzaga commented on #1568
Duplicate of #1009, thanks for reporting!

[2022-07-04 02:23] Lukrisum commented on #1568
Sorry I didn't search carefully. Looks like it's already on the to-do list, thanks for you reply !

[2022-07-04 02:23] #1568 closed

[2022-07-04 03:39] halo951 commented on #1567
hallo, the website really can't be opened,  i think the reason is "DNS_PROBE_FINISHED_NXDOMAIN", it may be due to DNS configuration problems or fillwall in china.

[2022-07-04 05:40] ponysb commented on #1567
网络在中国区内打不开，我用了vpn把网络代理到国外可以就打开了

[2022-07-06 03:50] penggang-home commented on #1567
![image](https://user-images.githubusercontent.com/55438345/177464267-63d1e55f-ceae-4122-be43-b9ccb3467f81.png)
中国区域内无法访问

[2022-07-12 07:49] AlexRMU opened #1570 "Pulse animation bug"
### Describe The Bug

Pulse animation is used on one element on the page. When it starts, all the letters on the page seem to change the font, and return when it ends. There is nothing in css and if you zoom in, everything is fine.

### Steps To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/61969794/178436174-518

[2022-07-12 19:54] warengonzaga commented on #1570
Any codepen or related to repreduce the issue?

[2022-07-14 10:19] AlexRMU commented on #1570
https://codesandbox.io/s/ecstatic-haslett-jietfo

[2022-07-14 10:28] warengonzaga commented on #1570
I see, it gitters @AlexRMU

[2022-07-17 14:10] DuckBurnIncense commented on #1567
国内有时要用魔法

[2022-07-22 11:40] artisticLogicMK opened #1572 "Name mistake in animate.css flippers (X and Y axis)"
### Describe The Bug

I noticed in animate.css that the flipper animations are named incorrectly. 'X axis' is mistaken for 'Y axis.'

*flipInX and flipOutX should flip horizontally on X axis but they flip vertically on Y axis.
*flipInY and flipOutY should flip vertically on the Y axis but they flip horizontally on the X axis.

### Steps To Reproduce

_No response_

### Expected Behavior

_No respo

[2022-07-23 02:31] usama-mk commented on #1565
Did you find any solution to it yet?

[2022-07-29 08:52] eltonmesquita commented on #1572
You are right! Thanks for catching this one, it should be fixed on v5 as this is a breaking change

[2022-07-29 09:03] eltonmesquita commented on #1570
This isn't exactly a bug, but a browser peculiarity related to animating/rendering elements. In the past, this sort of problem was massive and depending on the browser, it would make the pages unusable 😢.  To make things bearable you'd have to resort to some nasty and crazy hacks. Things improved a lot and now everything is mostly stable in every browser out there, but we can still see some remain

[2022-07-29 09:05] eltonmesquita commented on #1567
The website is working properly and I don't think there is much to do about this now. Thanks for reporting!

[2022-07-29 09:05] #1567 closed

[2022-07-29 09:07] eltonmesquita commented on #1565
Without a link to a live reproduction of the issue, it gets very hard to help. Also, we'd need some more details like browser and OS version. Please, follow our issue template, it's there to help

[2022-07-29 09:08] #1410 closed

[2022-07-29 09:14] eltonmesquita commented on #1544
Sorry @thelabuzov, but this info is not correct, we [do have](https://github.com/animate-css/animate.css/blob/main/source/_vars.css) and [use that variable](https://github.com/animate-css/animate.css/blob/main/source/_base.css#L22) and the documentation is correct.

I'll check if it's working as it should as might there be a CSS custom property quirk that we might have missed and is blocking the v

[2022-07-30 08:59] AlexRMU commented on #1570
👍

[2022-07-30 08:59] #1570 closed

[2022-07-31 02:47] warengonzaga commented on #1572
I'll take it @eltonmesquita

[2022-07-31 04:07] warengonzaga commented on #1572
PRed @eltonmesquita, thank you for the report @artisticLogicMK

[2022-08-01 20:20] warengonzaga commented on #1572
pushed a fix for v5 release #1583

[2022-08-06 06:51] LIUSHUAI2018 commented on #1567
科学上网我也打不开了

[2022-08-06 06:52] LIUSHUAI2018 commented on #1567
Google can be opened, but this website can not be opened

[2022-08-06 10:39] DuckBurnIncense commented on #1567
![图像 001](https://user-images.githubusercontent.com/87637270/183245409-51bff339-ecb9-45ae-9d0b-df2b288122a7.png)

我这不需要科学上网也能访问哦 (没有缓存) ^(*￣(oo)￣)^

[2022-08-06 10:50] DuckBurnIncense commented on #1567
实在不行的话给你个解决方案 @LIUSHUAI2018  用 git 把这个仓库克隆下来, 然后在 /docs 目录下用 node 等工具搭建一个简易服务器, 打开后就是 animate.css 官网了, 亲测有效.

参考步骤:

Step 1:

[code]

Step 2:

[code]

Step 3:

[code]

Step 4:

[code]

Step 5:

在你的浏览器打开 http://localhost:3000

结束

[2022-08-08 01:01] LIUSHUAI2018 commented on #1567
谢谢提醒，看到你的网页之后我觉得有可能是dns的问题，我自定义了dns为8.8.8.8或114.114.114.114就可以访问了

[2022-08-10 10:00] p-nuliew opened #1584 "How to control the animation to start only when the element comes into view"
How to control the animation to start only when the element comes into view

[2022-08-10 13:04] warengonzaga commented on #1584
You can do it by using JS, creating a function in JS that listens to an event if the element is visible, and then adding the animation classes to the element to animate it.

[2022-08-15 06:14] zhaochengxiang commented on #1584
wow.js can help you

[2022-08-29 00:41] Euphemia1 opened #1591 "Css"

[2022-08-29 07:35] warengonzaga commented on #1591
What is this? @Euphemia1 cc: @eltonmesquita

[2022-08-29 08:10] Euphemia1 commented on #1591
Sorry I made mistake

[2022-08-29 08:12] warengonzaga commented on #1591
Can you close this? @Euphemia1

[2022-08-29 08:13] Euphemia1 commented on #1591
Yes I am trying to please help

[2022-08-29 08:14] #1591 closed

[2022-09-02 05:10] fysmart opened #1594 "animate.css with windows system setting...."
### Describe The Bug

emmm  see scrennshot..
when this setting no checked, NOT WORK
checked WORK
why....

### Steps To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/17706457/188063003-d1f3b6c2-ea54-4878-8286-5444b9aa79d5.png)

### Desktop

windows 10

### Smartphone

_No response_

### Additional Context

_No res

[2022-09-02 06:50] #1594 closed

[2022-09-02 12:14] shanmuganathan-balaraman commented on #1221
@eltonmesquita @warengonzaga is this still valid?

[2022-09-02 13:32] warengonzaga commented on #1221
hey there, yes valid you can submit your PR.

[2022-09-05 05:54] shanmuganathan-balaraman commented on #1221
What is the expectation? Do we need to simply run npm `start` and `docs` in GitHub actions and check for build failures or do we need to build and commit the output it the same branch when a PR is created?

[2022-09-08 11:18] eltonmesquita commented on #1565
I'm closing this as there isn't enough info for us to tackle into the issue. Is anyone got something relevant to share, I'll reopen the issue

[2022-09-08 11:18] #1565 closed

[2022-09-21 17:29] nidhijain15 commented on #1269
Can you please assign this issue to me ?

[2022-09-23 14:26] KodingKhurram commented on #1269
In this case, we can a lot of variables, that would give us a dynamic approach to define animation behavior, but the challenge is what variables to determine since it opens up a window where animation would go unstable, so having control over variables and their definition matters.

[2022-09-24 09:14] ponysb opened #1604 "在 animate__fadeInUp 动画和其他多个动画下会导致 backdrop-filter 滤镜失效"
### Describe The Bug

<div style="padding: 0 15px 0 15px;
        height: 36px;
        border-radius: 50px;
        background: rgba(205, 205, 205, 0.3);
        box-shadow: 3px 5px 10px 5px rgb(0 0 0 / 10%);
        backdrop-filter: saturate(200%) blur(5px);
        margin-left: 12px;
        margin-bottom: 20px;
    display: flex;"></div>

在 animate__fadeInUp 动画下以上代码中的 backdrop-filter 样式失效了

##

[2022-10-07 20:29] kr1st1nagr03g3r commented on #1221
I have a PR for you. I see this is a little stale so may as well :)

[2022-10-27 18:09] JoshiUtsav commented on #1331
Hey,
How can i apply for contribution in this issue

[2022-10-31 08:51] R0N1n-dev opened #1613 "Not working with Vue"
### Describe The Bug

Its not working .
The docs and migration docs are kind of confusing

### Steps To Reproduce

_No response_

### Expected Behavior

_No response_

### Screenshots

_No response_

### Desktop

_No response_

### Smartphone

_No response_

### Additional Context

_No response_

[2022-10-31 09:34] #1613 closed

[2022-10-31 10:01] warengonzaga commented on #1613
hey @R0N1n-dev you can use this package if you want https://github.com/OSSPhilippines/v-animate-css

[2022-10-31 10:02] warengonzaga commented on #1604
hey @ponysb can you use English for reporting? Also, provide the replication steps you are reporting.

[2022-11-17 13:55] #1604 closed

[2022-11-17 15:16] ndreisg commented on #1364
Websites in the world wide web can be visited/used by evil people and everyone knows that. Seems like your new license forbids EVERYONE to use this library on any public website.

[2022-11-22 12:04] eltonmesquita commented on #1364
We still got time to change the license before releasing the next major release, as this license didn't get into any release, it's only on github's main branch for now. We hushed things a bit as this sort of change demands a major release, which we didn't.

We've got a few things to improve on our contribution guide and licensing, including code ownership. Feedback and contributions for those part

[2022-11-22 12:08] eltonmesquita commented on #1364
@aFuzzyBear I took the liberty to change the issue title to something more helpful to gather feedback, if you don't mind

[2022-11-22 18:52] Aspie96 commented on #1364
@eltonmesquita Regardless of whether you will use the Hippocratic License or not for future releases, it appears to me that you are ignoring the rights of contributors who contributed under the MIT license if you have accepted contributions under that license previously.

And if you accept contributions under the Hippocratic License, but then don't follow such license for the next release, because

[2022-11-22 19:03] Aspie96 commented on #1364
(I am not a lawyer and this is not legal advice).

The general assumptions for contributions on GitHub and similar platforms is that the copyright holder of the contributions (i.e. the contributor) is licensing them publicly, and therefore to the project administrators as well, under the same public license under which the project is provided.

This assumption is the common norm and it is justifie

[2022-11-23 10:11] eltonmesquita commented on #1364
@Aspie96 thanks a lot for the clarifications. Yeah, it seems that we put ourselves in a tough situation. From what I could understand in a quick read - thanks for the links! - the best solution would be to adopt a double license (MIT and Hippocratic) and add a [Contributor License Agreement](https://en.wikipedia.org/wiki/Contributor_License_Agreement) so we can be assured that we won't hit any leg

[2022-11-23 13:56] aFuzzyBear commented on #1364
@eltonmesquita honestly its about time its took seriously, seeing you move to an MIT license is a good first step. Ill be keeping an eye on how things unfold, 👊

[2022-11-23 17:14] Aspie96 commented on #1364
I don't understand what you mean by "adopt[ing] a double license". You only chose the license of your own stuff, and have to comply with the license terms for any other stuff.

If you have already accepted contributions under each of these licenses, then each of those contributions is already license under either of these licenses by its respective author. You may be in violation of the terms of s

[2022-11-23 17:20] folknor commented on #1364
Yes, but code that was contributed while the project was MIT-licensed can't be re-released under any other license without asking each contributor specifically.

And code that was previously released as any license can't be retroactively relicensed. That is to say, 4.1.1 and earlier will forever be usable under MIT.

See my first reply to this ticket; https://github.com/animate-css/animate.css/iss

[2022-11-23 17:26] Aspie96 commented on #1364
Exactly, that's what I wrote too. It's only on code which is either their own or new that they can decide the license.

You couldn't remove this option even if you asked each contributor specifically because that would be revoking the license. You could chose not to mention this option by not copying the text of the MIT license if every contributor allowed you to do so, but even then those with ac

[2022-11-23 18:27] daneden commented on #1364
Hey folks, here's my blunt 2c: I care less about the legal protection of this software than I do about discouraging the development of software designed to disadvantage or harm others.

I'm going to point to [this article](https://builtin.com/software-engineering-perspectives/ethical-source-hippocratic-license) which documents both many of the common criticisms—and common rebuttals—of the Hippocra

[2022-11-23 18:32] #1364 closed

[2022-11-25 11:19] aFuzzyBear opened #1625 "Hey folks, here's my blunt 2c: I care less about the legal protection of this software than I do about discouraging the development of software designed to disadvantage or harm others."
Hey folks, here's my blunt 2c: I care less about the legal protection of this software than I do about discouraging the development of software designed to disadvantage or harm others.

I'm going to point to [this article](https://builtin.com/software-engineering-perspectives/ethical-source-hippocratic-license) which documents both many of the common criticisms—and common rebuttals—of the Hippocra

[2022-11-25 11:30] #1625 closed

[2022-11-27 15:17] AlizerUncaged opened #1627 "Add triggers utility classes on interaction events."
### Is your feature request related to a problem? Please describe.

I always had to use JS in order to make the animations work if the mouse hovers.

### Describe the solution you'd like.

Maybe add a utility class that marks the animation to only work on specific events? Such as `onclick`, `onmouseenter` and so on.

### Describe alternatives you've considered.

Currently I'm adding and removing c

[2022-11-29 04:52] bs-thomas opened #1628 "Add option to "disable" prefers-reduced-motion media query. Designers / Developers should have the power to decide depending on context."
### Is your feature request related to a problem? Please describe.

Yes.

We are web developers, and due to the way we use our operating systems, we disable all the crappy Windows animation we don't want.  However, when that is disabled, we found that the latest version 4 of animate.css, the animation automatically goes away with that.  But we need those animation, not just on websites we develop,

[2022-11-29 13:37] eltonmesquita commented on #1628
I understand your concerns and frustration but this is a non-negotiable feature. Accessibility comes first and many people aren't able to use some websites due to the lack of this accessibility feature in websites. Motion sickness and other motion-related issues are very real and much more common than you think. Ultimately, the power to disable them should be in the hands of the end user, and an O

[2022-11-29 13:37] #1628 closed

[2022-11-29 13:41] eltonmesquita commented on #1627
Sorry, but besides a few cases, there's no way to achieve this with only CSS, js is always needed.  Not only that, our animations aren't suited to short and quick interactions such as transitions.

I'm closing this as it won't be added to this library.

[2022-11-29 13:41] #1627 closed

[2022-11-30 13:16] davidjeba opened #1631 "Can you add animations for more elements?"
### Is your feature request related to a problem? Please describe.

No, animate.css is really great
but its restricted to Text by default

### Describe the solution you'd like.

if you can add more animations specific to different html elements like
button, radio/check box, drop down controls, sliders, toggles and more

it would be great.
also if you can allow us to use remote animation scripts [l