[2018-05-31 14:09] shulk commented on #818
`    $( '.left_panel' ).animateCss( 'fadeOutRight', function() {

      $( '.left_panel' ).hide();

    });`

That works fine, but I want to try better way also.

[2018-06-01 12:03] odai-alali opened #819 "Deprication warning"
I am using animate.css with webpack and I ma getting a deprication warning about the import statement
[code]
[code]

[2018-06-01 16:41] eltonmesquita commented on #819
This happens because you're importing a CSS file in a sass/scss file and is not related to animate.css. A scss version is in the works but with no ETA just yet.

[2018-06-04 01:46] wubodanran opened #820 "Ask, can Vue be used?"

[2018-06-04 02:28] #820 closed

[2018-06-04 05:47] DSpeichert commented on #735
@eltonmesquita It would be helpful if you could "tag a release" here on GitHub. The tag name should correspond to the version in package.json or else a content mismatch will happen.

[2018-06-04 10:31] eltonmesquita commented on #817
Mind if I close this as this seems to be solved and is unrelated to animate.css?

[2018-06-04 10:56] mikegk commented on #818
That does work if you add:
`$.fn.extend({
        animateCss: function (animationName, callback) {
            var animationEnd = (function (el) {
                var animations = {
                    animation: 'animationend',
                    OAnimation: 'oAnimationEnd',
                    MozAnimation: 'mozAnimationEnd',
                    WebkitAnimation: 'webkitAnimationEnd',

[2018-06-04 18:07] lifenautjoe commented on #5
And it's gone?

[2018-06-04 22:27] MichaelTheGamer commented on #817
Eltonmesquita- Hello. I actually had a very similar experience, but actually, that's not why I'm writing this. I clicked on your AOS link and it seems that the current build shows as failing. Having followed the conversation you had with franciisscott, if the current AOS is the one being used and it's the same one that is 'failing,' would that be the reason animate.css didn't work for him? I reali

[2018-06-04 23:21] eltonmesquita commented on #817
@MichaelTheGamer, the reason the animations didn't work on mobile was, by the look of it, the use of some outdated libraries. 3 or more years ago, mobile browsers didn't trigger the scroll events, so it was safer to just disable interactions on mobile.
Note that this doesn't mean animations didn't work on mobile, just that it wasn't feasible to trigger them on the scroll event.

[2018-06-06 00:52] gregskloot opened #821 "Turn off animations for printing"
When a user tries to print out the page, any elements that they haven't scrolled past have not yet loaded/animated so they are hidden in the print view.

Using CSS media queries for print, is there a way to show all elements that have the animation classes when the user is printing?

[2018-06-06 09:23] igorlopasovsky commented on #818
Thanks shulk, works perfectly ;)

[2018-06-07 08:30] stephan-v commented on #819
This also happens when you try to import like this:

`@import "~animate.css/source/base";`

Apparently there were too retarded to actually check for a file extension at the END of the string.

[2018-06-07 08:31] stephan-v commented on #819
This also happens when you try to import like this:
`@import "~animate.css/source/base";`

Apparently they couldn't be arsed to actually check for a file extension at the END of the string.

[2018-06-07 09:03] odai-alali commented on #819
I think the warning appears because the name of the library ends with `.css` which make the library name be parsed as a css file.

is it possible to provide an alias for importing?

[2018-06-07 10:10] stephan-v commented on #819
I guess that is true. It wouldn't be too hard to convert to convert this library to actually use `.scss` files though? Couldn't this be done in like an hour or so without even compromising anything?

There are already even ports out there:

https://github.com/tgdev/animate-sass

[2018-06-07 11:59] odai-alali commented on #819
The problem is not with library name. The resolved path is a `css` file. So using an alias will not remove the deprecation as long as the resolved file is a `css` file.

[2018-06-07 12:16] stephan-v commented on #819
Understood. But why not port the library to not use `css` files to begin with?

[2018-06-07 12:37] odai-alali commented on #819
Have you tried https://github.com/tgdev/animate-sass

Doesn't it satisfy your needs?

[2018-06-07 17:53] eltonmesquita commented on #819
@stephan-v there is an old branch porting it to sass but unfortunately Daniel couldn't move it forwards because life. I plan to get back from where he stopped and release it in the next months, but can't precise when.
And no, it's not something to do in one hour as there are a lot of considerations and features to be added. Every little detail must be considered when it's a library used by hundred

[2018-06-08 06:51] henryejemuta opened #822 "Animation not Working with the JQuery .on() Event"
Most of my content are loaded using AJAX, and using the solution [StackOverflow](https://stackoverflow.com/questions/21239210/jquery-event-not-triggering-for-dom-elements-created-after-page-load?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)
 the the animation does not work

[2018-06-08 07:44] henryejemuta commented on #822
Issue resolved!
Followed the instruction that handles hover event using mpouseenter and mouseleave as was stated in [StackOverflow](https://stackoverflow.com/questions/16062899/jquery-doesnt-work-after-content-is-loaded-via-ajax) and problem was solved.

[2018-06-08 07:44] #822 closed

[2018-06-08 08:15] stephan-v commented on #819
Nothing changes though, you simply switch to `.scss` files. The ported version that is in this repository even shows exactly that. The CSS ultimately stays the same.

[2018-06-15 09:02] eltonmesquita commented on #817
I'm closing this as its solved. Feel free to reopen it if necessary.

[2018-06-15 09:02] #817 closed

[2018-06-16 10:21] eltonmesquita commented on #818
Closing this as it's solved.

[2018-06-16 10:21] #818 closed

[2018-06-18 07:48] omershelef opened #823 "jackInTheBox does not exist"
I installed the latest version using bower and it seems that this class does not exist inside of animate.css,
its also seems by the comment at the head of the file that the release 3.5.2 is still built with version 3.5.1:

[code]

[2018-06-19 01:20] jayeshsingh9767 opened #824 "Transition is not responding"
I just installed animate.css and when I start using it I realize that after applying animate class my
on a <div>, my previously defined transition Properties are not Working Properly....
Actually I applied transition on three css properties viz. bg-color,border and scale, transition for bg-color and border are working but the its not scaling my div

[2018-06-19 10:08] eltonmesquita commented on #824
This happens because animate.css uses transforms for the animations and they override what's set in the element. That's how css works.
You can put the element inside another element and set the animate's classes on this parent.

[2018-06-21 16:03] jayeshsingh9767 commented on #824
Ok thamks.....

[2018-06-21 16:04] jayeshsingh9767 commented on #824
Ok Thanks......

[2018-06-21 16:15] #824 closed

[2018-06-29 19:51] unclespode commented on #641
I had this issue, ended up here via Google. It turned out I had tried to load the CSS file as a JavaScript file - i.e user error. Might help someone else.

[2018-07-01 09:02] TigGav commented on #670
You must set  scrollContainer property , see bellow link
https://github.com/matthieua/WOW/blob/master/README.md

[2018-07-04 08:26] francesco-incomedia opened #825 "Flip effect zoom text on Chrome"
Hi,
the "flip" effect has a different behaviour in Firefox and Chrome.
In Chrome text zoom during animation, in Firefox not.

[2018-07-06 15:13] phackwer opened #826 "Image gets shrank to the width of the parent div"
Hi.

I have an image that is bigger than the parent div (and that I need to center with CSS). When I apply animations (except flash), the image gets shrink to the size of the parent div.

Any ideas why?

[2018-07-08 17:10] eavitan opened #827 "Instant load of modal"
Hey, I would like to use this library for page transitions.
means I need the modal to be "on" (shown), right after the <body> and without any JS.

i tried copy passed the active modal and pass it to the body but it didnt work, is there a way to do it?

thanks

[2018-07-10 11:20] javadvf opened #828 "Running the transition while they are not being shown"
while the use is watching the upper sides the animation runs and when they slid to them they see them static and without any motion.
**I remember we didn't have such issue in past.
what could I do? Can u possibly guide me?**

[2018-07-12 11:57] phlegx opened #829 "How to make heart pulse with animate.css"
Hi!

Any idea how to make a heart pulse like [here](https://codepen.io/jlong/pen/KBhDf) but with animate.css?

Example: https://codepen.io/jlong/pen/KBhDf

[2018-07-13 14:57] anirudhdggl commented on #829
I would love to fix this issue and add the feature. Let me know if I may go ahead.

[2018-07-14 06:48] jamesgeorge007 commented on #829
@phlegx I made some workarounds and submitted a PR  #830

[2018-07-14 12:05] jamesgeorge007 commented on #828
Can you elaborate your issue with the help of screenshots so that we better understand the issue we are experiencing.

[2018-07-16 22:16] marcysutton opened #831 "Accessibility and animations"
What a cool library you've got here! In the spirit of being plug-and-play, I thought it would be extra awesome if there was a way to easily turn animations on and off. For users with motion sensitivity, vestibular disorder or even just a wicked hangover, [animations can make them sick or worse](https://source.opennews.org/articles/motion-sick/)–it goes beyond simple aesthetics to become a safety i

[2018-07-16 23:25] ryanve opened #833 "Version numbers are out of sync"
- `package.json` is `3.6.1`
- `animate.css` is `3.6.0`
- latest release tag is `3.5.2`

[2018-07-18 17:19] eltonmesquita commented on #833
It'll get fixed soon as I finally got some time to work on it. Thanks.

[2018-07-19 02:03] eltonmesquita commented on #828
If I did understand what you meant @javadvf , I think the issue is with your animate on scroll library. animate.css doesn't have the means to control animations on scroll. Please check your javascript and see if everything's ok as it's not feasible to give support for using other libraries.

[2018-07-19 02:08] eltonmesquita commented on #827
Sorry, but it's not possible to do such a thing without javascript. It's just not feasible. Also it's really hard to give any advice with so little.

Anyway, the best would be to elaborate more on the problem and post it on stackoverflow as this is an issue tracker for the library itself and you probably won't get much help here when the subject is not directly related to an issue in the library.

[2018-07-19 02:08] #827 closed

[2018-07-19 02:13] eltonmesquita commented on #826
You're probably centering it with `translation` which is used by animated.css and end up being overwritten. Just center the image with another technique like `text-align: center` on the parent. Another option is to put the image inside another element and translate this parent element instead of the image itself.

[2018-07-19 02:17] eltonmesquita commented on #823
#790 fixed the versioning problem and when #833 gets fixed it'll probably fix bower too. But, bower is deprecated now and any issue will almost certainly get ignored. See #758 for more details.

[2018-07-19 02:17] #823 closed

[2018-07-19 02:19] eltonmesquita commented on #825
Yeah, this is a Firefox bug. I'll get fixed on #805 .

[2018-07-19 02:22] eltonmesquita commented on #821
Just do something like:
[code]
As I don't know how you're hiding your elements, I can't say for sure that'll work, but the idea should the same.

[2018-07-19 02:49] eltonmesquita commented on #811
I'm investigating this but it is a nasty Edge's transform engine bug that seems to be inherited from IE11. I still don't have the solution but I hope to get there 😅.

[2018-07-19 02:58] #825 closed

[2018-07-19 18:58] eltonmesquita commented on #802
I'm closing this as there's no info and no more report about this or any issue related to grid and animate.css. @Showcase-Joz , if you have any info about it, feel free to re-open the issue.

[2018-07-19 18:58] #802 closed

[2018-07-20 22:52] daneden commented on #758
Let's do it! To be perfectly honest, I'm pretty out of touch with how people would _like_ to start using Animate.css. Bower support was added by request some time ago, but happy for us to remove it.

[2018-07-20 23:03] WarenGonzaga commented on #758
@eltonmesquita we have the GO signal now... thanks @daneden for the awesome response... currently I am adding a new feature for the animate.css will submit PR later.

[2018-07-21 14:33] daneden commented on #833
This should be fixed now!

[2018-07-21 14:33] #833 closed

[2018-07-21 14:34] daneden commented on #831
Thanks for taking this on @marcysutton!

[2018-07-21 14:38] #826 closed

[2018-07-21 14:39] daneden commented on #821
We could probably add @eltonmesquita’s suggested code to the library itself, it feels akin to #832

[2018-07-21 14:40] daneden commented on #813
Closing this since it's getting addressed in #834, thanks for getting it together @WarenGonzaga!

[2018-07-21 14:40] #813 closed

[2018-07-21 14:41] daneden commented on #805
This should be fixed now with the merge of #825, closing optimistically.

[2018-07-21 14:41] #805 closed

[2018-07-21 14:41] daneden commented on #735
The latest tag should have fixed this issue 🤞

[2018-07-21 14:41] #735 closed

[2018-07-21 15:58] daneden commented on #829
Closed by #830

[2018-07-21 15:58] #829 closed

[2018-07-21 16:20] daneden opened #835 "Rewrite documentation"
The readme for Animate.css has outgrown its usefulness over the years. In addition, many of the things that were popular or important at the time of the library’s release are now outdated. In anticipation of a major 4.0 release, I'd like for us to rewrite the documentation with the following in mind:

- We should avoid jQuery examples in favor of plain CSS/HTML and JS examples
- We should use the

[2018-07-21 16:22] daneden opened #836 "Switch to Rollup"
Suggested by @eltonmesquita, [rollup with postcss](https://github.com/egoist/rollup-plugin-postcss) looks like it would give us everything we need and would simplify our build process, a goal explicitly set in #835.

[2018-07-21 16:27] daneden opened #837 "Update Website"
I'd like to keep the website as simple and straightforward as it currently is, but perhaps rewrite it to:

- Make it easier to maintain as new features and animations are added
- Provide more usage information upfront (as opposed to leading people to our now-gigantic readme)

[2018-07-21 16:30] daneden commented on #618
I'd like to proceed without relying on Sass and with a specific namespace for animate.css (as opposed to custom namespaces). Are there any major objections to this?

As a proposal, would `anim` be the right call?

[code]

[2018-07-21 17:08] eltonmesquita commented on #837
Totally agree. A few thoughts:
* It'd nice to present the animations in a better way, as the current dropdown has overgrown itself. Maybe something like a side bar with a list of animations might be a good option.
* We could rethink about using the Animate.css title to show the animations as it doesn't show as clearly the animations. A simple element might do it better, [bouncejs](http://bouncejs.

[2018-07-23 22:03] genemars commented on #837
It's good to see a new release. =)
Have a look at this build system: [zUIx web starter](https://github.com/genemars/zuix-web-starter).
It's the build system behind [zUIx](https://genielabs.github.io/zuix) library website, which of course is using *Animate.css*.

[2018-07-23 22:44] #831 closed

[2018-07-24 09:22] meishakeji opened #841 "在v3.6.1版本中没有faster，fast？（Don't have 'faster,fast' classname in v3.6.1）?"
I don't find 'faster,fast...' class name in v3.6.1?

[2018-07-24 18:45] WarenGonzaga commented on #841
Hello, the class name faster and fast is available only on 3.7.0 :) kindly update your copy :)

[2018-07-25 04:56] #841 closed

[2018-07-27 19:48] DevelopedByAnurag opened #843 "animate.css and bootstrap css working unusual together"
hey i Love animate.css due to is animations but it is working very unusually with bootstrap fixed navigation bar resulting in changing page design is there any solution to rectify that as i love the both and want to use them in my project

[2018-07-27 21:00] cj opened #844 "NPM was not published, still at 3.6.1"
First off, thank you for this amazing lib!  It looks like the new 3.7.0 version was not published to NPM as it's still sitting at 3.6.1 https://www.npmjs.com/package/animate.css.

[2018-07-27 23:35] eltonmesquita commented on #843
Hello.
Can you share a link with the issue? Better yet, could you make a simplified case on codepen?

That'll make easier to help you.

[2018-07-28 10:01] Balraj-Singh opened #845 "How to hide/show elements in js?"
It's like I've started using this framework in my production environment. And we have eliminated the usage of jQuery's .hide() & .show() functions to hide/show elements.

So now how can I hide or show an element with the animation classes provided by this framework with JS?

For an instance, I want to hide an element with "slideOutUp" and show it with "slideInDown"?

Please help me with this :)

[2018-07-28 16:06] daneden commented on #844
Published to npm, thanks for the catch!

[2018-07-28 16:06] #844 closed

[2018-07-29 05:49] ShahinSorkh opened #846 "any plan to migrate to sass?"

[2018-07-29 14:37] DevelopedByAnurag commented on #843
basically it is ending the mobile friendliness of the site by increasing the width of the nav bar in bootstrap and also i will create a sample and share the link just here itself

[2018-07-29 15:06] eltonmesquita commented on #843
If I got it right, you're having overflow issues. The simple fix is just add `overflow: hidden` to the parent of the animated element. You'll probably have to adapt something, but it's the same idea.

[2018-07-29 15:10] eltonmesquita commented on #846
Please see #277

[2018-07-29 15:10] #846 closed

[2018-07-30 08:13] DevelopedByAnurag commented on #843
That means I have to add it to each element where i will use any of the animations ?????

[2018-07-30 12:57] ukozdan opened #847 "SASS source"
Is there any plan to generate this from SASS? I am finding situations where, for instance, I wish to import a particular animation into a style for a pseudo-element because I can't apply a class to it. Having SASS partials would make these fringe cases possible.

[2018-07-30 16:31] eltonmesquita commented on #847
Please see #277.

[2018-07-30 16:31] #847 closed

[2018-07-30 23:10] WarenGonzaga commented on #843
@DevelopedByAnurag it is better to provide codepen for the issue so we can check and fix it.

[2018-07-31 04:51] vndevil commented on #770
Animate.css conflict with Bootsrap Modal because it have class `animated fadeIn` in the parent `div`.
To fix this issue, you need to remove class `fadeIn` on event `show.bs.modal` and put it back on event `hidden.bs.modal`.

Here is demo fix your issue: https://codepen.io/vndevil/pen/KBZOzb

[2018-08-01 10:33] abas619 opened #848 "see animation when page on scroll"
Hello to all
I wanna be when the animated scroll page is displayed.
How do I do this?

[2018-08-01 17:11] jwhitleybb commented on #508
Is this JS defunct now? It's working for me. I'm using animate.css as well. http://jsfiddle.net/jarrodwhitley/h57ovjLb/114/

[2018-08-01 20:29] GuilhermeDemoliner commented on #848
explain in more detail what you want please

[2018-08-02 06:13] nehadevli commented on #508
If you are using animate.css, then you have to include wow.js in your code.

Then animation will work as the text will be visible to viewport

[2018-08-02 17:40] WarenGonzaga commented on #848
Hi @abas619, you can reveal animation when you scroll with the help of [wow.js](https://mynameismatthieu.com/WOW/). A friend of animate.css!

For video tutorial please watch this video...
https://www.youtube.com/watch?v=bd_jHBk8Kzw

You can also visit the repo for more info...
https://github.com/matthieua/WOW

Please let me know if you have any questions about animate.css :) cheers!

[2018-08-03 15:42] SakhirAtwi commented on #848
Hi @abas619,

You have many options that you can opt to choose, @WarenGonzaga mentioned [wow.js](https://mynameismatthieu.com/WOW/) which is pretty good. You can choose [scrollreveal.js](https://scrollrevealjs.org/) which is quite good for revealing animations but doesn't work quite well with animte.css. In my opinion your best bet is to use [scrollmagic,](https://scrollmagic.io/) in combination w

[2018-08-03 17:16] WarenGonzaga commented on #848
@SakhirAtwi agree with you... since this is animate.css repository lets keep the topic to animate.css solutions only. GSAP is js based animations (I am also a contributor on GSAP and enthusiast.) it has some advantage and disadvantage. For @abas619 you have to choose one between animate.css or gsap because they can't be used in one project because of some css rendering issues which we have discuss

[2018-08-03 17:48] SakhirAtwi commented on #848
@WarenGonzaga agree with you totally, I have experimented with the combo of animate.css + GSAP + scrollmagic as in the pen I linked in the comment above, and honestly it was the complete disaster coz it creates some sort of glitch in your animation (Don't know why). If you are using scrollmagic then you should always always use javascript animations, i.e GSAP or velocity.js, using animate.css is a

[2018-08-03 20:21] abas619 commented on #848
Thanks My Friend @SakhirAtwi

Sent from Mail for Windows 10

From: SakhirAtwi
Sent: ‏جمعه,‏ ‏12 ‏مرداد ‏1397 ‏08:13 ‏ب.ظ
To: daneden/animate.css
Cc: abas dolati; Mention
Subject: Re: [daneden/animate.css] see animation when page on scroll (#848)

Hi @abas619,
You have many options that you can opt to choose, @WarenGonzaga mentioned wow.js which is pretty good. You can choose scrollreveal.js which

[2018-08-04 23:04] WarenGonzaga commented on #848
So this issue should solve now :) @daneden or @eltonmesquita please close this :) thanks!

[2018-08-04 23:07] #848 closed

[2018-08-04 23:49] WarenGonzaga commented on #843
@DevelopedByAnurag any updates? we will close this if this issue is inactive :)

[2018-08-08 17:21] jaminroe opened #850 "Increase delay between infinite iterations"
Since using `animation-delay` for adding delays between an `infinite` loop doesn't work, would be nice to build this into this library. If you want to do it now, you have to override your animations/timing and then change the `duration`.

Not sure if there's a clever way to build this in some how. Wanted to throw this suggestion out there. Thanks! 😄

[2018-08-08 19:29] AlexMachin1997 opened #851 "Yarn install is throwing this error"
When I came to install animate.css via yarn I kept getting this log in my yarn error file

Any assistance would greatly appreicated

[code]

[2018-08-09 05:27] snakone opened #852 "slideInRight not working on mobile properly"
while slideInLeft its working on Mobile, slideInRight for some reason makes the document wider and taller, you can note this because a scrollbar appears while the animation is in. slideInLeft  doesnt make any scrollbar at all. On mobile this issue deconstruct some responsive websites because its changing the actual document.width and document.height

PD: It works OK if the div sliding in is smalle

[2018-08-09 16:12] #852 closed

[2018-08-09 16:13] snakone commented on #852
overflow: hidden

[2018-08-09 17:27] AlexMachin1997 commented on #851
It was a node js issue my bad.

[2018-08-09 17:27] #851 closed

[2018-08-09 22:09] coderdiaz commented on #852
same issue :(

[2018-08-10 10:51] eltonmesquita commented on #843
Closing this as it's stale.

[2018-08-10 10:51] #843 closed

[2018-08-10 16:11] mwiley commented on #519
I changed bounceInRight to look like this, and it seems to have fixed the problem:

[code]

[2018-08-10 22:40] sambunting opened #853 "jQuery method will trigger and reset all animations on any element with a transition CSS property."
I'm using the provided example in the documentation.

    $.fn.extend({
        animateCss: function(animationName, callback) {
            var animationEnd = (function(el) {
                var animations = {
                    animation: 'animationend',
                    OAnimation: 'oAnimationEnd',
                    MozAnimation: 'mozAnimationEnd',
                    WebkitAnimation: 'web

[2018-08-10 23:42] WarenGonzaga commented on #850
@jaminroe I will look into this since I am the one who implements it... thanks for reporting!

[2018-08-10 23:46] WarenGonzaga commented on #853
hello @sambunting! Thanks for taking time to report this issue... can you please provide a codepen for this one. We will help you better if we can replicate the issue and we will look into it. I understand your question and your issue but for me, it will be fixed based on ID you use to trigger. It will possibly stop all the elements with animation because it uses a class. I think you need to speci

[2018-08-11 11:35] sambunting commented on #853
Hi, got a bit of an update for you. I've spent all morning trying to figure out what was wrong and I think it is because of another library. I attempted to reproduce the issue in a Codepen, but I couldn't reproduce it. The library causing the issue is [OnePageScroll](https://github.com/peachananr/onepage-scroll). It fires the afterScroll method several times for different pages for some reason. I'

[2018-08-11 11:35] #853 closed

[2018-08-12 03:29] WarenGonzaga commented on #853
@sambunting alright thanks for your time to figuring it out. If you need help from Animate.css community please let us know. We are here to fix every issue caused by animate.cs. We proactively fix any issue may encounter by our users. Alright!

[2018-08-12 03:30] WarenGonzaga commented on #845
@eltonmesquita or @daneden please close this one... :)

[2018-08-12 03:30] WarenGonzaga commented on #835
Any updates about this one? I found a better documentation that we can use for animate.css.

[2018-08-12 03:32] WarenGonzaga commented on #821
@daneden and @eltonmesquita did you already added that on 3.7.0?

[2018-08-12 03:34] WarenGonzaga opened #854 "Add Development Branch"
Hi @daneden and @eltonmesquita can we add develop branch to this repo? So we can work on beta version of animate.css before we release the final version and merge it with current version. It will help us to manage the version 4.0 of animate.css.

[2018-08-12 15:50] eltonmesquita commented on #850
Sorry, but there's no way to achieve this with CSS only as `animation-delay` only sets the staring delay and not a delay between iterations of the same animations. As @jaminroe cited, the only way would be to rewrite every animation and add a "pause" inside the keyframes themselves.  It just wouldn't make sense.
I think that's something we can document on #835 and maybe provide a js solution there

[2018-08-12 15:50] #850 closed

[2018-08-12 15:51] eltonmesquita commented on #681
I'm closing this, let's keep the conversation on #835.

[2018-08-12 15:51] #681 closed

[2018-08-12 15:56] eltonmesquita commented on #854
I just added the `dev` branch. Let's keep all the new features and fixes there. The master should reflect the current release. This way we get a better dev flow.
Thanks for the suggestion 😄 .

[2018-08-12 15:56] #854 closed

[2018-08-13 08:09] Salitehkat opened #855 "Restart animation"
Hi,
Does anyone have an updated trick to restart an animation? I am currently using this:

`videoLayer.classList.remove('animated', 'fadeOut');
videoLayer.classList.add('animated', 'fadeIn');`

It might be not the best approach.

Thanks so much for any tip.

[2018-08-13 13:09] WarenGonzaga commented on #855
Hello @Salitehkat based on the documentation...

$.fn.extend({
  animateCss: function(animationName, callback) {
    var animationEnd = (function(el) {
      var animations = {
        animation: 'animationend',
        OAnimation: 'oAnimationEnd',
        MozAnimation: 'mozAnimationEnd',
        WebkitAnimation: 'webkitAnimationEnd',
      };

      for (var t in animations) {
        if (el.styl

[2018-08-13 15:40] Salitehkat commented on #855
Thank you!!!!

[2018-08-13 22:28] #855 closed

[2018-08-14 17:13] WarenGonzaga commented on #835
@eltonmesquita and @daneden this is what I'm talking for... please have time to check this...
https://docusaurus.io/ it is open source documentation for open source projects like this.

[2018-08-15 05:59] tomasts248 commented on #508
What about using Aniview https://jjcosgrove.github.io/jquery-aniview/

[2018-08-16 01:51] dreamtheme opened #857 "Bug with child element with transition and animate on parent in EDGE"
I have found a strange bug that happens in EDGE only.
If you use "animated slideinleft" for example on parent div and on child div you have transition all 2s for example and then you have scale 1.1 on hover on child, the transition on mouse over get bugged with animated on, without animated its fine.

**How its bugged:** If you leave the mouse cursor over the element for the entire transition dura

[2018-08-17 18:36] soccerKevin commented on #641
I can confirm that this error is caused by trying to load css as a script tag

[2018-08-21 16:53] ronaiza-cardoso opened #858 "NativeScript Compatibility"
Is there compatibility with NativeScript?

[2018-08-21 17:08] eltonmesquita commented on #858
Well, that's a trick question. I can't say for sure but according to the documentation the `@keyframe` and `transform` property are supported by NativeScript, so it should work just fine. But I can't guarantee as I never tested it or heard anything about.

It'd be nice if you could try and give some feedback here!

[2018-08-22 18:12] WarenGonzaga commented on #821
@eltonmesquita @daneden @gregskloot this issue should be solved now... please close this... this feature request has been merge to the build 4.0 animate.css :) kindly wait for the grand release of that 4.0 version.

[2018-08-22 18:18] WarenGonzaga commented on #858
@ronaiza-cardoso hello, as long as you use animate.css only without any other animation library such a greensock then you will have no problem on it. If you found some issues on using with NativeScript please let us know.

[2018-08-22 19:01] #821 closed

[2018-08-22 19:43] WarenGonzaga commented on #857
I look over the issue, this is might be causing the translate3d in the animation which is you can found on slideInLeft... or might be this is a browser bug on edge. I think @daneden can debug this thing.

[2018-08-22 22:35] dreamtheme commented on #857
Hi there,
I figured out that if add "transform: scale(1);" to the child before hover(scale(1.1)) state (inner2) fixes the issue, although i still don't know what is the exact problem other that is connected somehow with animated.

[2018-08-23 10:07] nzamosenchuk opened #860 "Chrome 70.x compatibility issues"
Animate.css doesn't work as expected with Chrome Version 70.0.3530.0 (Official Build) canary (64-bit).
**Steps to reproduce**
1. Navigate to https://daneden.github.io/animate.css/ in Chrome 68.x -> works fine
![image](https://user-images.githubusercontent.com/1624855/44519283-df053600-a6cc-11e8-9a7d-d05f31e8dc71.png)
2. Navigate to https://daneden.github.io/animate.css/ in Chrome 70.x -> **effects

[2018-08-23 16:50] eltonmesquita commented on #860
This is a new bug with the `-webkit-text-fill-color` property. I think we'll have to use svg mask or something like that if the bug persist in Chrome's stable channel. I'll keep one eye on that.

[2018-08-26 22:14] WarenGonzaga commented on #857
@dreamtheme awesome! @eltonmesquita I think you need to close this now...

[2018-08-26 23:40] #857 closed

[2018-08-27 11:51] eltonmesquita commented on #858
So it's confirmed that animate.CSS + Native Script work together but with some performance issues?
Can we then close this?

[2018-08-30 18:40] WarenGonzaga commented on #858
@eltonmesquita we are safe to close this...

[2018-08-30 18:51] eltonmesquita commented on #858
Alright. Thanks.

[2018-08-30 18:51] #858 closed

[2018-09-04 02:06] mylastof opened #861 "change URL"
I come from that URL, but its 404.
https://github.com/daneden/animate.css/blob/6c9bd328c5b73d39e8d3498eae2a0fac819d50a7/animate.css#L4

[2018-09-05 08:09] digitlimit commented on #198
I have same issue.  Resolved by applying the overflow to the body instead of the HTML element

   html{
        max-width: 100% !important;
        overflow: hidden !important;
    }

Like @manuel-grondona asked, would this cause any unforeseen issues?
So far I have not noticed any issue.

[2018-09-13 13:26] Tosken1337 opened #863 "Question: Is it possible to trigger animation on hover?"
Question: Is it possible to trigger animation on hover?

Thanks

[2018-09-13 23:50] Blastocele opened #864 "Disable Animate"
Hello there, how can I disable the animations?

[2018-09-14 22:29] eltonmesquita commented on #863
Yeah, of course. Jus use the keyframe names in your CSS instead of the classes directly in your HTML. Something like:
[code]

[2018-09-15 18:37] eltonmesquita commented on #864
Just use media queries. Something like this:
[code]

[2018-09-15 18:51] Blastocele commented on #864
Thank you very much.

[2018-09-15 18:51] #864 closed

[2018-09-17 22:13] eltonmesquita commented on #863
@Tosken1337, any news if that worked? I'm closing this soon if I get no response.

[2018-09-17 22:17] eltonmesquita commented on #861
Thanks for the heads up, but it got fixed in the last commit. It'll be live in the next version.

[2018-09-17 22:17] #861 closed

[2018-09-18 09:50] max-favilli commented on #863
I had the same question.

Seems it works, as long as the element is a block or inline-block element. Doesn't work if it's an inline element.

Maybe it's intended.

It works.

[2018-09-18 21:05] bondt commented on #863
Duplicate of #170

[2018-09-18 21:37] #863 closed

[2018-09-28 08:07] danbeo95 opened #866 "Make animation run once time when contructor ?"
Hey, I using Ionic .In my page ,I add animation fadeInLeft .I want this animation olny run when constructor ?.How can I do .Thaks so much

[2018-09-28 15:07] buggyboyz commented on #866
I dont know if its possible nice but i just link and href animated.css on
my page. You can read docs about animate.css :)

28 Eyl 2018 Cum 11:09 tarihinde danbeo95 <notifications@github.com> şunu
yazdı:

[2018-10-02 18:37] WarenGonzaga commented on #866
Hi there, can you elaborate more on what you want to achieve with the animate.css?

[2018-10-02 18:38] WarenGonzaga commented on #860
@eltonmesquita awesome!

[2018-10-02 18:40] WarenGonzaga commented on #837
@genemars looks cool... but I would prefer a more simpler one.

[2018-10-05 08:21] squarepixel opened #869 "Animation in view"
I have some animations in a site I am building. It animates in some cards down towards the bottom of the page, but seems to go off right when the site loads, so you never see them. How do I make it so it does not animate until its in view?

[2018-10-05 08:48] squarepixel commented on #869
Never mind sorry, I read a little more and found AniView https://github.com/jjcosgrove/jquery-aniview

[2018-10-05 08:48] #869 closed

[2018-10-07 02:44] wbitholedotbe commented on #860
Looks like it is perfectly working now. Tested on dev channel, beta channel and canary... Issue can be closed now.

[2018-10-07 10:59] nzamosenchuk commented on #860
Indeed, can confirm it works now fine in the canary. I think we can close.

[2018-10-07 10:59] #860 closed

[2018-10-07 12:59] mshams999 commented on #837
seems a cool idea .

[2018-10-11 21:26] Matias-Carazzo opened #871 "How to run a 3s animation and wait xs for the next one"
Hi,

it is more a question than an issue.
I just want to run an animation , pulse for instance. Wait 10 seconds and execute it again.
I prefer to use just css, no js.

Thanks,

[2018-10-12 06:02] buggyboyz commented on #871
Hi,
you can find on stackocerflow or codepen.com
if you dont want to use js for this animation, you should analyze that code
you can find in there :
https://codepen.io/search/pens?q=pulse&page=1&order=popularity&depth=everything&show_forks=false

See ya!

Matias <notifications@github.com>, 12 Eki 2018 Cum, 00:28 tarihinde şunu
yazdı:

[2018-10-13 15:00] eltonmesquita commented on #871
Actually there's no easy way to do this with CSS only as the `animation-delay` property only works for the beginning of the animation.  The easiest and not-hacky way to do this is to use a few js lines to achieve the effect.

As this is an issue tracker you won't get much help here as it's focused on issues of the library. Use stackoverflow instead as there are lots of helpful people there that wi

[2018-10-13 15:00] #871 closed

[2018-10-13 15:00] eltonmesquita commented on #866
Closing this as it's stale.

[2018-10-13 15:00] #866 closed

[2018-10-13 18:00] syncopated commented on #836
@daneden is the idea to replace `animate-config.json` with an `animate-config.js` that `import`s the modules the user chooses?

E.g.:
// animate.config.js to be used with rollup

`
import 'attention_seekers/pulse.css';
// import 'attention_seekers/tada.css';
import 'bouncing_exits/bounceInDown.css';
`

I'm interested in helping.

[2018-10-14 01:18] WarenGonzaga commented on #811
@eltonmesquita awesome effort .... I might report this to edge team about this one...

[2018-10-15 12:35] aleksandrx opened #873 "Works on another block"
Hi, why does the animation on the header of the site work in my mobile version, although there should be no animation there? Fixed site header. `https://clickdress.ru`

[2018-10-15 14:21] robsonsobral commented on #836
Have you already took a look at http://parceljs.org/ ?

[2018-10-15 14:23] robsonsobral opened #874 "BEM"
Hi! Have you ever considered BEM for naming the animations?

- http://getbem.com/
- https://en.bem.info/

It's an already widely used naming methodology.

[2018-10-17 18:18] eltonmesquita commented on #873
You probably have some strayed classes, an invalid media query, or anything else. Please recheck your code and make sure to follow all the instructions. As this is an issue tracker we can't help much when it's something not directly related to the library itself. On stackoverflow you'll get the help you need and much faster.

I'm closing this as it's unrelated to the library.

[2018-10-17 18:18] #873 closed

[2018-10-17 18:23] #874 closed, assigned to nobody

[2018-10-17 18:46] eltonmesquita opened #875 "Update jQuery examples to Vanilla js"
As we're in 2018, jQuery isn't so ubiquitous as it used to be and Vanilla js is pretty safe these days, we should replace the jQuery examples by pure Javascript.

[2018-10-18 00:07] robsonsobral commented on #874
I was thinking something like:

- `bounce__in`
- `bounce__in--up`
- `bounce__in--down`
- `bounce__in--left`
- `bounce__in--right`
- `bounce__out`
- `bounce__out--up`
- `bounce__out--down`
- `bounce__out--left`
- `bounce__out--right`

But... You're the boss.

[2018-10-18 13:33] szabyg opened #876 "The wobble animation costs much CPU"
As we figured out, the wobble animation (unlike other animations) defines keyframe translations in percentage, e.g. `transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);`. The animation itself is done in the GPU but calculating the exact positions stays in the CPU for each frame, causing >5% CPU for each animated element.
Any ideas other than replacing the percents by hard-coded pixels?

[2018-10-18 13:46] janydrozd commented on #618
Hi @daneden , is it still open? I could work on this.

[2018-10-18 17:39] eltonmesquita commented on #876
Thanks for the issue @szabyg.
Which browser and version are you using? How are you measuring it? Can you provide an isolated case? I've done some light testing on Chrome 69 on Mac and couldn't see anything unusual, but I do know that each browser deal differently with animations and transform.

I can try to help here but I really need more details.

[2018-10-18 20:27] WarenGonzaga commented on #618
@janydrozd yes but it is assigned to me and this will be available on v4.0 and we still discussing it.. so this one would be held for now. Until we finalize it. :) You can suggest features to us. Just create a new issue. Thanks!

[2018-10-18 21:05] eltonmesquita commented on #874
Makes sense but I still think it's unnecessary. Thanks for the idea! Feel free to suggest other improvements!

[2018-10-19 11:14] janydrozd commented on #836
@daneden is it still open? I could work on this.

[2018-10-19 12:05] szabyg commented on #876
I'm also using Chrome 69 but on Windows. Measured it in the Developer tools "Performance monitor" tab (the one in the Console area).
An isolated case will come in the next days if necessary...

[2018-10-19 15:15] DanielRuf opened #879 "missing releases on npmjs"
3.3.0, 3.3.1 and so on are missing on npmjs. Would be good to have them there too.

[2018-10-20 00:09] WarenGonzaga commented on #837
@jamesgeorge007 yup, the update will be available on the next update which is v4.0 please stay updated :)

[2018-10-20 00:10] WarenGonzaga commented on #879
@DanielRuf we will update it as soon as we have updated the v4.0 for the animate.css

[2018-10-20 02:35] jamesgeorge007 commented on #837
:+1:

[2018-10-26 07:33] Beanactor commented on #820
Yes ;
1. npm install animate.css ;
2. main.js :
import animated from 'animate.css' ;
Vue.use(animated)
3. <div class="box animated bounceInDown"></div>

[2018-10-26 07:35] Beanactor commented on #820
Yes ;
1. npm install animate.css ;
2. main.js :
import animated from 'animate.css' ;
Vue.use(animated)
3. <div class="box animated bounceInDown"></div>

[2018-10-26 07:35] Beanactor commented on #820
Yes ;
1. npm install animate.css ;
2. main.js :
import animated from 'animate.css' ;   Vue.use(animated)
3. <div class="box animated bounceInDown"></div>

[2018-10-26 07:37] Beanactor commented on #820
YES;
1.                  npm install animate.css ;
2.  main.js :    import animated from 'animate.css' ; Vue.use(animated)
3.  <div class="box animated bounceInDown"></div>

[2018-10-26 07:37] Beanactor commented on #820
<p>npm install animate.css ;</p>
<p>main.js : import animated from 'animate.css' ; Vue.use(animated)</p>

[2018-10-26 07:39] Beanactor commented on #820
<p>npm install animate.css ;</p>
<p>main.js : import animated from 'animate.css' ; Vue.use(animated)</p>
<p> class="box animated bounceInDown"</p>

[2018-10-26 07:41] Beanactor commented on #820
<ol type="1">
            <li>npm install animate.css ;</li>
            <li>main.js : import animated from 'animate.css' ; Vue.use(animated)</li>
            <li>class="box animated bounceInDown"</li>
</ol>

[2018-10-26 07:43] Beanactor commented on #820
<ol type="1">
            <li style="color: #f00">npm install animate.css ;</li>
            <li style="color: #f00">main.js : import animated from 'animate.css' ; Vue.use(animated)</li>
            <li style="color: #f00">class="box animated bounceInDown"</li>
</ol>

[2018-10-28 12:12] bedo2991 opened #882 "Firefox 63.0 breaks something in v. 3.7.0"
It looks like in Firefox 63.0 the event animationEnd gets never fired if using v. 3.7.0
Using v. 3.5.2 of animate.css on Firefox 63.0, it works fine.
The website was working fine with 3.7.0 and Firefox 62.0.3.

The event has been found using this suggested code:
[code]

I can't provide a non-working minimal example at the moment, I will try to provide more information tomorrow.

[2018-10-29 14:03] bedo2991 commented on #882
Ok, it looks like the animation does not start at all in Firefox 63.0, and therefore it never ends.
Try this jsfiddle with chrome and with Firefox, make sure that Firefox is updated: https://jsfiddle.net/bxjvLnc5/

[2018-10-29 14:16] bedo2991 commented on #882
Ok, I've found the source of the issue.
In the Windows Settings, the options "Show animations in Windows" needs to be enabled.
From Firefox's changelog: _Firefox now recognizes the operating system accessibility setting for reducing animation_

[2018-11-01 00:26] konstantin83 opened #884 "infinite loop with pause"
Thank you for your wonderful CSS library. It's awesome!
Can you please explain the simplest way to make "tada" infinite loop with a pause of for example 5 seconds? It is possible to achieve that without using the JS?

[2018-11-05 13:40] eltonmesquita commented on #884
That's not possible with CSS only unless you'd take your time to rewrite the animations to include a pause in the `keyframes` that sets the animation, which is not easy or recommended at all.
The best way is to use js. Listen to the animation end (like noted on the readme), remove the class, use a `setTimeout` and go through the whole process again.
If you need more help with the code, please use

[2018-11-05 13:58] eltonmesquita commented on #882
That's probably a bug in the prefers-reduced-motion media query implementation on the Firefox side. I  think it might be worth to file a bug directly to Firefox's issue tracker.

If you can take your take to file the bug, that would be great. You can do it here: https://bugzilla.mozilla.org/

Closing this as it's not fixable in the library itself.
Thanks for reporting!

[2018-11-05 13:58] #882 closed

[2018-11-05 13:59] eltonmesquita commented on #876
Hello @szabyg!
Any news on the reduced case?
Thanks!

[2018-11-07 10:50] GordanShumway commented on #508
For all who still don't have a quick solution. I'm using it this way. The basic idea for scrolling came from Sam Sehnert, Digital Fusion:

`<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="animate.css">
<style>
body {
  margin: 100px
}

.slide-item-wrapper,
.slide-item-wrapper-up
{
  width: 300px;
  height: 200px;
  ove

[2018-11-07 14:53] jarrodwhitley commented on #508
wow.js works perfectly for me.

[2018-11-07 16:08] GordanShumway commented on #508
Wow! Thank you! Very good tip!

[2018-11-07 22:41] WarenGonzaga commented on #884
@eltonmesquita how about putting delay with combination of loop?

[2018-11-08 09:45] szabyg commented on #876
Sorry, I can't create an isolated case at the moment. We're working with LESS and went with the following workaround for the time being:

[code]
That is, we copy the keyframe definitions from the library, define the base width as a LESS variable and modify the percent-sizes replacing them with a LESS calculation. This is calculated at compile-time and the browser CPU usage is low as it supposed to

[2018-11-12 17:37] darrenbarklie commented on #274
Thanks for this @foofighter123 - really helped me out despite a number of failed attempts to fix.

[2018-11-16 11:24] ottz0 opened #886 "Animation relative to the containing div"
I'm using animate css with vue js and have an animation from left to right. However the animation goes from the whole of the window and I get bottom scrollbars.

I have tried to make a wrapping div set to absolute and the div with my animations set to relative but this does not seem to fix the issue.

How can I make my animations relative to it's parent?

[2018-11-16 11:57] eltonmesquita commented on #886
The animations are always relative to the element as they use percentage in their transform, there's no fix for this (we did use absolute values before, using pixels but moved to percentage as it feels more flexible). What you can do is to put this element inside a container (like a simple `div`) and set `overflow: hidden` on it to avoid scrollbars.

As a side note, animating big elements is not r

[2018-11-16 12:01] eltonmesquita commented on #884
@WarenGonzaga, `animation-delay` only delays the initiation of the animation, it doesn't delay between iterations of it. Above I cited the only two ways I can think of how to achieve such thing. I honestly think there's no other way that will be much different from those ones.

[2018-11-16 12:05] WarenGonzaga commented on #884
@eltonmesquita I see, when can we start working on the animate.css v4 ?

[2018-11-16 12:18] ottz0 commented on #886
Of course..Thanks!

Ok thanks for the side note

[2018-11-16 12:42] eltonmesquita commented on #884
Our current list for animate v4 is still a bit small, considering the library itself (excluding readme, website, docs, etc). There are somethings which I think would be nice to be added but I still couldn't propose it here.

There isn't still any clear path or even a roadmap for the new release, but it doesn't mean that the work can't be done. Feel free to get any issue with the `v4` label and sta

[2018-11-16 12:44] eltonmesquita commented on #886
Mind if I close this?

[2018-11-16 15:51] WarenGonzaga commented on #886
@eltonmesquita I think yes...

[2018-11-16 15:53] WarenGonzaga commented on #884
@eltonmesquita I created slack chat for the animate.css actually you want we can discuss there together with @daneden send me your email here: dev@warengonzaga.com

[2018-11-16 17:47] #886 closed

[2018-11-16 18:15] WarenGonzaga commented on #879
@eltonmesquita who worked on npmjs?

[2018-11-16 18:17] WarenGonzaga commented on #836
@janydrozd yes you can, please use the dev branch to submit your pull request since it is part of v4 feature.

[2018-11-16 18:52] WarenGonzaga commented on #884
@konstantin83 better to use it with javascript

[2018-11-18 17:18] konstantin83 commented on #884
Any ideas how to reach this with javascript?

[2018-11-18 17:34] eltonmesquita commented on #884
Ok? Mind if I close this as it's unrelated to the library itself?

[2018-11-19 02:00] lw721 opened #887 "Slow, Slower, Fast, and Faster Class is a problem on iponeX"
The animation effect is not good, use the slow class, the animation speed is not uniform.

[2018-11-19 21:45] #884 closed

[2018-11-21 17:57] WarenGonzaga commented on #887
we'll into this thanks!

[2018-11-26 23:21] WarenGonzaga commented on #887
@lw721 can you please send us a screenshot on how bad it is? Thanks!

[2018-11-27 05:10] DanielRuf commented on #879
In general the owner and I can close this issue. The aforementioned tags / versions still do not exist so I'll not close it.

[2018-11-27 05:11] DanielRuf commented on #879
You can always tag / release / push tags later.

[2018-11-27 16:52] WarenGonzaga commented on #879
@DanielRuf I don't get it... how can we put the latest version on npm... sorry I am not familiar in submitting open source projects on npmn.

[2018-11-27 16:58] DanielRuf commented on #879
Normally by doing `npm publish` and `npm version and so on`. See https://docs.npmjs.com/cli/publish and https://docs.npmjs.com/cli/version

And you can always travel back to an old commit with `git checkout commit-hash`.

[2018-11-28 02:34] Trackmaniakos opened #890 "Bounce router-transition (bad positioning)"
I am trying to use the transition "bounceInRight" and "bounceOutLeft" once the user clicks on the navigation buttons, however this happens:
[https://imgur.com/a/LaDfDRJ](url)
and then it slides back up like it should...
can I fix this in any way? (so that the bounceIn element will come at the same height as the bounceOut element?)
thanks in advance to anyone who checks this one out!

[2018-11-28 15:05] WarenGonzaga commented on #879
@daneden can you please update our npm package? Thanks!

[2018-11-28 15:09] WarenGonzaga commented on #890
@Trackmaniakos to further assist you and help please provide us a codepen.io version of your project so we can fix it for you. (I don't want to spoonfeed you, please don't abuse it or don't be spoonfed by others.)

[2018-11-28 18:08] Trackmaniakos commented on #890
thank you for the reply...The problem is that I am using multiple files in vuejs and the code is quite separated...so its kinda difficult to upload them on an online compiler...
In the app.vue file that vue creates, I have the navigation menu that you can see in the picture... and the transition that i`m trying to have happen:
[code]

however I have other bits of code in the components as well...

[2018-11-28 18:43] WarenGonzaga commented on #890
@Trackmaniakos so the animation is triggered by a button or JavaScript?

[2018-11-28 18:46] Trackmaniakos commented on #890
The animation is triggered by clicking a navigation button yes.

[2018-11-28 19:21] daneden commented on #879
Closing this issue, no need to update npm since the latest release is already there.

[2018-11-28 19:21] #879 closed

[2018-11-28 20:54] DanielRuf commented on #879
Well, it's not about latest but old versions (we want to lock them to these for example).

Publishing them afterwards is easy.

[2018-11-28 21:57] eltonmesquita commented on #890
It'll be very hard to help with so little information. I didn't even get to understand what's the real problem. Yet, I think this is related to the way you're using the Vue's transition component. As this is a Vue usage question this is not the right place to get help. This is an issue tracker for the animate.css library itself and should only be used when there's a real problem with the library i

[2018-11-28 22:01] eltonmesquita commented on #876
Without an isolated case is really hard to investigate the issue. My guess is that you're animating some large elements and this makes them translate a lot of pixels. If that's the case I'd advice to avoid animating them as it wouldn't improve neither the UX or the performance of the website/application.

As no case was provided, I'll close the issue. Feel free to reopen it if you get at least a b

[2018-11-28 22:01] #876 closed

[2018-11-28 22:55] WarenGonzaga commented on #890
Thanks @eltonmesquita, @Trackmaniakos  I will provide a simple demonstration or quick prototype of what you are expecting with animate.css let me do it and I'll get back to you

[2018-11-28 22:56] WarenGonzaga commented on #887
@lw721 soft follow up on this... if this is an inactive issue I will let @eltonmesquita close this.

[2018-11-28 22:57] WarenGonzaga commented on #875
@eltonmesquita why is it still open if you already push the necessary changes?

[2018-11-28 23:09] WarenGonzaga opened #892 "Proposed Animate.css Icon/Logo"
Hello, @daneden and @eltonmesquita I would like to propose an icon to be used in our animation CSS library. Please see the attached image below. Let me know if it is a really good idea to provide our library with an icon. I saw many libraries and frameworks out there with their own icons and logo. Let me know your opinion thanks!

![animate css-version-1](https://user-images.githubusercontent.com/

[2018-11-28 23:52] Trackmaniakos commented on #890
@WarenGonzaga @eltonmesquita Thank you both for the help you`ve given me...Im sorry I posted here...I will know for future code related problems! WarenGonzaga Thanks for your time...I will check out whatever you come up with!

[2018-11-29 11:59] eltonmesquita commented on #835
I like the idea of using docusauros. It's well maintained and have plenty of features that would solve our problems.

[2018-11-29 19:31] Trackmaniakos commented on #890
I found the solution! you just have to give a mode for the animation:

` <transition name="bounceAnim" enter-active-class="animated bounceInRight faster" leave-active-class="animated bounceOutLeft faster" **mode="out-in"**>`

It prevents the elements to try to occupy the same space in the DOM during the animation, and when the one is "out" then the next one is "in".
thanks for the help!

[2018-11-29 21:54] eltonmesquita commented on #890
Great news. Closing it as it's solved.

[2018-11-29 21:54] #890 closed

[2018-11-30 16:52] daneden commented on #835
I’m not sure we need something as comprehensive as docusaurus: animate.css basically only has one instruction—use class names to animate stuff. I think we’d be better off with just a well-made single page documentation site.

[2018-11-30 17:47] daneden commented on #892
Hey @WarenGonzaga, thanks for taking the branding of Animate.css into consideration! I don’t think it’s crucial for us to have a logo for the project, and would prefer to design something myself if necessary.

As some design feedback for this particular logo, I think the Δ shape and color is good conceptually, but the typography is hard to read, particularly if the logo were displayed at smaller s

[2018-11-30 17:47] #892 closed

[2018-11-30 18:46] WarenGonzaga commented on #892
@daneden yup! that's only a prototype... hehe I know you are much better in design than me. If possible please let's give animate.css with an iconic logo.

[2018-12-04 03:14] lw721 commented on #887
Not restored, maybe only in certain circumstances can be restored, I closed the problem

[2018-12-04 03:15] #887 closed

[2018-12-17 13:22] dhwanils95 opened #894 "Delays and position absolute not being applied on Safari Browser"
Hello,

When I am trying to animate a page with multiple components, it works fine on Chrome but not on Safari. Giving links for 3 approaches I tried to solve the issue but none of them seems to be working.

[Approach 1](https://jsfiddle.net/dhwanilshah/m3sdewjz/)
Using static classes for animating as shown in your documentation. Tried on chrome and works perfectly but does not so on Safari.

[App

[2019-01-02 19:25] eaglejohn opened #895 "Add animation when hiding a div"
I have a hidden search bar that I make active/visible by clicking on an icon (jQuery, toggleclass). I added an animation to it so it bounces down when being activated and this is working great.

Now, when I hide the active search bar again by clicking on the icon, it disappears as it should. But... there's no animation. I already tried adding an animation to the hidden search bar, but I can't get

[2019-01-07 21:47] hellodaniel commented on #648
This has driven me mental for years and I keep meaning to check the issues log. Every single time I get it wrong. You can see @belozer's point though:
- `fadeInUp` fades in moving up
- `fadeInDown` fades in moving down
- `fadeInLeft` fades in moving **right** _(i.e.: backwards_)
- `fadeInRight` fades in moving **left** _(i.e.: backwards)_

I don't really want to drag up an old point, and agree wit

[2019-01-07 22:47] jeanieherold commented on #648
a fadeIn from the left moves right
a fadeIn from the right moves left

so really it is not backwards depending on how wording interpreted.

On Mon, Jan 7, 2019 at 4:48 PM daniel x. thornbury <notifications@github.com>
wrote:

[2019-01-07 22:56] hellodaniel commented on #648
I know what you mean, but it's counter to the up/down fades. `fadeInUp` moves up (as expected) so `fadeInLeft` should move left, not _from_ the left (thus actually moving right, as it does). Following that logic `fadeInUp` should fade in from up to down, so it's literally the definition of opposite.

[2019-01-09 01:40] jeanieherold commented on #648
haha! you are right!!

is funny to think about!

On Mon, Jan 7, 2019 at 5:57 PM daniel x. thornbury <notifications@github.com>
wrote:

[2019-01-09 08:09] alalfakawma opened #896 "Absolute Position Element Animation"
Okay, I have a bulma box element which is positioned at the center of the page, I want to animate the whole box, using the bounceInDown animation, but applying this animation is not centering the box anymore, it is moved to the right down from the center, is there a way to tackle this problem?

[2019-01-09 08:37] alalfakawma commented on #896
Flexbox solved this.

[2019-01-09 08:37] #896 closed

[2019-01-09 18:49] jeanieherold commented on #896
I had this exact same issue just recently on a site. I removed the
text-center off the div and that fixed it. I used absolute positioning for
the div to center

On Wed, Jan 9, 2019 at 3:09 AM Aseem Lalfakawma <notifications@github.com>
wrote:

[2019-01-10 17:41] sylido opened #897 "scroll to top bug"
I have the `animated` and `fadeInRight` to a wrapper div that basically holds the whole page. Clicking on a `slickgrid` row of a grid I have on the page for some reason moves the whole page to the top, where the wrapper is. I do have some bootstrap 3 modal boxes too. Removing the `fadeInRight` but keeping the `animated` class solves the problem - no scroll to the top is triggered. I do realize thi

[2019-01-10 18:52] eltonmesquita commented on #897
First, don't animate a whole page. That won't be any good for your users, as it just confuses and degrades the performance.
Second, that's just an overflow problem. Put the element inside other one with `overflow: hidden` set and no more scroll bars...

[2019-01-13 20:31] #811 closed

[2019-01-13 20:33] daneden commented on #875
@WarenGonzaga it looks like that PR was just some housekeeping and doesn’t actually replace the jQuery examples with vanilla JS, so it makes sense to keep this open for now!

[2019-01-13 20:35] daneden commented on #895
@mphacker is right, you’ll have to use JS to detect when the animation is complete. Look into the `animationend` JS event for more details.

[2019-01-13 20:35] #895 closed

[2019-01-14 03:07] sylido commented on #897
I think I traced the issue by chance, it seems to relate to how browsers don't focus on elements in some cases. For some reason when the animation runs it goes to the top where the first input element is. Not sure how to stop it, the solution is to focus on some element lower on the page, but open to any suggestions.

[2019-01-14 22:22] batata004 opened #898 "Bug with animate on latest firefox (even the last 2 major version of firefox)"
Pass your mouse over the red element at: https://jsfiddle.net/egaLns4j/

If you do so using chrome you will see an effect being applied. If you do so using FF, nothing happens.

The code at https://jsfiddle.net/egaLns4j/ is pretty minimmal and I cant understand how firefox does not work with it.

[2019-01-15 00:44] eltonmesquita commented on #898
I just updated Firefox (64.0.2 (64-bit) on Windows 10) and everything's working fine. Check your FF's configurations as this might be related to #831.
If the problem persists, please share your browser and OS versions.

[2019-01-15 00:55] batata004 commented on #898
I just checked now and I am using latest FF on WIN10. See print below.

I am not using any extension/addons, no crazy confs... just plain and simple clean install of firefox. And this bug happens to me and it was also a customer of mine who told me about it and when I checked on my firefox it indeed happened.

![image](https://user-images.githubusercontent.com/8988923/51150795-2db79600-184f-11e9-9

[2019-01-16 18:51] #875 closed

[2019-01-16 22:51] eltonmesquita commented on #897
Sorry, i think I misunderstood it at the first moment. But anyway, it's hard to help without a live code running somewhere. If you can provide this, someone might be able to help.

[2019-01-16 22:57] eltonmesquita commented on #898
Sorry, but I even tried this on FF for Linux and everything's working fine. One thing that you can try is to remove and add both classes, `animated` and `rubberBand` as this might be related.

[2019-01-16 23:03] eltonmesquita commented on #894
Can you make a less convoluted example? There are a lot of things going on there. Try to make it simple so it gets easier to help.
Add just two or three elements and make simple sequence so we can streamline what's happening, alright?

[2019-01-17 00:44] sylido commented on #897
No worries @eltonmesquita here is a [codepen example, try clicking on a slickgrid row on the bottom, I immediately get moved to the top of the page.](https://codepen.io/anon/pen/gZyBVL)

[2019-01-17 00:51] eltonmesquita opened #902 "Code of Conduct"
Right now we don't have any Code of Conduct. I think this is necessary and we should adopt one as soon as possible.
To me the standard **Contributor Covenant Code of Conduct** fits well for this project.
What do you think @daneden?

[2019-01-17 00:56] eltonmesquita opened #903 "Set Guidelines"
Related to #902, we also should provide some guidelines for Contributing and templates for Issues and Pull request.

[2019-01-17 01:01] eltonmesquita commented on #837
So @daneden , do we just expand the current website, adding a doc/faq page? That'll be pretty quick and could be ready for the `v4` release. What are your thoughts?

[2019-01-17 02:16] daneden commented on #837
@eltonmesquita I think that would be great! It might be cool to have the current page take up ~80vh and then users can just scroll to see docs.

[2019-01-17 02:19] daneden commented on #902
Fantastic idea, let’s do it! The Contributor Covenant looks great.

[2019-01-17 03:36] WarenGonzaga commented on #837
@daneden @eltonmesquita alright! awesome! for @daneden it might be so cool if you have time to make an animate,css logo or icon for the v4 launch... what do you think?

[2019-01-17 15:32] eltonmesquita commented on #902
Nice! The only thing to decide is the e-mail that will receive the reports, which will be publicly available. Should I put yours or mine?

[2019-01-18 04:53] eaglejohn commented on #895
I'll look into it later, my client has put this project on hold for at least a month. Thanks for now!

[2019-01-18 15:03] Lahirutech commented on #641
Solved it

[2019-01-19 19:49] tifDev opened #905 "Only bounceIn class works, the rest dont..."
Only the bounceIn effect works, the others dont. Here is my code:

[code]

If i change bounceIn to any other it doesn't works...

This might be help also: https://github.com/daneden/animate.css/issues/293

Browser: Chrome and Mozilla

[2019-01-19 19:53] eltonmesquita commented on #905
This is probably some CSS clash on your code base. Probably those other classes (`col-md-12 col-sm-12`) are overwriting some of animate.css declarations. Just add everything inside other element and add the animate's classes to it.

[2019-01-19 20:56] tifDev commented on #905
Still not working :/

[2019-01-20 11:15] sh7dm opened #906 "3D animations"
I think `animate.css` should have modern 3D anims.

[2019-01-20 14:49] eltonmesquita commented on #905
Hello. Did it work? May I close this?

[2019-01-20 15:10] tifDev commented on #905
Yes it worked, thanks !

[2019-01-20 15:38] #905 closed

[2019-01-20 15:39] eltonmesquita commented on #898
Hey @batata004 any news on this? I still thinks it's not an animate.css issue.

[2019-01-20 19:32] batata004 commented on #898
@eltonmesquita I tried on 2 other computers with latest FF and Win 10 and this bug happens. BUT I think it may not be related to animate.css but with FF for some reason. I ended up formating my WIN10 and after that FF worked with animate.css. BUT on computers that UPGRADED from older versions of FF showed this problem. I am convinced that animate.css is not curlprit for this but I woud like to kee

[2019-01-20 21:17] eltonmesquita commented on #898
Was there any active extension when you ran into the problem?

[2019-01-20 23:47] batata004 commented on #898
No, I had no extension installed. I never use FF, I always use only Chrome.
A customer of mine told there was a problem on his FF, so I gave it a try
on mine (I had an old installation, so before testing I upgraded firefox)
and verified the problem. Anyway, I told already to mozilla about the
problem and I am waiting their verification.
--
*GLAUCO PERON*

Em dom, 20 de jan de 2019 às 19:18, Elton

[2019-01-22 09:07] skchinna7 opened #907 "Can't fadeInUp doesn't work in website how to use it please suggest me?"
Please help how to use ur css in the page?

[2019-01-22 11:56] eltonmesquita commented on #907
Please use the instructions on the [readme page](https://github.com/daneden/animate.css#installation). If you're having a hard time using it, you won't get much help here as this is an issue tracker and we're focused on improve and solve issues of the library itself and just can't help everyone.

Open a question on stackoverflow as there you'll probably get all the help you need.

I'm closing this

[2019-01-22 11:56] #907 closed

[2019-01-22 11:59] eltonmesquita commented on #906
Can you share more details about your request? Using 3d animations just for the sake of it won't be any good to anyone.  Unless you have something specific in mind and get to explain it, it'll be hard to attend this request.

[2019-01-23 13:43] Terrafire123 opened #908 "Hinge animation does not work with rotated elements"
When I try to apply the hinge animation to an element that's already rotated, the animation completely falls apart, because the animation doesn't start with a rotate of 0 degrees.

Which normally is fine, that's not the library's fault.... but there's no reason why it shouldn't work. Simply by adding the following lines to the beginning of the Hinge animation, everything will work smoothly:

    -

[2019-01-25 13:41] eltonmesquita commented on #908
You can't have multiple transform declarations on the same element, they'll just get overwritten. The best workaround is to put the transformed element inside other element and animate this parent so you won't override the child's transform.

Your fix is bespoken, it will only work in your case. We can't consider adding it in the library itself as it'll probably just brake things.

I'm closing thi

[2019-01-25 13:41] #908 closed

[2019-01-25 13:41] #906 closed

[2019-01-25 13:42] eltonmesquita commented on #898
I'm closing this as it isn't related to the library. Feel free to reopen it if needed.

[2019-01-25 13:42] #898 closed

[2019-01-25 13:52] eltonmesquita commented on #897
Yeah, this is some of those really nasty bug which you'd probably have to debug the library you're using to find the cause. I don't think animate is to be blamed here as we just add animations to specified elements and nothing more. It should never mess with scroll position.

Did you consider to try other library as slickgrids is massively outdated?

[2019-01-25 16:18] sylido commented on #897
I mean removing the .fadeInRight class fixes the issue, you can try it on the codepen, so it seems like it is somehow related. Maybe it's a general animation/browser issue, so I was just wondering if there are any known interactions between jquery/jquery-ui/the other libraries I've added to the codepen and animate.css. As far as slickgrid, we are using a highly customized version of it, maybe I'll

[2019-01-25 21:20] max-ci commented on #897
@sylido this is strange, I'll look into this. Despite that it's not recommended to do animation on body in my opinion.

[2019-01-27 11:16] Terrafire123 commented on #908
In what possible case could the fix I recommended possibly break anything? Like you say, all of the transforms will get overwritten anyway.

My fix is just overwriting the transform a little earlier so that if there WAS an old transform:rotate3d on it, it gets reset to 0 with an animation, instead of jumping directly to the new **transform** in an extremely ugly way..

[2019-01-28 16:02] batata004 commented on #898
Problem solved! It's indeed an issue with ANIMATE.CSS library! It is not using MOZ vendor prefix! Some Firefox distributions (even the latest one with Portuguese) for some reason requires MOZ prefix! Animate.css only prefix with "webkit" and nothing else! Is it possible to get it to work with moz?

[2019-01-28 16:37] batata004 commented on #898
That's indeed odd but I think animate should not drop MOZ support since many people use still outdated version AND even the latest version in portuguese demands using MOZ for some reason. Maybe FF will fix this soon but as I speak with you, my latest version of FF has this issue.

[2019-01-28 17:36] eltonmesquita commented on #898
Nope. I've got the BR version in portuguese on three systems (Windows 10, Mac and Linux) and they all work just fine. There should be no changes in the browser's engine based on the language.

It might be a long shot, but I've seem cases where some malware/adware substituted the installed browser for some older and modified versions of them, believe it or not.

Maybe that's the case? As you can se

[2019-02-02 15:08] Derrin616 opened #909 "how to start animation with a button"
how can you start an animation on text like in the website???

[2019-02-02 15:51] eltonmesquita commented on #909
https://github.com/daneden/animate.css/blob/master/README.md#usage-with-javascript

If you need more help, please use stackoverflow as this is an issue tracker dedicated to problems and improvements of the library itself. You won't get much help here about usage.

[2019-02-03 09:07] WarenGonzaga commented on #903
Agree

[2019-02-03 09:08] WarenGonzaga commented on #902
That's cool! Willing to contribute....

[2019-02-03 09:08] WarenGonzaga commented on #894
Is this still active?

[2019-02-05 23:06] #909 closed

[2019-02-05 23:07] #894 closed

[2019-02-08 14:15] gerardjp commented on #349
Imho, these are not solutions but workarounds. The theme does distinct support for different devices elsewhere. Hence the option to change padding choices and whatever via the builder GUI for the different devices. And for animations it's a all or nothing deal.

Where can I put in an RFE? 😃

[2019-02-09 13:10] sungdzda opened #910 "Version 3.7 Does Not Support Firefox"
I am using the zoom-in effect from animate.min.css and firefox (desktop) is not responding to it.

Here are my test results:
Firefox latest: 3.5.2 works fine, 3.7 doesn't work
Chrome latest: both versions work

Please let me know if this is a glitch on my part. Thanks.

[2019-02-09 17:10] eltonmesquita commented on #910
Hello.
Can you elaborate more? I just tested on FF 64.0.2 and 65.0 on Windows and everything worked just fine.

[2019-02-09 17:18] #902 closed

[2019-02-09 17:34] eltonmesquita commented on #897
Sorry, but I can't help much here as I'd have to debug the whole slickgrid library to find the issue and that's just not feasible. In theory a css animation would never mess with interactions or even with the page scroll but I've seen enough bizarre bugs happening in a browser to say that's impossible.

Still, I think that using an outdated is hardly a good idea. My advise stands: it's better to l

[2019-02-10 05:07] sungdzda commented on #910
Hi. I am using Firefox 65.0 (64-bit) on Windows and the only variable seems to be the version of my animate.css file.

I have tried the following:
- alternate betweed CDN and local file (doesn't work)
- use animate.css instead of animate.min.css (doesn't work)
- start in safe mode with extensions disabled (doesn't work)

I can confirm that 3.7 works with FF 64.0.2 on my other computer. Just not su

[2019-02-10 09:00] abhieshekumar opened #911 "No favicon"
The [website](https://daneden.github.io/animate.css/) lacks a favicon.

[2019-02-10 10:49] eltonmesquita commented on #910
I'm pretty sure this is related to #831. Please check your configurations on Windows to see if animations are off.
(Go to: "Configuration > Screen > Show animations on Windows" and check if this on)

[2019-02-11 07:38] sungdzda commented on #910
Thank you. It turns out that Firefox is just being presumptuous.

[2019-02-11 07:38] #910 closed

[2019-02-12 10:14] ilechukwuoliverk commented on #623
animate.css files not downloading in my browser instead shows me raw.githubusercontent.com
am using google chrome

[2019-02-12 18:24] eltonmesquita commented on #623
Please, follow the instructions on the readme and avoid linking files directly from GitHub.

[2019-02-15 19:56] windware commented on #784
@eltonmesquita
It doesn't work on Safari 12 (macOS 10.13.6, Safari 12.0.3, no extensions).

https://daneden.github.io/animate.css/
Initial sliding from the bottom works but none of the other animations work.

[2019-02-18 17:14] laurencefass opened #912 "div takes two clicks to show animation"
I have a wrapper div with hidden content which shows/hides on click of an adjacent button. animate.css appears to only work on the second (show) click, and then works indefinitely for subsequent hide/show clicks.

thanks

[2019-02-19 10:41] laurencefass opened #913 "animations loading twice?"
some content slides in twice in some places and once in others. im only using css no javascript. this is not happening on all elements and appears quite unpredictable.

[2019-02-21 11:50] jadurani opened #914 "[Improvement] Set opacity to 0 on all elements with `out` classes when media is set to `prefers-reduced-motion`"
The intention of "-Out" classes (fadeOut, zoomOut, slideOut, rollOut, and the like) is to stylize the _disappearance_ of the element which uses this variation of "-Out" class. However, for browsers that have set `prefers-reduced-motion`, all these animations are not executed. Hence, during the instances that these elements need to disappear from the UI (opacity set to 0), _they do not disappear as

[2019-02-26 10:51] gt0p commented on #897
I have a similar use case in which your proposal works.
Problem: A container (aka parent element) has the animation fadeIn and a inner button element triggers a dropdown menu which is *not* overflow its parent as it used to do.

As far as I know when we define `animation-fill-mode: forwards|both;`, we are telling the browser that we want our animated element to hold on to its final set of styles,

[2019-02-26 22:32] sylido commented on #897
thanks @max-ci your suggestion does fix the issue - I wonder what exactly the "forwards" triggers that "backwards" only doesn't - seems like a weird browser animation interaction, there might be a bug there.

@eltonmesquita you can easily try doing what I suggested to the codepen example you wanted me to provide to be completely convinced that what me and @max-ci are observing in this case is 100%

[2019-02-27 00:04] eltonmesquita commented on #913
Hello.
Could you please detail the issue? Also, providing a reduced case on codepen will make it easier to help you.

[2019-02-27 00:05] eltonmesquita commented on #912
Hello.
Could you please share a live example with the problem on codepen?

[2019-02-27 00:06] eltonmesquita commented on #911
Thanks for the tip. It is a known situation and we may tackle it in the future.

[2019-02-27 00:06] #911 closed

[2019-03-03 04:55] javaskript commented on #913
Try adding

`visibility: hidden;`

to your animated element.

[2019-03-09 08:19] Chetnaa commented on #274
I have used the solution provided by you but my issue is still not resolved

[2019-03-13 00:09] WarenGonzaga commented on #914
Hello, @jadurani thank you for your suggestion, I will review this one together with @eltonmesquita and we'll get back to you... ;) what can you say about this @daneden

[2019-03-13 00:10] WarenGonzaga commented on #913
@laurencefass please provide us a codepen version so we can check your issue and solve it. Thank you!

[2019-03-13 00:11] WarenGonzaga commented on #912
@laurencefass any updates? If it is possible please provide us a codepen so we can check it and solve it.

[2019-03-13 09:24] laurencefass commented on #913
The animation is not actually happening twice. The problem arises trying to assign classes in JQuery and does not appear when I hard-code classes into html elements. Also it also only noticeable to the first element on the page.

I think this is a limitation with jquery not an issue with animate.css (though it does effect it) and there appears no way (I can find) to assign classes BEFORE the page

[2019-03-13 15:14] svetadobricic commented on #274
Great!

[2019-03-14 15:00] #912 closed

[2019-03-14 15:00] laurencefass commented on #912
cannot reproduce

[2019-03-14 15:51] WarenGonzaga commented on #912
okay thanks! Any issues please find a way to reproduce so we can check it and debug it.

[2019-03-14 15:56] WarenGonzaga commented on #913
Hi, @laurencefass since it is a jquery related issue and you already said affecting it with our animate.css then it's not totally an issue to animate.css that's why we are going to remove the jquery as a way to use with animate.css we've discussed this earlier, we have decided to replace all jquery samples and demo with vanilla JS. Please refer to this issue #835 Have a good day!

Anyway, thanks f

[2019-03-14 16:00] laurencefass commented on #913
thanks for your help ill reissue if i see further problems but i think this is a known problem with jquery.

[2019-03-14 16:00] #913 closed

[2019-03-14 17:05] front-bittencourt opened #918 "Change direction"
How can I change the direction of transition in the middle of the process?

[2019-03-16 16:37] legagneur-matthieu opened #919 "don't work on firefox 65"
Hi,
any animations work in Firefox 65,
but I have not find where is the problem.

[2019-03-16 16:56] legagneur-matthieu commented on #919
sorry I have find, it's the "prefers-reduced-motion" params ^^

[2019-03-16 17:24] #919 closed

[2019-03-19 19:13] eltonmesquita commented on #918
While that would be possible, that would be a lot of work, honestly. If you have that kind of need, a javascript animation library would be a better suit for you.

Have a look on [anime.js](https://animejs.com/). It's a great and lightweight js library that works really well and will probably fulfill your needs.

Mind if I close this?

[2019-03-19 19:14] eltonmesquita commented on #914
You clearly have a point. I'll take some time and review your request and its side-effects. I'll keep this open as a referral to the request.

[2019-03-19 19:22] front-bittencourt commented on #918
Ok, pode fechar

[2019-03-19 19:30] eltonmesquita commented on #897
Sorry I didn't make myself clear, but after you provided the example I saw with my own eyes that the bug exist.  The problem is that this is too bloated to have a proper answer to what's the problem there.
There's no known problem with any library like jQuery, jQuery UI or any other js library as we're just adding some animations to some elements.
As this isn't an issue with animate.css itself and

[2019-03-19 19:30] #897 closed

[2019-03-19 19:45] #918 closed

[2019-03-24 16:07] slecorvaisier opened #921 "Support on Safari 12"
It seems Animate.css is not working on Safari (macOs) v12.0.3. After some research, I see no information about a lack of support on Safari. Do I miss something?

To reproduce it, visit https://daneden.github.io/animate.css/

[2019-03-25 19:00] eabigelow commented on #271
PandaWhisperer could you put an example here of how you accomplished this using a CSS transition? Thank you!

[2019-03-29 08:30] simonebanfi opened #922 "Stop animation with onClick function"
Hello,
i would like to know if there is a trick for stopping the animation by clicking the item using the onClick function or using some other way..
Is it possible?
Thank you for your suggestions

Simone

[2019-04-05 09:22] alainbelez opened #924 "animated div position wrong"
im trying to animate the dropdown list and the position is wrong.

https://stackblitz.com/edit/angular-zteyj1?embed=1&file=app/dropdown-basic.html

[2019-04-08 21:16] PandaWhisperer commented on #271
@eabigelow this was almost 5 years ago. Sorry, but I do not remember what I did.

[2019-04-09 02:44] Unresponsive commented on #921
The same with mobile Safari on iOS 11.

[2019-04-09 02:49] Unresponsive commented on #921
Version 3.6.2 works by the way, only 3.7.0 doesn't.

[2019-04-11 15:35] Smythu opened #925 "Installing with npm to Laravel project"
How am I supposed to get this to work with NPM and my Laravel project?

I've tried to add it into my app.scss file with

[code]
or
[code]

Even tried to add this to my bootstrap.js with

[code]

None of these worked, how can I get this to work?

[2019-04-11 15:44] Smythu commented on #925
Nevermind, had to run npm run dev to get it to work!

[2019-04-11 15:44] #925 closed

[2019-04-11 17:30] peterremote1980 opened #926 "bounce in some DIVs sequentially"
Hi, how to bounce in some DIVs sequentially?
thanks
Peter

[2019-04-16 06:28] bharathism04 commented on #274
Hi, i will add this style for which element?

[2019-04-16 09:10] khadro commented on #926
Assuming you have a containing DIV element, with only the items you want to bounce in inside it, you can use the following:

**HTML**
[code]

**SCSS**
[code]

This will increment the animation delay for each item by 0.35s. Obviously that value is modifiable to whatever makes sense to you, as is the animation class you attach.

If you're not using SCSS you can still achieve it, but you will need to

[2019-04-23 15:30] FredyC opened #927 "Animating element out (in React)"
First of all, thanks for this little lib. I was always kinda afraid animations to be something hard to do. This was an amazing experience. Just add the class and it works 🎉

I am wondering if some ReactJS people are around here and how to achieve animation on unmounting component. I've figured out to animate on a change I can just set the `key` prop. Unmount feels like a much harder beast because

[2019-04-23 19:40] eltonmesquita commented on #927
Hello @FredyC.
You have to use [React Transition Group](https://github.com/reactjs/react-transition-group) or a similar library. It's no trivial task to handle the mounting and unmounting of a Component in React.
Just adapt the instructions on the documentation of RTG and you're good to go.

[2019-04-23 19:59] FredyC commented on #927
Ah, that sounds promising. Thanks.

[2019-04-23 19:59] #927 closed

[2019-04-24 16:29] martinlombana opened #928 "It stoped working in latest Chrome and Firefox"
This is a bit confusing, but even your website, when you click "Animate" stopped working for latest chrome and firefox.

It does work in Edge, though. Any idea why?

I noticed it in a project, that all animations stopped working, and decided to theck your own website. Pretty weird this is test with chrome ( I am clicking the button).

![GIF-ELEMENT](https://user-images.githubusercontent.com/183519

[2019-04-24 17:53] martinlombana commented on #928
I found the issue.

reduced-motion, something that as a web-developer I never activated, if not set, get's picked up as set.

If you remove this last part in animate.css:

`@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
`

Everything wo

[2019-04-24 22:55] eltonmesquita commented on #928
Hello.
Chrome and Firefox on Windows set this configuration based on Windows configurations itself. If you choose reduced animations on Windows configuration than the browsers will match the media query and disable the animations.

Unfortunately this is a bit confusing right now as it's not clear to everyone that this is an OS config. I might add this to the read me to clarify things.

[2019-04-24 22:59] martinlombana commented on #928
Yep. Because most people, like me, never touched that setting. And id
animations stop working, it might lead to crazyness 😉.

Maybe make those lines optional and not included by default?

Best,

On Thu, 25 Apr 2019 at 00:57, Elton Mesquita <notifications@github.com>
wrote:

--

___________________________________

*Martín Lombana *

*TODOLOGIC.COM <http://TODOLOGIC.COM> *

*+34 633 63 02 35  |   *

[2019-04-25 12:03] Benoit75 commented on #928
Hello,
Thank's for your all your work (@daneden  and  bug hunter @martinlombana & @eltonmesquita)  : this bug drive me crazy thise morning !!!

For those who would like to  reactivate this setting (before a hopfully new release of animate) :

1. Press Win+R to open the Run dialog.
2. Type in sysdm.cpl and press enter to launch windows settings pannel
3. In the dialog windows that opens, click the

[2019-04-25 13:15] martinlombana commented on #928
Good tip,

But that would just work for you. Other users might be in our situation,
therefore not having animations on their system when they actually want
them...

🙂

On Thu, 25 Apr 2019 at 14:05, Benoit75 <notifications@github.com> wrote:

--

___________________________________

*Martín Lombana *

*TODOLOGIC.COM <http://TODOLOGIC.COM> *

*+34 633 63 02 35  |   *+34 946 759 137

*INSTAGRAM *→* @

[2019-04-25 13:52] marlon-tucker commented on #928
Hello,

According to this google developer page https://developers.google.com/web/updates/2019/03/prefers-reduced-motion the media query has an additional parameter, either `reduce` or `no-preference`.

However, the media query which animate.css is using does not have a check for this parameter, and so I believe the rules are being applied regardless, even though I suspect in most instances it wil

[2019-04-25 14:45] sykeben opened #929 "animateCSS() function does not work."
So, here's my JS:
[code]

And it's supposed to make the text "moves" (id `head-3-bouncer`) in the following HTML bounce upon page load:
[code]

Is there anything I'm doing wrong? The browser I am using is `Firefox Developer 67.0b13 (64-bit)` on `Windows 10 Version 1809 (OS Build 17763.437)`. I'm thinking that the `onload` may be too early for the browser to be ready, but you may prove me wrong.

[2019-04-25 16:03] sykeben commented on #929
I just found that the `<span>` that the text is in cannot change position, my bad.

[2019-04-25 16:03] #929 closed

[2019-04-25 16:47] eltonmesquita commented on #928
Just to make it clear, this is *not a bug*. It's the way the browser's implementation works. It's something that developers should be aware when using animate.css or any animation in a browser.

Safari's implementation is based on the browser's configuration, not in a system wide implementation, for instance.

@marlon-tucker, thanks for the reference. I'll have a look at the link and see if what's

[2019-04-25 17:57] martinlombana commented on #928
@eltonmesquita not a "bug" per se, but maybe not something that is forced, out of the box in an animation framework. Don't you agree?

[2019-04-26 22:20] matteoraggi opened #930 "from css to mp4"
Do you have soe suggestions to tranform these wonderfull css animations in mp4?

[2019-04-27 16:25] foxnoodles commented on #922
you can set the CSS property called animation-play-state: to "paused" via JS

[2019-05-01 05:01] Manuel-Suarez-Abascal commented on #922
Can we close this issue please?

[2019-05-01 05:07] Manuel-Suarez-Abascal commented on #835
@daneden @WarenGonzaga  I would like to contribute to the single page documentation site. Do you have a design already that I could start working on?

[2019-05-01 16:23] WarenGonzaga commented on #835
Hi @Manuel-Suarez-Abascal we don't have a design at the moment we're focusing on making progress with the latest version of Animate.css which is the v4 of it. You can create a design and show it so we can decide or we can improve it. By the way, thanks for the help...

[2019-05-01 16:27] WarenGonzaga commented on #930
I work as an HTML5 banner ad developer before and if you want to convert an animation from the web to mp4 (video/gif) I would suggest using this tool https://www.screentogif.com/ I've been using this to convert web animation into video or gif... and it is easy to use you just capture your screen and record it then edit and if you satisfy enough you can convert it to GIF or Video of your choice. ;)

[2019-05-01 16:35] WarenGonzaga commented on #928
Hello everyone, I remember someone is requesting this feature to be an option for the developer who uses animate.css and makes it default to NO. I can't find that issue here so I refer here that issue. @eltonmesquita is it a good idea to make this feature an optional? and make it default as no?

[2019-05-01 18:40] matteoraggi commented on #930
I am supposing to use ccapture.js , it works only with canvas html, btu it it a limit large emough for me.

[2019-05-01 18:58] #922 closed

[2019-05-01 21:55] matteoraggi commented on #930
Thanks! But I don't feel so sure that it will be able to keep a costant framerat, instead this other tool looks to have a perfect framerate if working with html canvas: https://github.com/spite/ccapture.js/

[2019-05-01 22:06] WarenGonzaga commented on #930
Are you going to create a web animation based editor/ and they are going to export it into mp4 format? Is that right?

[2019-05-01 22:07] WarenGonzaga commented on #930
I think this one will help you... http://www.tysoncadenhead.com/blog/exporting-canvas-animation-to-mov/

[2019-05-01 23:43] matteoraggi commented on #930
yes, I would create a svery simple html editor to customize mp4 videos starting from html.
Actually adobe after effects and adobe animate cc can export in canvas html but is hard to find online commercial demos usin html canvas I see..

[2019-05-08 08:41] shpuld commented on #928
Wouldn't it be a better idea to use `animation-duration: 0s;` and `transition-duration: 0s;` to remove animations instead of forcing animations to unset and transitions to none, which actually *breaks* websites? In our case we rely on animations for a sliding menu which completely broke with the Chrome 74 update thanks to this, while with duration 0's it would still work just without any animation

[2019-05-08 10:47] sivot opened #932 "[Chrome 74] @media(prefers-reduced-motion) rule"
`@media(prefers-reduced-motion)` rule updated, please check:
https://developers.google.com/web/updates/2019/03/prefers-reduced-motion

Please extend the rule:
`@media (prefers-reduced-motion) ` -> `@media (prefers-reduced-motion: reduce)`

[2019-05-08 12:21] linconkusunoki opened #933 "Generate a CSS module file"
Create a file called `animate.module.css` in the build process, so we can import it in our React components that supports CSS modules

[code]

And use like that
[code]

[code]

[2019-05-09 11:35] terryupton opened #934 "Really choppy animations in Chrome iOS"
Has anyone else noticed really choppy animations in Chrome on IOS?
Seems fine in Safari on IOS and Chrome Desktop.

Any ideas as to what might be causing this?

[2019-05-09 18:42] XEQTIONR commented on #928
Thanks so much for this. I'm close to finishing a project and suddenly, all (or most) animations broke after a web-pack re-build. Took me a while to figure out what had caused the problem. Didn't expect animate.css to break since it's rather a simple framework. But very annoying. I'm having to use a custom version of the CSS file (with that part commented out). Can anyone please post a PROPER way

[2019-05-09 19:24] XEQTIONR commented on #928
Now I'm thinking that it wasn't because of the web-pack build. Because I checked and that section of the code was always there. It must be automatic chrome update.

[2019-05-09 19:35] WarenGonzaga commented on #932
Hello @sivot  thank you for the update!
@eltonmesquita can you please check this one and add a proper label for this. Thank you!

[2019-05-09 19:36] WarenGonzaga commented on #933
@linconkusunoki thanks for the suggestion we will add this on the next version of animate.css @eltonmesquita can you please review this one and add a proper label. Thank you!

[2019-05-09 19:37] WarenGonzaga commented on #934
Can you provide a video or gif of being choppy of animations? What I think is, it cause by this issue #928

[2019-05-10 04:38] yellow1912 commented on #932
I can confirm this. With the release of the new Chrome, this rule causes all my elements to stop being animated even when the users do not set the mode to reduce. This issue is critical and should be fixed asap.

[2019-05-10 06:08] sivot commented on #934
Tested on 300+ ipad 4, air, air 2, pro. :) Really. IOS 10/11/12. There is no problem. Chrome not tested, just Safari and Standalone Web Application. Look like the problem is in your device/settings/webapp.
If you want to use large and/or complex animations you need to understand the "new" Webkit render engine... Google is your friend...

[2019-05-10 07:17] terryupton commented on #934
@sivot - yes there is no issue on any Safari, it is Chrome that is the problem as stated in the title.
As for complex animations - not really!? All I am doing is using the simple fadeInDown with a delay for each child item, so I wouldn't really call this a complex/large scale animation.

I believe this is either a bug (or an adjustment of code required) as per the related thread [#928](https://git

[2019-05-10 08:44] sivot commented on #934
@terryupton Ok. This is not choppy, this is another render engine. You need to learn how to DOM and CSOM works. I think the problem is in your case the DOM manipulation time. Try to do it in one instance. Welcome in the WebDevelopment Funny World...

[2019-05-10 08:54] terryupton commented on #934
@sivot I have used this technique many time before without issue (it used to work in Chrome iOS). It works everywhere else I have tested except in Chrome on iOS. I don't think i _need_ to learn about the DOM and CSOM in order to implement a simple animation.

If I did it in once instance, then I would not get the effect of each item sliding in down separately, it would be just a block sliding in a

[2019-05-10 09:36] sivot commented on #928
@marlon-tucker found the right reason. #932

[2019-05-11 04:26] WarenGonzaga commented on #934
@terryupton what I can see is a bug in chrome... I think we need to create a dummy animation for your issue and put in codepen so everyone can debug and solve it. Are you able to reproduce this issue? Let's use Codepen for debugging.

[2019-05-11 14:21] sivot commented on #934
@WarenGonzaga

Reason and Solution here: #932.

Codepen Tester: https://codepen.io/ericwbailey/pen/PWJPrW

As you can see need to update the css rule with a simple parameter in your library...
`@media (prefers-reduced-motion)` -> `@media (prefers-reduced-motion: reduce)`

Because, with the new Chrome and Firefox update fires the `reduce` option basically if not parameter set.

You can test it on W

[2019-05-13 00:49] jomho commented on #932
I have added
[code]
to styles.css in my angular app. Also, I have attempted to update the library to include `@media (prefers-reduced-motion: reduce)` instead of `@media (prefers-reduced-motion)`. Neither has worked in Chrome for iOS V74.0.3729.121. What should I do?

[2019-05-14 11:13] sivot commented on #932
@jomho that block inlcuded to `animate.css` library, so if you include that block to your style it doesn't matter. :) Need to fix that block in `animate.css` library.

[2019-05-14 23:38] eltonmesquita commented on #933
Although I don't like the idea of adding a duplicated file just to fit the convention of a single boilerplate project (this is a CRA thing), this makes sense and can make developers life easier.
So, yeah this will probably end up on the **v4** release.

Just a small question, would be better to provide the minified or unminified version? I think that the end result will be the same...

Thanks for

[2019-05-14 23:49] eltonmesquita commented on #934
Alright, I'll close this as it's a duplicate of #928 .

[2019-05-14 23:49] #934 closed

[2019-05-14 23:51] eltonmesquita commented on #932
I'll close this as it's a duplication of #928 .

[2019-05-14 23:51] #932 closed

[2019-05-14 23:52] eltonmesquita commented on #930
Mind if I close this @matteoraggi ? It's way off topic and you've got your answers, I think.

[2019-05-14 23:53] eltonmesquita commented on #926
Closing this as it's unrelated and got a proper answer.

[2019-05-14 23:53] #926 closed

[2019-05-15 00:00] eltonmesquita commented on #924
This happens because animate.css uses transforms and will override the element's initial transform. You'll have to find a way to wrap that element and add the animation to this wrap.

I'll close this as it's unrelated to an issue tracker. If you need more help, stackoverflow is a much better place as this should be used with issues and bugs, not with question related to usage. You'll get way more

[2019-05-15 00:00] #924 closed

[2019-05-15 00:00] matteoraggi commented on #930
yes, thanks a lot :-)

[2019-05-15 00:54] #930 closed

[2019-05-15 03:13] WarenGonzaga commented on #933
@eltonmesquita awesome feedback thanks for the response.

[2019-05-16 01:03] linconkusunoki commented on #933
Yeah, it's just to not create this file in the our personal projects and update it manually.
If the file is minified or not doesn't matter, because CRA will do it when runs the `yarn build` command.

Thanks for accepting my suggestion :smiley:

[2019-05-16 04:22] yellow1912 commented on #928
This is a breaking issue, it causes the animation to stop working, elements to stop appearing and such. Can a fix for this be pushed ASAP? It's just a very minor change to the current rule.

[2019-05-16 10:22] sivot commented on #928
Solution committed, we are waiting for merge it to a release. You can check in pull requests...

[2019-05-16 12:01] sivot commented on #928
Temporary solution until new release published:
- [animate-3.7.1-rc.css](https://gist.github.com/sivot/6e46d56d2b98c8580dfe79f31be690b8)
- [animate-3.7.1-rc.min.css](https://gist.github.com/sivot/eb707b487eca132f87b903c13b3031da)

[2019-05-16 20:27] nikocraft opened #935 "Animation stuttering experienced, video attached"
I can't get a smooth fadein animation, as you will notice there is stuttering or double start in desktop and responsive modes. I've got a beast of a machine and the page is only rendering that div and animation on it, so nothing else could be slowing it down.

Demo here:
https://www.youtube.com/watch?v=fq84yl8jce4

my code is simple:

[code]

[2019-05-16 21:47] nikocraft commented on #935
I solved it by a better approach.

[2019-05-16 21:47] #935 closed

[2019-05-18 09:53] rendy44 commented on #928
@sivot Does not work either on Chrome 74 windows.

[2019-05-18 10:00] sivot commented on #928
@rendy44 what does not work? Show me your sample page or code. If animation not playing in linked codepen, then you need to enable animations in Windows.

[2019-05-18 10:05] sivot commented on #928
**It's okay, if animations don't playing in only cases below:**
- On `OSX` or `IOS` `reduced motion` option turned `ON` in OS level
- On Windows `Show animations in Windows` turned `OFF` in OS level

### In any other cases the animations need to playing...

**Change Reduce Motion Settings:**
- OSX: `Settings` > `General` > `Accessibility` > `Reduce Motion`
- IOS: `System Preferences` > `Accessibil

[2019-05-21 09:28] Frankj1995 commented on #274
This worked for me, thank you so much!! Was causing me a lot of grief.

[2019-05-21 17:13] batata004 commented on #928
Just today I found out this thread. I spent the last 3 days trying to fix this in a very complex add. I made very simple test cases and found out that animate.css by itselft is causing this problem.

The problem is that I use animate.css in hunderds of websites importing it from CDN. All those websites are broken right now. I think animate.css should make this `prefers-reduced-motion` optional and

[2019-05-21 17:16] batata004 commented on #898
THIS BUG THAT I REPORTED SEVERAL MONTHS AGO WAS JUST ACKNOWLEDGED RIGHT NOW at https://github.com/daneden/animate.css/issues/928

Anyway, at least now it's clear I am not crazy or doing something completely weird.

[2019-05-21 19:56] WarenGonzaga commented on #928
Hello, I already recommend it and we are working on updates... here's my reply and suggestion about his issue.

@eltonmesquita is working on updates...

[2019-05-21 19:58] WarenGonzaga commented on #933
@linconkusunoki you're welcome! Expect this feature in v4.

[2019-05-21 20:04] batata004 commented on #928
Thanks! :) You said @eltonmesquita  is "working"? The "work" is only to remove that `prefers-reduced-motion` from the `css` file OR set `prefers-reduced-motion` with a value - I disagree with the guy that said that this problem is not a bug - I think it is. The bug is that the code only makes use of `prefers-reduced-motion` without any parameter (as it should have done).

[2019-05-24 03:57] WarenGonzaga commented on #928
@batata004 @eltonmesquita working on updates... which means not only that issue but all issues in this repo... also adding new features... that's why he is working on updates together with bug fixes ;) please be patient.

[2019-05-24 10:38] Buxey commented on #928
Thanks this worked!

[2019-05-29 02:34] eltonmesquita commented on #928
A new version was release with the fix on #931. Now things should work better.

[2019-05-29 02:34] #928 closed

[2019-05-29 11:19] bpmottathai opened #937 "How to add and remove class"
Hi,
Thanks for making this css project. I am a newbie. My code is
[code]
I want animated effect on scrolling the page. I check the documentation here. And I see,
[code]
Can I use it like
[code]
and use like`<div class="car-content" onscroll="animateCSS()">`
What is call back here, Please give a working code.

[2019-05-29 13:18] eltonmesquita commented on #937
Hello, as this is a issue tracker, you won't get much help here. This should be used for reporting problems and feature request.
Your best shot is to use stackoverflow, where you'll find lots of people willing to help you.

Closing this as it's unrelated to the library itself.

[2019-05-29 13:18] #937 closed

[2019-05-29 17:34] WarenGonzaga commented on #928
See guys? I said earlier that @eltonmesquita is working on the new version with this fix... hehe

[2019-05-30 14:04] fitztrev opened #938 "Issue installing with Node v12 (fsevents)"
I believe that `fsevents` is only used for MacOS so this issue may only be on that OS.

[code]

## Steps to Reproduce

`package.json` contents:
[code]

Then, using latest Node 12.3.1 on MacOS, run `npm install`.

## Output

[code]

The issue may lie with a dependency and not this project. If that's the case, I apologize for opening an issue here. I wasn't able to track down what the fix is. I do s

[2019-05-30 14:28] eltonmesquita commented on #938
The current building system/dependencies is being totally rewritten, as you can see in [this branch](https://github.com/daneden/animate.css/tree/new-build). So we probably won't give much attention to the current one.

But if it's currently working but throwing some warning in the console, there should be no problem in just ignoring it.

Thanks for reporting!

[2019-05-30 15:02] fitztrev commented on #938
@eltonmesquita Ok, thanks for the reply. I did manage to get rid of the error by rebuilding the shrinkwrap. I believe the issue was fixed in `fsevents@1.2.4` so if it is changed to pull that in, it works.

### With Error
[code]

### No Error
[code]

Would updating the `npm-shrinkwrap.json` be the correct fix?

[2019-05-30 15:22] eltonmesquita commented on #938
I honestly don't know what's the best fix. But I'll try to get to it and update the dependencies if it's causing trouble for people.

[2019-06-01 16:25] Mackignacio commented on #938
@fitztrev  try this

1. Run `npm audit` .
2. You will see a list of vulnerabilities and suggestions on how to fix them. At the very end you will see a command like this `npm update fsevents --depth 4`. Run the command and it will update `npm-shrinkwrap.json` .

This works for me.

[2019-06-03 14:23] fitztrev commented on #938
@Mackignacio Yes, but this is a library that I'm including via my main project's `package.json`. I can't rebuild a package's shrinkwrap.

[2019-06-03 14:44] Mackignacio commented on #938
@fitztrev  You are adding animate.css on your `package.json`? You can add it by simply `npm install animate.css --save`. I think you don't need shrinkwrap to add animate.css on your project.

[2019-06-03 14:51] fitztrev commented on #938
@Mackignacio yes, I'm aware. See my original post above with steps to reproduce.

[2019-06-03 15:24] Mackignacio commented on #938
@fitztrev I think we might want to wait for version 4.0 because it will not use gulp as a dependency.

[2019-06-03 15:35] fitztrev commented on #938
@Mackignacio It doesn't need to wait. At the very least all that has to happen is the npm-shrinkwrap needs to be rebuilt. I've explained a little more [in the comment on my PR](https://github.com/daneden/animate.css/pull/939#issuecomment-498276447).

Here are some other projects that have had to upgrade their `fsevents` dependency in order to work with Node 12:

https://github.com/nervosnetwork/ne

[2019-06-03 19:36] WarenGonzaga opened #942 "Update Readme file for new-build"
@eltonmesquita can you please update the readme of new-build on how to use animate.css with postcss... so I can understand how your workflow works.

[2019-06-04 22:38] #938 closed

[2019-06-04 22:49] eltonmesquita commented on #942
Sure. I'll try to do this before this Saturday.

[2019-06-04 23:05] WarenGonzaga commented on #942
@eltonmesquita awesome!

[2019-06-04 23:05] #942 closed

[2019-06-05 02:34] eltonmesquita commented on #836
I'm closing this as we're taking a even simpler approach and using only npx + postcss. See #900 .

[2019-06-05 02:34] #836 closed

[2019-06-07 13:20] massimilianocom opened #944 "Items visible before the animation"
Hi everyone.
I am using the animate.css plugin in my project, except that something strange is going on before the animation starts when I go to the animated section, before the animation starts, you can see the visible element and then disappear and perform the animation. 'animation.
How can I make the element not visible before the animation?
Reading the animate.css file I see that the animated

[2019-06-09 12:59] AdventurouslySocial opened #945 "Animate.css Conflict With Perspective & Preserve-3D properties"
Environment Details:
1-WordPress install
2-Elementor Page Builder (Includes Animate.css)
(Have also tried dequeuing Elementor's animate.css and enqueuing it separately, no joy, same following result)
3-Specific animations tested don't use 3d space themselves, they are fadeIn and fadeInUp

Successful Scenario 1:
When using animate.css to animate an element within an Elementor built page - the eleme

[2019-06-10 19:52] Taytay884 commented on #944
Please let me see an example of a code that showing it. Then I could try to help and maybe we will create a bugfix.

[2019-06-12 15:21] Aaarrrgggh opened #946 "Animate elements one by one?"
Hi all,

I would like to know if it's possible to animate elements one by one. For example, list elements, one after one, with a delay?

Thanks,

Alexander

[2019-06-13 12:58] KasimAhmic commented on #946
To my knowledge, there isn't any way of doing this in animate.css alone. You're going to have to use JavaScript to apply an increasing delay to each element you're trying to animate. Something like the following should work for a simple grouping of elements with the same class:

[code]
[Live CodePen Example](https://codepen.io/anon/pen/KjpOqG)

If you have completely different elements, you can cr

[2019-06-14 14:48] sivot commented on #945
**I think this is not the right place for this problem.**
Try it Community or Support of Wordpress / Elementor Page Builder.
Otherwise I suggest you the [CodePen](https://codepen.io/) in order to test your problem.

[2019-06-14 15:08] sivot commented on #944
Suggestions for your problem:
- JS `animationstart` and `animationend` Events
- JS CSS and DOM manipulating like `display: none`, `display: block`

[2019-06-15 11:16] NotJustThatGuy opened #947 "transform: translate3d disregarding z-index"
I discovered that translate3d which is used by most (if not, all) animations and z-index that i am using in an ::after element isn't really good together for translate3d disregards the z-index. Is there a work around this?

[2019-06-16 20:19] holypolarpanda7 commented on #946
Hello,

I believe you may also use the animation stop (described on the github
page) event via javaScript to assist in creating this effect.

Greg Wagner

On Thu, Jun 13, 2019 at 7:59 AM Kasim Ahmic <notifications@github.com>
wrote:

[2019-06-17 09:15] Aaarrrgggh commented on #946
Okay thank you @KasimAhmic! I did not know the delay-x class supported by animate.css.

[2019-06-17 11:42] eltonmesquita commented on #946
As the issue is solved, I'm closing it.

[2019-06-17 11:42] #946 closed

[2019-06-25 11:33] kosvrouvas opened #948 "Demo website not working"
Or is it just me?

When I select an animation from the dropdown and click animate nothing happens.

Chrome and Firefox, MacOS

[2019-06-25 12:10] 1000martians opened #949 "Support for repeating animation ever x seconds"
I know there is an 'infinite' class but that just keeps the animation going on for forever without any delay. I'd like, let's say, a button to shake every 3 seconds.

[2019-06-25 12:14] Tokenyet commented on #948
It's also not working for me recently, but working in Edge.

Specs:
System: Win10
Chrome: 75.0.3770.100

[2019-06-25 13:30] chetanmadaan commented on #948
Tested on Chrome & Firefox. not working.

[2019-06-25 13:32] chetanmadaan commented on #948
Working fine on Chrome version 74.0 but not on (75.0.3770.100).

[2019-06-25 20:40] chetanmadaan commented on #948
It looks like this is the fix.
https://github.com/daneden/animate.css/pull/931

[2019-06-25 23:39] eltonmesquita commented on #944
Closing this as it's unrelated and got no feedback from @massimilianocom .

[2019-06-25 23:39] #944 closed

[2019-06-25 23:56] eltonmesquita commented on #949
Javascript is the only option in this case as there no CSS support for delays between a animation's iterations. If you need help, stackoverflow is the best place for this, as this is a issue tracker focused on the library's issues.

Closing this as unrelated.

[2019-06-25 23:56] #949 closed

[2019-06-25 23:58] eltonmesquita commented on #945
Closing as it's unrelated to the library.

[2019-06-25 23:58] #945 closed

[2019-06-26 00:01] eltonmesquita commented on #948
See this:
https://github.com/daneden/animate.css#accessibility

Animations are disabled on your OS and will make animate get disabled on its new versions.

[2019-06-26 00:01] #948 closed

[2019-07-01 14:13] eltonmesquita opened #950 "Provide a compatibility version with v4"
[animate's next version](https://github.com/daneden/animate.css/tree/dev) will include a major breaking change, class prefix (aka namespace), and this will make a direct update from previous versions harder and I see a lot of issues popping on this issue tracker related to this feature in the future.

It would be easy to provide a file for compatibility with previous versions (like animate.compat.

[2019-07-01 21:00] uandiweb opened #951 "Making Animations Wait Till Visible"
Great project. Is it possible to add animation to the footer, and make it wait till the footer is visible? Without it, most users will miss the animation effects.

[2019-07-01 21:37] eltonmesquita commented on #951
You'll need an animate on scroll library like [AOS](https://michalsnik.github.io/aos/).

I'm closing this as it's unrelated to the library itself.

[2019-07-01 21:37] #951 closed

[2019-07-04 07:40] Guidozijef opened #953 "我用zoomIn和zoomOut他的缩放中心怎么不在中间呢？怎么控制？"

[2019-07-04 13:07] eltonmesquita commented on #953
Hi. If you don't write in English, it'll be really hard to help...

[2019-07-04 13:54] xiongyubin commented on #953
It doesn't make any difference. Sometimes I have to translate English.

[2019-07-04 17:30] eltonmesquita commented on #953
Sorry but Google translator didn't help me much with a translation to your question. I'd love help but first I've got to understand the question...

[2019-07-05 07:08] Guidozijef commented on #953
I use zoomIn and zoomOut. Why isn't his zoom center in the middle? How?

[2019-07-05 07:09] Guidozijef commented on #953
I use zoomIn and zoomOut. Why isn't his zoom center in the middle? How?

[2019-07-05 07:09] Guidozijef commented on #953
I use zoomIn and zoomOut. Why isn't his zoom center in the middle? How?

[2019-07-05 08:44] eltonmesquita commented on #953
Sorry but we'd need more details to try to help here. Anyway, this is an issue tracker dedicated to problems and improvements in the library itself, it's a place to get help about usage and CSS problems (which the question seems to be related).
Please use Stackoverflow to this kind of help.

[2019-07-05 19:38] #953 closed

[2019-07-05 20:56] rodrigo1990 commented on #742
Hi ! Something very strange is happened to me, animate css is not working in my chrome, and in my firefox. Not even in the official repositorie of animate css the animations works.

Someone understand what's can be?

[2019-07-05 22:22] eltonmesquita commented on #742
https://github.com/daneden/animate.css/blob/master/README.md#accessibility
Just review your OS animations configurations.

[2019-07-08 05:00] jocar6562 opened #954 "background image"
I found the animate.css works great but found it interferes with the background image while using this code .agileinfo_map{min-height:100%;min-width:100%;overflow:hidden;position:fixed;left:0px;top:0px;bottom:0px;right:0px;
padding-bottom:0px;padding-top:0px;background:url(/design/image-design/gothic-streampunk.jpg) no-repeat center center fixed;
background-size:cover;height:100%;
overflow:hidden;

[2019-07-08 05:35] jocar6562 commented on #954
I've just found out whats wrong with the background image and animate.css I tried to repeat the animation
with this code
 .tada {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
It seems to make the background image agileinfo_map unstable. Will have to think how to repeat animation with a different code.

[2019-07-08 05:35] #954 closed

[2019-07-10 11:38] eltonmesquita commented on #947
Hi. This is a CSS question and not directly related to animate.css. I let this open to see if someone would take the time to answer it, but it didn't happen.

This kind of question should be made on Stackoverflow and not in the library's issue tracker, which is dedicated to issues and improvement of the library itself.

I'm closing this issue because of this.

[2019-07-10 11:38] #947 closed

[2019-07-10 13:48] eltonmesquita opened #955 "Move animate's Github page to master"
If we move gh-pages to the master branch we can do some automated things we can't do now, like building the animation list automatically into the website and keeping the versions in sync.

Today everything's done manually and is prone to errors.

[2019-07-11 12:24] eltonmesquita opened #956 "Add compile step to commit hooks"
Today the compiling step must be run manually and most of the time people just forget it. Let's add a commit hook to compile it automagically!

[2019-07-11 17:08] eltonmesquita commented on #956
@WarenGonzaga , do you think you can do this on the `dev` branch?

[2019-07-11 18:56] AlchemyUnited commented on #951
@eltonmesquita - Um. It would help if this was stated up front. That is, when reading the examples - and not seeing anything otherwise - the impression is your library is tied to the CSS class animated. That is, add the class and the magic happens. In the broader context of similar libraries,  JS,  lazyload, etc to me it seem like a fair assumption and a reasonable expectation.

But it doesn't wor

[2019-07-15 20:03] terryupton opened #958 "animation-fill-mode breaks width on ul>li ltems"
So I have an animated list item (li) that then has a sub menu (div) that will display a full width flex megamenu. However, if I apply the class of .animated to the parent (li) it breaks the child div width.
Here is a much simplified codepen to illustrate:
https://codepen.io/amasci/pen/NZZzYQ

Here it is with the animated class removed:
https://codepen.io/amasci/pen/dBBKBq

How can I stop this from

[2019-07-17 17:21] WarenGonzaga commented on #956
@eltonmesquita I think I can if I understand how the process works... possible I can make it automagically.

[2019-07-17 17:21] WarenGonzaga commented on #955
@eltonmesquita any references on how to do it?

[2019-07-20 16:34] off-uk commented on #958
I think, you can apply the class .w-full to the li element

[2019-07-21 15:11] terryupton commented on #958
Thanks @off-uk - that seems to work.

[2019-07-21 15:11] #958 closed

[2019-07-22 02:52] Guidozijef commented on #953
When I use zoomIn and zoomOut animations, what if I want to control where they pop up?

[2019-07-22 02:53] Guidozijef commented on #953
When I use zoomIn and zoomOut animations, what if I want to control where they pop up?

[2019-07-22 02:53] Guidozijef commented on #953
When I use zoomIn and zoomOut animations, what if I want to control where they pop up?

[2019-07-22 12:24] eltonmesquita commented on #953
Positioning an element is a developer's reasonability, not a library's. The library will animate the element where it is.

There are many techniques to achieve positioning in CSS and each one will be better for each situation depending on your layout and how the page is built. There's no way to help you around here in this situation.

My advice is to elaborate a little more on your problem, create

[2019-07-25 07:42] alaksandarjesus commented on #734
I am facing the same issue with Laravel 5.8 and Bootstrap 4....I use bounceIn...

`
@if(session()->has('error'))
<div class="web alert alert-danger alert-dismissible animated bounceIn">
    <div><strong  class="mr-2">Error!!</strong><span class="message">{{__('messages.'.session()->get('error'))}}</span></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <sp

[2019-07-25 07:45] alaksandarjesus commented on #734
I am facing the same issue with Laravel 5.8 / Bootstrap 4

**view.blade.php**

@if(session()->has('error'))
div class="web alert alert-danger alert-dismissible animated bounceIn">
    div><strong  class="mr-2">Error!!</strong><span class="message">{{__('messages.'.session()->get('error'))}}</span> /div>
    button type="button" class="close" data-dismiss="alert" aria-label="Close">
    span aria-h

[2019-07-25 15:06] eltonmesquita commented on #956
Well, we've already got a hook for Prettier set up, so I think that should be pretty straight forward.

[2019-07-25 15:09] eltonmesquita commented on #955
Don't worry @WarenGonzaga, I've already got a working branch on this. I'll update the `dev` branch with it as soon as I finish working on it. I'll also need @daneden help as he's the only person with permission to configure this setting on Github.

[2019-07-25 15:10] eltonmesquita commented on #950
@WarenGonzaga, what do you think about this?

[2019-07-25 17:35] timur-svoboda opened #959 "Animate.css doesn't work on its demo page."
Animate.css doesn't work on its demo page https://daneden.github.io/animate.css/

No animation works. I thought it might work in another browser, but Animate.css doesn't work either in Chrome or Firefox.

If you need more details, I will gladly answer.

[2019-07-26 16:29] eltonmesquita commented on #959
Hi @timur-svoboda!
Please visit the website again, I've added a warn about this.

[2019-07-26 16:29] #959 closed

[2019-08-02 19:50] Bonato12 opened #961 "animate css stopped working"
Hi, does anyone know why animate css stopped working, at https://daneden.github.io/animate.css/ it also stopped working, I'm using chrome as a browser.

[2019-08-04 01:21] ajmakhl commented on #961
It works fine for me. I am also using Chrome.

[2019-08-04 08:02] Bonato12 commented on #961
Hi, thanks for the answer, the problem was a windows configuration. Now it is working 👍  💯

[2019-08-04 08:02] #961 closed

[2019-08-05 21:57] drdogbot7 commented on #385
It's 2019 now and, yes, CSS animations can be applied to pseudo elements just like any other element… maybe at one time this was not the case.

https://codepen.io/drdogbot7/pen/aeEmNx

**_This package_** (animate.css) won't work with pseudo elements, because there is no way to add the necessary classes to a pseudo element.

[2019-08-06 20:17] buttflattery opened #962 "FlipInX Effect and horizontal scroll bar"
when using the `flipInX` effect it adds a horizontal scrollbar on the bottom while it is flipping, if the element i am trying to flip has width equal to half of the screen, and disappears as soon the animation stops which makes the page wobble and isnt nice.

I am creating a menu widget with a bigdrop effect for the menu where i am using it

![image](https://user-images.githubusercontent.com/15364

[2019-08-06 22:25] eltonmesquita commented on #962
This is a simple overflow problem. Just set `overflow: hidden` on the container or any parent element to avoid scroll bars.

If you need more help, stackoverflow is the place to ask for help as this is an issue tracker and is dedicated to issues related to the library itself and not about CSS usage.

Closing this as it's unrelated.

[2019-08-06 22:25] #962 closed

[2019-08-09 23:19] WarenGonzaga commented on #950
@eltonmesquita it would be nice to add that one since as you said it is a breaking changes for the entire library I saw some website is highly dependent on animate.css as their animation library. For that's okay.

[2019-08-18 20:22] paterik4 opened #965 "bouncein effects not working"
[code]

The bordered div and the picture with the paragraphs should bounce in, but it don't do it.

Any css overwrites that can affect that? or any js overwrites that can cause it?

Help wanted!

[2019-08-21 19:27] gulptech opened #966 "Dev branch animation delay not working..."
All occurrences of var(--animation-delay) should be var(--animate-delay)

[2019-08-22 01:35] eltonmesquita commented on #966
Nice catch! Thanks for the heads up.
I'll be fixing it soon.

[2019-08-22 02:16] eltonmesquita commented on #965
Yeah, it certainly has a conflicting declaration overwriting animate's transforms. Unfortunately we can't help here as this issue tracker is dedicated to the library's issue, there's no way we can provide support for usage besides the docs.

Stackoverflow is the best place for this type of question. Try to detail more the issue including a live example and post it on stackoverflow, you should get

[2019-08-22 02:16] #965 closed

[2019-08-28 03:58] lastmjs opened #967 "Add Ethereum name or address to package.json"
I would like to see an Ethereum name or address added to the ethereum field of the package.json file. This will allow consumers of the project to know a canonical address to send funds to. For example, I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have Ethereum addresses in their package.json files: https://sustainus.io

[2019-08-29 09:27] Skura23 commented on #658
I find this is a good solution:
https://codepen.io/austencm/pen/WvbwQa

[2019-08-30 03:52] HelenTim opened #968 "Ui event expired"
The element is fixedly positioned, using the bounceInRight animation, scrolling the mouse wheel, the content inside this element is not scrolling

[2019-08-30 08:07] snakone opened #969 "animated Class affects overflow-y?"
I have a big content on my site, a post. Anyway i had **animated fadeIn** class on the parent element. At some point of the content you see this:

https://media.discordapp.net/attachments/467293737530425346/616734462662934528/Screenshot_20190829-224214.png?width=169&height=301

It cuts the content off. (There should be more content under the highlighted code)

Seems like overflow is affecting the

[2019-08-30 11:50] subotin94 opened #970 "Overflow issue on elements with animated classes"
I have an issue where i have a div which has "animated bounceInDown fast" set of classes and i also have overflow on that div. What happens is the scrollbar is fully visible and its working but only if i drag the scrollbar itself. If i use the mouse wheel i cannot scroll on that speciffic element. Sometimes it even works but in 90% cases it doesnt work. When i click and drag the scrollbar itself i

[2019-08-31 16:07] eltonmesquita commented on #966
Just fixed this on c233543
Thanks again!

[2019-08-31 16:07] #966 closed

[2019-09-03 13:52] davimello28 commented on #858
Sorry for reopening this issue, but I had some troubles implementing NativeScript and Animate.css and I would like to share my experiences.

In later versions of Animate.css, some proprieties of the `.animated` doesn't work with NativeScript (nor NativeScript-Vue and NativeScript-Angular).

This:
[code]
[code]
Throws this:
[code]

But you can do something about it. It is reported in the [previousl

[2019-09-08 13:53] leone510es opened #973 "Chrome on iOS animation problem"
I know that some similar issues have bean posted, but I still don't understand that if there is a solution for this. A video is worth more than a 1000 words, so here it is:
https://drive.google.com/drive/folders/1TKiq6zxBWyFB40awDTLYbLae66JEW0kK

On the left: iPhone 5S - iOS 12.4 - Chrome 76.3809.123
On the right: iPhone 7 - iOS 12.4 - Chrome 76.3809.123

I'm testing a react based web app with ani

[2019-09-10 14:25] liby opened #974 "Swing does not work when set to enter animation"
## Browser version: Chrome 76.0.3809.132
## OS version: Windows10 educational 18362.295
## Gif
![demo](https://user-images.githubusercontent.com/38807139/64622113-624d1300-d419-11e9-82b3-12964ebacb6b.gif)

- code demo

[code]

[2019-09-10 22:07] eltonmesquita commented on #974
You've got a typo there. It's `swing` with a *n*.

[2019-09-11 01:03] liby commented on #974
Sorry, it's my problem. I have been working for too long and I didn't pay attention to the details. Thanks for your reply

[2019-09-11 01:03] #974 closed

[2019-09-11 12:28] gauravshahhere opened #975 "v3.7.2 still does not make the toast go away witthout a CSS override"
I tried moving to v3.7.2 in order to fix toasts on chrome v74 + (on v76) for `prefers-reduced-motion` media feature . I went through the commit and had to tweak the animation-duration and transition-duration properties so that the animation effect that I was using on the toasts would actually work. Here is the snippet that I put in my scss file:
[code]

I was not able to see any of the animation e

[2019-09-11 17:08] leone510es commented on #973
Anybody? Am I the only one having these issues?

[2019-09-22 08:55] Lper258 opened #976 ""pulse" property creating recurring overflow on page using Firefox"
Just noticed this. Not sure if that behavior is normal.
The issue does not appear in Chrome or Chromium.

Pure HTML code is:

[code]

This is the result:

![Peek 2019-09-22 10-49](https://user-images.githubusercontent.com/21357625/65384798-e8752d80-dd26-11e9-8930-9416296978eb.gif)

OS: Debian 10
Browser: Firefox 60.9.0esr
Resolution: 1366*768

Let me know if more info is needed.

Cheers

[2019-09-23 07:34] kouwenhao opened #977 "not working well on iOS13.0"
Some css causes  pages to blank(may be opacity to 0).BUT elements are still on pages and have touchevents.
![image](https://user-images.githubusercontent.com/31273130/65408352-9e1fa980-de17-11e9-9fd3-e5f2cee7b976.png)

[2019-09-23 21:48] AdventurouslySocial opened #978 "Items appearing late on Mobile (Two use cases with instructions to replicate issue)"

[2019-09-26 05:57] kouwenhao commented on #977
already fixed on iOS13.1.

[2019-09-26 05:57] #977 closed

[2019-09-26 15:26] #978 closed

[2019-09-28 11:13] eltonmesquita commented on #976
Most of the animations can cause elements to overflow as they are literally moved across the screen. How to handle this is up to the developer using the library. This is just how CSS works.

Make sure to use the overflow property when needed to avoid such situation.

Closing this as it's not a issue with the library.

[2019-09-28 11:13] #976 closed

[2019-09-28 11:18] eltonmesquita commented on #975
This is exactly the behavior we want to achieve. There's no problem here.
If a developer really want to show animations even when they **should be disabled** it's up to this developer to manually overwrite the media query to force animations.

There'll be no "fix" related to removing `prefers-reduced-motion` media query in the future.

[2019-09-28 11:18] #975 closed

[2019-09-28 11:23] eltonmesquita commented on #973
Please see https://github.com/daneden/animate.css/blob/master/README.md#accessibility

[2019-09-28 11:23] #973 closed

[2019-09-28 11:24] eltonmesquita commented on #970
Most of the animations can cause elements to overflow as they are literally moved across the screen. How to handle this is up to the developer using the library. This is just how CSS works.

Make sure to use the overflow property when needed to avoid such situation.

Closing this as it's not a issue with the library.

[2019-09-28 11:24] #970 closed

[2019-09-28 11:25] eltonmesquita commented on #969
Most of the animations can cause elements to overflow as they are literally moved across the screen. How to handle this is up to the developer using the library. This is just how CSS works.

Make sure to use the overflow property when needed to avoid such situation.

Closing this as it's not a issue with the library.

[2019-09-28 11:25] #969 closed

[2019-09-28 11:26] eltonmesquita commented on #968
Sorry but can you elaborate more on the question? I couldn't understand what's the actual issue.

[2019-09-28 12:24] subotin94 commented on #970
It is not an overflow it is transitions and transform. It is the library
issue.

On Sat, Sep 28, 2019, 13:26 Elton Mesquita <notifications@github.com> wrote:

[2019-09-28 16:41] eltonmesquita commented on #970
Sorry but any overflow issue is the developer's responsibility as it's impossible for the library to deal with  it and we can not give individual support about CSS usage.
You can get help on Stackoverflow but I'd advice you to prepare a reduced case and post it live on codepen, jsbin or any other place so people can help you.

[2019-09-29 01:05] jakubmuda commented on #618
Why don't you use data attributes?

`.animated` would become `[data-animate]`

`animated pulse` would become `[data-animate="pulse"]`.

It would be independent of classes and no prefix is needed.

[2019-09-29 13:04] WarenGonzaga commented on #618
@jakubmuda this is already added on v4 beta ;) anyway thank you for your help.

[2019-10-10 22:07] WarenGonzaga commented on #967
Hello... I'm one of the devs here ;) what's the purpose of this? are you going to modify your own?

[2019-10-10 22:14] WarenGonzaga commented on #968
It is good to add a sample link on codepen so that we can fix it... ;) hi @eltonmesquita good to see you here... I've been busy the past months.

[2019-10-10 22:15] lastmjs commented on #967
I've decided to kind of lay low on Sustainus, waiting for npm to come out with their program which might make more sense to use: https://blog.npmjs.org/post/187382017885/supporting-open-source-maintainers

But the idea is to add an Ethereum address for this project so that people can send funds to it. You would add the address as a custom field in the FUNDING.yml file that is associated with GitHu

[2019-10-10 22:15] WarenGonzaga commented on #956
@eltonmesquita is this done? is it late for me to do this?

[2019-10-10 22:16] WarenGonzaga commented on #955
Alright! Thanks @eltonmesquita just mention me if you need extra hand...

[2019-10-10 22:20] eltonmesquita commented on #956
Hi @WarenGonzaga . Nope, not done yet. Too many things happening in personal life right now so I had to pause a bit on working on the new version.

[2019-10-10 22:22] eltonmesquita commented on #968
I think this can be closed as there's no response or clear info about the issue.
Good to see you too @WarenGonzaga and welcome to the Busy Club Inc ;D

[2019-10-10 22:22] #968 closed

[2019-10-11 08:02] WarenGonzaga commented on #967
So this is for the purpose of funding for animate.css or the one will be using it?

[2019-10-11 08:03] WarenGonzaga commented on #956
Hi @eltonmesquita do you have the backlogs? any task list for this? So that I can take a look on it?

[2019-10-11 16:22] lastmjs commented on #967
For funding animate.css. The users of animate.css would be donating

[2019-10-11 21:13] WarenGonzaga commented on #967
@lastmjs thank you for your initiative in funding the animate.css, but we don't need any donation as per @daneden since he opens this for public use. The core developers and maintainers of this repository are all good to keep this repo active as much as possible.

Even me, I'm busy to update and work on animate.css but we are doing our best to support and develop this animation library. Thank you

[2019-10-21 09:38] giuliohome opened #987 "Can't see the animation at button click on IE11"
It seems that there is the following issue only for **IE11** browsers.
I've downloaded the stylesheet from this repo and put it in the head of my html
[code]
I see the initial animation on the page load but I can't see the `bounceOutLeft` on the button click.
Referenced from [SO](https://stackoverflow.com/questions/58483052/element-classlist-addclass-is-not-a-function-when-testing-animate-css)

[2019-10-21 10:20] giuliohome commented on #987
It looks like using the jQuery API [addClass](https://api.jquery.com/addClass/) (instead of the vanilla JavaScript `classList.add)` solved my issue, as per my asnwer [here](https://stackoverflow.com/a/58484159/11323942).

[code]

But notice that I derived this solution from reverse engineering the [homepage](https://daneden.github.io/animate.css/) and **not** by following the [readme of the reposi

[2019-10-21 10:53] #987 closed

[2019-10-21 15:40] rlaferla opened #988 "Puff in/out?"
Looking for the equivalent of Magic's puff in/out in Animate.

https://www.minimamente.com/project/magic/

[2019-11-10 15:03] signgitgit opened #991 "I want to use aniamtion.css but I don't understand the licence"
Hello,

Please I want to use some animations in my web application using aniamtion.css but I don't understand the licence of the library  exactly this point:

**"The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, .........     "**

Must I i

[2019-11-14 06:56] motifiy commented on #991
I have the same problem

[2019-11-14 08:17] iLegion opened #993 "Animate.css don't work in Vue."
Vue CLI 4.0.5

The library has stopped working with Vue since version 3.5.2 (CDN).
In the npm version, 3.5.2 does not work either.

[2019-11-14 16:11] mrvnmchm commented on #991
Hi, not sure if I understand the context but, just include the license and copyright within the codebase.

[2019-11-14 18:16] eltonmesquita commented on #991
You don't even need the license within your project, just make sure you don't strip out the header with the copyright notice on the CSS file and you're good to go.

[2019-11-14 18:16] #991 closed

[2019-11-15 08:16] motifiy commented on #991
I think  I know how to use it,it can be used by link or download
package(ps:you can't only copy this css file)

Elton Mesquita <notifications@github.com> 于2019年11月15日周五 上午2:18写道：

[2019-11-15 08:17] motifiy commented on #991
thank you for your help

xiangyong wang <wangxiangyong1996@gmail.com> 于2019年11月15日周五 下午4:16写道：

[2019-11-15 09:54] lianulloa commented on #993
Same here.
For me, it throws these error on the console

Refused to apply style from 'http://localhost:8080/animate.min.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled.

[2019-11-15 14:17] ekntrtmz opened #994 "animation-delay not working with decimals"
Can someone confirm that `animation-delay` is not working with decimals?

I am using animate.css with Vue.js passing animate.css classes to the enter-active-class of my transitions, like this:

[code]

If so, is there any workarround?

[2019-11-16 12:56] eltonmesquita commented on #994
There's no decimals for delays. These classes are just helpers and are not extensive, any delay that is not listed on the read me, is the developer's reasonability to add on hers/his project. There's no plans to add more delays actually.

To solve your problems, just create new classes on you project with the wanted delay using the `animation-delay` property, such as:
[code]

[2019-11-17 01:25] aislanmaia commented on #658
@Skura23 do you have some example without JQuery?

[2019-11-18 22:43] #994 closed

[2019-11-27 17:22] raxraj commented on #837
I have a suggestion what if we divide it into 2 Drop Downs:-
1. One to select the category!
2. Second to select the animation!!

[2019-11-28 00:21] WarenGonzaga commented on #837
Cool idea! That would help...

[2019-11-28 00:22] WarenGonzaga commented on #993
Hello guys! We will check this issue and get back to you... can you guys give us steps to replicate it?

[2019-11-28 00:23] WarenGonzaga commented on #988
Hi there! That's awesome! We will create one for this... thanks for your suggestion.

[2019-11-28 02:44] raxraj commented on #837
I can work On that!!! Shall I ?? :grin:

[2019-11-28 03:17] WarenGonzaga commented on #837
Sure just do PR ;)

[2019-11-28 10:37] iLegion commented on #993
Hi, OK. I installing library via npm: `npm install animate.css --save`;
Import this in main.js: `import 'animate.css';`
And adding classes to element: `animated infinite bounce delay-2s`.
In DevTools I see styles but not effects.
Same problems with CDN versions since 3.7.0.
Version 3.6.2 work is good. I think problem in `animation-name`,but it is not exactly.

[2019-11-28 13:24] raxraj commented on #837
@WarenGonzaga !! Have a Look & Lemme Know!!

[2019-11-29 07:57] omdawe opened #996 "Animations makes bootstrap modals see-through"
I just had a client here that was using a iphone and all the animations for modals made them see-through. You can still interact with the menus but as you only see lets say 5% of the modal you can not interact with them.

[2019-11-29 08:52] beijinaqie commented on #993
Hi. You can try to write it according to the official vue documentation. Address: https://cn.vuejs.org/v2/guide/transitions.html#%E8%87%AA%E5%AE%9A%E4%B9%89%E8%BF%87%E6%B8%A1%E7%9A%84%E7%B1%BB%E5%90%8D

[2019-12-04 03:20] ddzy commented on #993
Same issue:

- vue-cli@4.1.0
- animate.css@3.7.2

[2019-12-04 17:39] raxraj commented on #837
@WarenGonzaga ! Just a Reminder I guess you forgot !! I have made a PR #995
 as per my following Suggestion!
Kindly have a Look!

[2019-12-05 13:50] moander commented on #934
I'm experiencing choppy animations on Chrome IOS. Safari and Firefox IOS works as expected. Have this issue been reintroduced?

It's happening both on transitions using `animated` and build-in ones like `<stepper animate>`

Chrome version 78.0.3904.84 IOS 13.2.3

[2019-12-06 02:11] WarenGonzaga commented on #993
Alright, it looks like this is a real issue with animate.css I will work on this... I personally don't use or have experience with vue but I will try to help so we can avoid these issues in the next version of animate.css

[2019-12-06 02:12] WarenGonzaga commented on #996
Can you replicate this issue so we can debug it pretty easily? You can use something like codepen.io

[2019-12-06 09:56] omdawe commented on #996
Nope.. I do not have a iphone.. But if you got one i can setup a test site to show you the problem.

[2019-12-06 10:03] omdawe commented on #996
https://jsfiddle.net/user1296114/t30feuac/ I can not test it if it works or not as i do not have a iphone but i seen it with my own eyes on a clients phone!

[2019-12-06 12:24] WarenGonzaga commented on #934
Hi @moander can you replicate your issue in codepen?

[2019-12-06 12:25] WarenGonzaga commented on #837
Yeah I'm aware on that @raxraj let's wait @eltonmesquita to check it.

[2019-12-06 14:27] raxraj commented on #837
@WarenGonzaga !! It's okay!
Yeah! Cool!

[2019-12-06 17:47] moander commented on #934
@WarenGonzag sorry I thought I was commenting on a quasar issue ;)

https://github.com/quasarframework/quasar/issues/5809

[2019-12-07 14:31] eltonmesquita commented on #993
I just tested on the latest `vue-cli` (4.1.1) and `animate.css` (3.7.2) versions and it works flawlessly. I tried importing it directly into the project and loading through the CDN.
My snippets:
**On CDN**
[code]
**Importing**
[code]

Sorry but I think you have some sort of typo or misconfiguration in your project. Please check again your project.

I'll close this issue if I've got no proper answe

[2019-12-07 14:36] eltonmesquita commented on #967
Thanks for your consideration @lastmjs, but I'll close this as it doesn't fit the project needs and as you cited, there are better options today.
Thanks again!

[2019-12-07 14:36] #967 closed

[2019-12-07 14:39] eltonmesquita commented on #996
Can you provide the iOS version? There are so many bugs related to Safari that it can be caused by a particular version ofSafari.

[2019-12-08 03:57] ddzy commented on #993
I was using it by yarn module, but it does not work:

### installing

[code]

### importing

[code]

[2019-12-08 13:36] eltonmesquita commented on #993
You're using it as a JavaScript library but animate.css is a pure plain CSS library and should be used as I showed before or it won't work.

There's no official version for any JavaScript library/framework as of today, you just use it as it is, with press CSS. Maybe you were using a non official animate library built for Vue, but you won't get any help here about this.

[2019-12-08 19:18] WarenGonzaga commented on #993
Maybe you can use this?
https://github.com/asika32764/vue2-animate

[2019-12-09 20:04] omdawe commented on #996
13.2.3 IOS my dad got!

[2019-12-11 21:31] iLegion commented on #993
I import library in scss: `import 'animate.css'`, but it not work.
I add `<link src="/path/to/animate.css"`, is don't work again. It added classes but **not animation**.

[2019-12-13 14:04] d3v4s opened #997 "Animation not working on safari"
I test on iOS Safari 13.0.3 version, and the animation not working.
I resolve it using the whole percentage.
Example with `flipOutY`:

[2019-12-14 17:32] 92Eli commented on #508
Isn't it bad practice to have javascript constantly running every time the user scrolls?

[2019-12-19 11:30] eltonmesquita commented on #993
Sorry, but can you double-check your code and dependencies on the `package.json` file? Also, recheck your webpack configuration if there's any custom settings.
This is certainly a problem with your project and not with vue-cli or even animate.

[2019-12-21 15:23] andrewbarnesweb commented on #997
I'm experiencing this too. I'll try the workaround mentioned above and confirm if that resolves it :-)

[2019-12-23 13:12] mathisjay opened #998 "Add Iteration-Count CSS utility classes"
Similar to the 'infinite' utility class:
[code]
or the 'delay' utilities:
[code]

It would be great if there were some iteration utilities. Something like:

[code]

[2019-12-23 16:07] d3v4s commented on #997
I've created a [fork](https://github.com/d3v4s/animate.css) of this repo , where I'm trying to fix the animations

[2019-12-24 18:26] mathisjay opened #999 "Add FadeInSmall classes"
We already have classes like FadeInLeft and FadeInLeftBig but the shift is often too big.

Consider add some "Small" classes to just move the shift the item like 50px for a more subtle feel.

[2019-12-26 13:35] WarenGonzaga commented on #999
hmmm good idea... let me work on that ;) @mathisjay

[2019-12-26 13:36] WarenGonzaga commented on #998
hmm awesome suggestion ;) I like it let me handle this one...

[2019-12-26 13:37] WarenGonzaga commented on #997
hello guys! still persist the issue? @d3v4s

[2019-12-26 13:37] WarenGonzaga commented on #996
@omdawe alright... let's wait for @eltonmesquita

[2019-12-26 13:38] WarenGonzaga commented on #993
@eltonmesquita this one is inactive you might considering closing this @eltonmesquita

[2019-12-27 00:02] #993 closed

[2019-12-27 17:23] d3v4s commented on #997
Hy, I've tested the css on epiphany (it's a web-kit based browser), and the animations work.
I'm waiting for confirmation from others.

[2020-01-03 07:03] minig0d opened #1000 "Invalid CSS Media Query Syntax"
Firefox flags the media query syntax as invalid with print being in parentheses on line 3616:
`@media (print), (prefers-reduced-motion: reduce) {`
should be
`@media print, (prefers-reduced-motion: reduce) {`

This does appear to be accurate per the official CSS3 and 4 specs.

[2020-01-03 15:51] wapcrazut opened #1001 "Animations not working in Firefox 71.0"
Hello,

Recently I came across with buggy animations or not animations at all while using Firefox 71 on Ubuntu 18. Also the same issue seems to affect the main website. This seems to be related with #928

Example [fiddle](https://jsfiddle.net/hojurtas/2/)

![Peek 03-01-2020 16-42](https://user-images.githubusercontent.com/12850505/71732811-78f3fb80-2e48-11ea-8292-4eb3252a6ca0.gif)

_Issue Example_

[2020-01-04 12:12] tomdol commented on #1001
Same here, exactly the same SW setup. Going back to 3.6.2 helped me though.

[2020-01-04 17:09] andrewbarnesweb commented on #997
In iOS this seems to be related to having reduced motion turned off in the accessibility settings. ![image](https://user-images.githubusercontent.com/20924669/71769127-e1a8aa00-2f14-11ea-9ec4-71d22244b248.jpg)

When it’s not ticked, the animations work fine :-)

[2020-01-04 21:40] LukeTOBrien opened #1002 "Feature request - Concave/Convex (CSS 3D transformations)"
Hello there,

I just stumbled upon your project and I really like your animation, I can't wait now to go and try them out in my project.

One thing that I did notice that you don't have, which I think would be quite awesome, is **CSS 3D transformations** more specifically I was thinking about Concave/Convex In/Out animations.
I envisage that these animation would spin on the Y axis from a point be

[2020-01-04 21:55] LukeTOBrien commented on #1001
I think it is to do with the [prefers-reduced-motion](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion).
In my opinion it is not what you want as a developer, it's obtrusive and not obvious for users, how are we going to explain this to our users and get them to turn it on?

Anywhoo, I noticed you are using Ubuntu:

In Windows:

[2020-01-04 22:44] LukeTOBrien opened #1003 "Feature request - Glow animation"
Hello me again.

I think a glow animation would be a nice addition, this would be animating the [box-shadow](https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow) property.
You could also use CSS variables `--glow-colour` (or color).
Even you could also have something like `--glow-size` and then use: `calc(var(--glow-size) * 1px)`:
[See my pen](https://codepen.io/luketobrien/pen/yLyPdRj):
`

[2020-01-06 07:19] WarenGonzaga commented on #997
@andrewbarnesweb based on what I know about animate.css the reduce motion has been set to as optional when you customizing the stylesheet. This is available in dev version of animate.css...

[2020-01-06 07:20] WarenGonzaga commented on #1003
great! I'm gonna give it a try... thanks for your suggestion.

[2020-01-07 11:58] wapcrazut commented on #1001
@LukeTOBrien Thanks for the reference, I don't know why this is set to false in my setup (by default) but enabling this fixed the issue.

I'll close the issue because that's the expected behavior on Firefox.

[2020-01-07 11:58] #1001 closed

[2020-01-07 16:57] aibar opened #1004 "lightSpeedInLeft?"
How to get lightSpeedInLeft/lightSpeedOutLeft animation?

[2020-01-09 17:35] WarenGonzaga commented on #1002
Hi @LukeTOBrien can you give us an idea on how it looks like how it moves? Thanks... any reference would be a great help!

[2020-01-09 17:36] WarenGonzaga commented on #1000
alright we will take a look on this...

[2020-01-09 17:37] WarenGonzaga commented on #1004
I don't think so if it is already on our collection of animation. Please specify.

[2020-01-09 18:54] LukeTOBrien commented on #1002
Yes soz I was going to say.
I was thinking about the [Concave/Convex transitions in Reveal.js](https://revealjs.com/?transition=convex#/transitions)

[Here I have a lil demo uploaded to my GitHub](https://luketobrien.github.io/slides-convex.html#/)

:-)

[2020-01-10 11:00] WarenGonzaga commented on #1002
@LukeTOBrien look interesting it looks like my local project for animating pages in a website. Great suggestion but I will think of it if it is really necessary to add in animate.css @eltonmesquita what do you think?

[2020-01-10 11:55] aibar commented on #1004
Yes, there is no that animation.
lightSpeedIn - is actually lightSpeedInRight.
I need lightSpeedInLeft.
Can we achieve that behavior with some hack or  a little extra code?

[2020-01-10 12:34] FredyWenger commented on #928
I had the problem (no animation) in google chrome some time ago, as animation in the  windows settings were deactivated (and google - for whatever not to comprehend! reason - take care about .
Activated - worked again
Since yesterday - animations again don't have worked again
I first though, the windows animations were deactivated again in Windows (as I had a loved win update and you know MS...)
B

[2020-01-10 14:13] WarenGonzaga commented on #1004
now I understand let me do the code...

[2020-01-10 15:57] sivot commented on #928
@FredyWenger sorry man but look like you don't understand this "reduce motion" concept.
IF USER TURN OFF ANIMATIONS ON OPERATION SYSTEM LEVEL THE USER NOT WANTS ANIMATIONS! DOT! THIS IS SUPER EASY FACT...
The problem is: if motion reduced in OS level you need to play all animations with ZERO time otherwise functions (that uses animations) will be crashed. Now all animations playing with zero time.

[2020-01-10 16:39] WarenGonzaga commented on #928
@sivot alright, thanks for the awesome reference!

[2020-01-12 04:24] MadhabaPatra opened #1006 "Start Animation after element comes into viewport"
This will make the make the CSS animation either start before or after it has entered the viewport by scrolling.when an user will scroll to that element by some size animation will happen!

[2020-01-13 05:41] DanielRuf opened #1007 "Move to org"
This project should live under an org to ease maintenance and increase the busfactor.

[2020-01-13 06:27] Kazaf123 opened #1008 "Update Pull Request Template"
I suggest that update a pull request template may make the pull request more readable. Such as:
######Description

######Check List

######My PR Type is:

Thank you!!

[2020-01-13 07:19] DanielRuf commented on #1006
Was this meant to be with an example code or PR?

[2020-01-13 14:09] chriscconte opened #1009 "[feature request] Configurable magnitude"
It would be cool if there were a helper class to determine the magnitude of the motion, this could be very useful for smaller elements!

[2020-01-13 19:55] LukeTOBrien opened #1010 "Additive CSS discussion"
Hi guys,

I stumbledd upon a great discussion about a new proposal for CSS which I think is relivent to you guy so I want to link you in here in case you've interested.
[The discussion is here](https://github.com/w3c/csswg-drafts/issues/1594)

They are talking about additive CSS, and I was thinking it would be interesting for your preoject.
For example you have an animation for each direction - Le

[2020-01-14 20:59] willvlad opened #1011 "Input with autoFocus in React wrecks animate"
Easy to repro =

create a slideInRight around a form with input fields with an autofocus

The sliding effect will look really weird - instead of the form just sliding in from the right, the page underneath the form (background, other divs) will slide in from the left as if it was that that was animated and not the form.

If autoFocus is removed, the sliding behaviour is back to normal.

I've seen

[2020-01-15 19:17] mihaimaruseac commented on #1008
Seems to be spam
![VCA6DzWKgeZ](https://user-images.githubusercontent.com/323199/72463619-84202300-3788-11ea-9d4b-08ac8683f524.png)

[2020-01-16 00:03] #1008 closed

[2020-01-16 07:06] MadhabaPatra commented on #1006
suppose there is a element at the end of my html page which i am not able to see  element. when i will scroll to that element,  that animation has already gone. so i want to see that animation at that time

[2020-01-16 07:40] DanielRuf commented on #1006
You might want to use scrollreveal or aos for that or a scroll listener / observer and the some clientBoundingRect checks.

https://stackoverflow.com/questions/123999/how-can-i-tell-if-a-dom-element-is-visible-in-the-current-viewport

https://gomakethings.com/how-to-test-if-an-element-is-in-the-viewport-with-vanilla-javascript/

This is out of scope of this library which is a pure CSS library for

[2020-01-22 22:33] eabigelow opened #1012 "Make animation slideOutLeft slide back and forth?"
Hi--

This is a terrific animation tool. Thank you so much!

I was wondering, is it possible to have slideOutLeft go out left and then return? In this case, the animation would simply go left, then right, back and forth, forever.

Is that possible? Thank you very much for any thoughts, and again, a great css tool!

[2020-01-22 22:39] wonexo opened #1013 "The Contribute Section: Readme File"
I suggest the Rules should be number instead.

[2020-01-23 11:34] WarenGonzaga commented on #1007
sorry for that but @daneden want to maintain the project in this way... add more @eltonmesquita

[2020-01-23 11:34] WarenGonzaga commented on #1009
can you provide some example?

[2020-01-23 11:35] WarenGonzaga commented on #1010
hmmmm cool stuff! I might look into it...

[2020-01-23 11:35] WarenGonzaga commented on #1010
great suggestion @LukeTOBrien btw....

[2020-01-23 11:38] WarenGonzaga commented on #1011
Hi, @willvlad thanks for reporting I'm gonna look into this.

[2020-01-23 11:39] WarenGonzaga commented on #1012
Hi @eabigelow thank you! We appreciate it... btw I'm gonna look into it... let me give you updates.

[2020-01-23 11:40] WarenGonzaga commented on #1013
We will improve the Readme in the next version... @eltonmesquita you can close this.

[2020-01-23 11:52] rafill opened #1015 "Chrome Same-site cookie warning"
Chrome has this warning in developer console:

`A cookie associated with a cross-site resource at http://cloudflare.com/ was set without the SameSite attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with SameSite=None and Secure. You can review cookies in developer tools under Application>Storage>Cookies and see more details at https://www.ch

[2020-01-23 12:24] darylknight commented on #1015
This is completely unrelated to CSS animation

[2020-01-23 12:41] rafill commented on #1015
This is not unrelated to animate.css. It only appears when I include this in my project and disappears when I remove it from my project. The same thing happens on multiple projects

[2020-01-23 13:07] darylknight commented on #1015
It's related to Cloudflare, not animate.css

[2020-01-23 13:55] #1015 closed

[2020-01-23 14:01] #1013 closed

[2020-01-23 14:01] wonexo commented on #1013
Alright then

[2020-01-23 15:50] aximuseng opened #1016 "Datatable Issues"
I was trying to add some callbacks on my Datatables and add an animation to cell content.  At first I thought it was an issue with the fact these are rendered vis AJAX or it was jQuery but I suspect it's perhaps a CSS conflict with datatables.

Here is a sample:

`http://live.datatables.net/tacaduqe/2/edit`

Here I am adding my animation after the table loads:

`element.classList.add('animated', '

[2020-01-23 18:35] WarenGonzaga commented on #1006
@eltonmesquita kindly close this!

[2020-01-23 18:45] #1006 closed

[2020-01-23 18:46] WarenGonzaga commented on #1016
Hi, @aximuseng so the only issue is in DataTables rendering right? I saw the behavior of the animations. I will try it on my local and find out what's wrong.

[2020-01-23 18:48] WarenGonzaga commented on #997
@eltonmesquita kindly review and close if necessary thanks!

[2020-01-23 20:01] eabigelow commented on #1012
Thank you very much!

[2020-01-23 21:04] aximuseng commented on #1016
It seems to be just in the table cells.  Try this in the live demo:

`$('#example_filter').addClass("animated bounce")`

The search field will bounce as suspected.  My hunch is that the CSS of DataTables is perhaps preventing the animation from displaying properly.

[2020-01-24 16:20] clinville2003 commented on #928
I'm on Windows 10, Chrome 79. I was experiencing no animation (after it had worked), while others in the office, who are also on Chrome 79 and Windows 10, would get animation. I typed Ease Of Access Display Settings in the menu. My "Show animations in Windows" was on but I turned it off and back on. That seemed to trip some other setting. Now it works.

[2020-01-25 23:10] MollyUrs opened #1017 "Suggestion: Have 100-1000ms delays built in"
90% of the time when using the library I create custom delays from 100ms to 1000ms I think this would be a really great addition to an already amazing library.

[2020-02-03 13:02] wonexo commented on #1017
Hi @MollyUrs,

If you do find this useful then, you might not just be the only one.
I'll add that up to the library and send a pull request.

[2020-02-03 16:00] HELkashef90 opened #1020 "Website issue"
JQuery CDN error on the website
![image](https://user-images.githubusercontent.com/42306744/73668747-feb8d000-46ae-11ea-8b92-5b2757100479.png)

[2020-02-05 06:55] 3l33t opened #1021 "bootstrap tooltip position move to the top after i add animation class"
when I add animation to bootstrap tooltip, tooltip position move to the top .
is there something wrong with my code.
please help me find a solution.

![2](https://user-images.githubusercontent.com/33633735/73817857-9e48a080-481e-11ea-8096-06a900854ffb.PNG)

 **my html code**:
`<button type="button" class="btn btn-primary" data-toggle="tooltip" title="hello world" data-placement="bottom">Hover me</

[2020-02-05 16:37] Abarth77 opened #1022 "Usage of Font Awesome 4.7.0, causes conflict with FA^5.1.0"
Hey guys, I'm running into issues with FontAwesome v5, they suggest for backwards compatibility that you use a Kit, when doing so (since nothing worked) you can run a diagnostics with the Kit, and a single conflict shows, which is ```animate.css``` that uses 4.7.0.

Any known work around for this?

[2020-02-08 07:05] amitprajapati2298 commented on #508
I have used Code. It is working very well. Thank you for providing this code

[2020-02-11 17:40] XONOSNET commented on #1022
I am also experiencing this exact same issue, using the latest version of Font Awesome Pro. Please advise.

[2020-02-13 12:59] FreddyCrugger opened #1024 "Relative positioning of the animation - Included in animated.css?"
Hello,

I am having problems where sometime I wish to have the animation only passing through a single div and not coming from its container, a basic example would be a bootstrap 4 popup and a bounceInRight effect. The BounceInRight fields from the form come over the black background filter of the popup and then reach the popup box. Ideally, this animation should only show within the white popup(a

[2020-02-20 17:23] raxraj commented on #1004
Is it open to work?

[2020-02-20 17:35] Jay-PC opened #1026 "Feature Request - Typescript function call for entrance"
I have a stack of 6 panels that are fading in from the bottom on scroll, and it all works very nicely (thanks!). However, from a user-story standpoint, I want the 3rd element to remain hidden until they complete something on the 2nd panel. Once that action is complete, I'd like to trigger the fade in of the 3rd panel from a typescript function but look exactly like the rest, and then continue the

[2020-02-20 17:53] raxraj commented on #1004
@WarenGonzaga Had a shot on #1027

[2020-02-21 01:45] jgoldsworthy opened #1028 "zoomIn flashes element before disappearing and then zooming in!"
I have an image that I wanted to zoomIn on page refresh. The image is located at the very top of the page. When you open the page from another page the image is there for a split second, disappears and then zooms in as the element is supposed to. How do I get the appearance for the split second to not show at all and just have the image zoomIn from 0 opacity?

Here is my code for this project:

ht

[2020-03-01 17:23] eltonmesquita commented on #1028
Sorry, but if I got this right it's not possible to do this with CSS only. What you'd have to do is to listen to the image's load event, show the image and then adding the animate's class through Javascript.
As this is the library's issue tracker you won't get much help as this is not a problem with the library itself. A better place to seek for help is stackoverflow.
I'm closing this as it's unre

[2020-03-01 17:23] #1028 closed

[2020-03-01 17:26] eltonmesquita commented on #1026
Hi, sorry but I didn't get the problem. Typescript is just Javascript in the end, so you need help with Javascript.
This is the issue tracker, so you won't get much help about usage. Please use stackoverflow for that.
I'm closing this as it's unrelated.

[2020-03-01 17:27] #1026 closed

[2020-03-01 17:31] eltonmesquita commented on #996
Sorry, but I couldn't replicate the issue. This is probably a Safari bug which wouldn't make sense to try and fix through some nasty hack.
I'll close this and if there are more reports about this in the future I'll worry about.
Thanks for reporting!

[2020-03-01 17:31] #996 closed

[2020-03-01 17:31] #997 closed

[2020-03-01 17:38] eltonmesquita commented on #1002
I do understand the request but I think it doesn't suit animate.css.
I'm closing this.

[2020-03-01 17:38] #1002 closed

[2020-03-01 17:43] eltonmesquita commented on #1009
Yeah, that is doable with css custom-properties. When I get back coding I'll have a look in how we can provide this.

[2020-03-01 17:45] eltonmesquita commented on #999
#1009 could fix this too.

[2020-03-01 17:49] eltonmesquita commented on #1011
Hi, could someone please provide a reduced case on codepen so I can have a look?

[2020-03-01 17:56] eltonmesquita commented on #1016
Sorry, but this seems like an usage problem and you won't get much help here because this is an issue tracker dedicated to the problems of the library itself.
Please use stackoverflow for this kind of question.

[2020-03-01 17:56] #1016 closed

[2020-03-01 17:57] eltonmesquita commented on #1017
This will be easily addressable in the next version which will include css custom properties. I'm closing this as it will be added (ish) in the near future.

[2020-03-01 17:57] #1017 closed

[2020-03-01 18:00] eltonmesquita commented on #956
Sorry, no backlogs :|
But I'll take the job, don't worry about this!

[2020-03-01 18:01] eltonmesquita commented on #1020
Thanks for reporting but this was probably a problem with your connection or a temporary problem with the CDN.
Just checked and everything is running ok!

[2020-03-01 18:01] #1020 closed

[2020-03-01 18:05] eltonmesquita commented on #1021
The tooltip is probably positioned with some transform property, which gets overwritten by animate. There's no easy fix for this and not actually a bug, just an usage issue. You won't get much help about this kind of stuff here as this is an issue tracker dedicated to the library's issues. Please use stackoverflow for usage help.

[2020-03-01 18:05] #1021 closed

[2020-03-01 18:15] eltonmesquita commented on #1022
Sorry, but could you please share the documentation link for this advise on FontAwesome and a proper reduced case so we can have a look on the issue?

[2020-03-01 18:19] eltonmesquita commented on #1003
I do understand the request but I think this is out of the animate's scope which has never included or planned to add style to elements.

[2020-03-01 18:19] #1003 closed

[2020-03-01 18:21] eltonmesquita commented on #998
Hi @WarenGonzaga , maybe we could do this with css custom properties instead?

[2020-03-02 13:54] WarenGonzaga commented on #998
@eltonmesquita maybe we can use a predefined CSS class for this...

[2020-03-02 13:55] WarenGonzaga commented on #1012
@eltonmesquita got it!

[2020-03-02 20:22] eabigelow commented on #1012
Thank you very much! Do I download this from the main zip/repository?

[2020-03-02 20:25] WarenGonzaga commented on #998
@mathisjay done! @eltonmesquita kindly review my pull request to dev...

Introducing... loop utility class ... commit #1029

[2020-03-02 20:26] WarenGonzaga commented on #1012
@eabigelow I'm still working on it... just add a new feature to #998

[2020-03-02 21:57] WarenGonzaga commented on #1012
@eabigelow done! Added and updated the lightSpeed animations look for commit 6f47729 in #1029

[2020-03-02 21:57] WarenGonzaga commented on #1012
@eltonmesquita done! kindly review

[2020-03-02 21:59] WarenGonzaga commented on #1004
@aibar and @raxraj done! check commit 6f47729 in #1029

[2020-03-02 22:07] WarenGonzaga commented on #1012
@eabigelow I guess adding slide back and forth effect is not needed in the slide animations... since the name speaks itself... I think you are referring to ```bounceOutLeft``` if I add the back and forth animation to slideOutLeft it would be redundant for bounceOutLeft since they are the same.

let us know if you need any help so @eltonmesquita can close this...

[2020-03-02 22:14] WarenGonzaga commented on #1000
@minig0d fix in 0f35cf3 at #1029

Reference:
```prefers-reduced-motion```
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
```print```
https://developer.mozilla.org/en-US/docs/Web/CSS/@media

[2020-03-02 22:14] WarenGonzaga commented on #1000
@eltonmesquita kindly review and close if necessary.

[2020-03-02 22:17] WarenGonzaga commented on #1024
I'll take a look at this...

[2020-03-02 22:20] WarenGonzaga commented on #988
@eltonmesquita assign this to me... I can work on it...

[2020-03-02 23:17] eabigelow commented on #1012
Ok thanks you so much again. Much appreciated. Do you have a paypal I can send $30 us to? 😀

Alan

Alan Bigelow, Ph.D.
Professor, Dept. of Interdisciplinary Studies
Medaille College
Buffalo, NY

[2020-03-02 23:18] WarenGonzaga commented on #1012
@eabigelow you can buy me a coffee instead ;)
https://buymeacoff.ee/warengonzaga

[2020-03-02 23:37] WarenGonzaga commented on #1012
Hi @eabigelow, my mistake... I mentioned this issue for a fix which is not. I need your confirmation if you are looking for `bounceOutLeft` animation or do you need something like plain slide animation that doing back in fort slide instead of bouncing... let me know so I can add it to the current development.

[2020-03-03 00:46] eabigelow commented on #1012
I am good as is. I see that the effect is really sufficient as is. But I am happy to buy you a cup of coffee!

Alan

Alan Bigelow, Ph.D.
Professor, Dept. of Interdisciplinary Studies
Medaille College
Buffalo, NY

[2020-03-03 00:51] #1012 closed

[2020-03-03 07:04] aibar commented on #1004
thx! Exactly what I need

[2020-03-03 07:04] #1004 closed

[2020-03-03 07:43] WarenGonzaga commented on #1012
Thank you @eabigelow for buying me 5 cups of coffee! I really love it...

[2020-03-04 13:52] WarenGonzaga commented on #950
@eltonmesquita I don't see this update in the current build...

[2020-03-07 14:37] nainardev opened #1031 "Release in ESM format"
No web-optimized 'module' entrypoint was found in package.json manifest

https://github.com/rollup/rollup/wiki/pkg.module

![Screenshot (130)](https://user-images.githubusercontent.com/59839368/76145390-1240c780-60af-11ea-8592-8e338c2cc8e9.png)

[2020-03-10 21:02] ryangugcloudca opened #1032 "Add news ticker style"
Hope someone can add new style newticker similar to [ticker](https://www.cssscript.com/demo/create-a-simple-news-ticker-using-pure-css-css3/#)

[2020-03-17 13:00] WarenGonzaga commented on #1032
Good suggestion... I'll look into it... will probably add this to v4 update...

[2020-03-17 13:02] WarenGonzaga commented on #1031
Thank you for reporting we will look into it...

[2020-03-17 13:04] WarenGonzaga commented on #1022
Can you guys create a codepen for this? So we can understand the issue...

[2020-03-17 13:12] Abarth77 commented on #1022
Will create one and come back to you.

[2020-03-17 13:26] WarenGonzaga commented on #1022
@Abarth77 thank you... so I can add this to my PR...

[2020-03-17 19:13] daneden commented on #1032
This feels hard for us to support natively in animate.css since it requires some knowledge about, for example, the number of steps to “tick” and the height(s) of objects to animate. Going to close this and recommend building something bespoke for this sort of animation!

[2020-03-17 19:13] #1032 closed

[2020-03-17 19:25] #1000 closed

[2020-03-17 19:25] #998 closed

[2020-03-18 15:01] Abarth77 commented on #1022
@eltonmesquita @WarenGonzaga

In the process of creating a codepen for you, we ended up trying both 3.7.0, and 3.7.2, in the last version we could not reproduce the error outside of our system, but within it, we still had issues.

I think we should consider this "Not a bug", and we will keep researching how to get around the issue. But as said, it seems with the latest version, the issue is not an

[2020-03-18 15:03] WarenGonzaga commented on #1022
Alright, thank you!

[2020-03-18 15:23] #1022 closed

[2020-03-19 10:08] thexmanxyz commented on #274
The `transform` fix did not work for me for BS `fixed-top`. But I found a working solution: `body { overflow-x: hidden; }` which prevents interferences of floating menus or navigation bar with the actual animation.

[2020-03-20 07:49] stanleyxu2005 commented on #993
I can confirm that `yarn add animate.css@3.6.1` works with Vue, but 3.7.x all break with Vue.

[2020-03-20 10:05] WarenGonzaga commented on #993
We will look into it... @stanleyxu2005

[2020-03-24 18:33] eltonmesquita commented on #1031
Correct me if I'm wrong, but this is a javascript format and doesn't apply to animate.**CSS**...

[2020-03-24 18:33] #1031 closed

[2020-03-24 18:35] eltonmesquita commented on #1011
This is almost certain a browser bug or simple misusage. I'll close this as there's no reduced case.

[2020-03-24 18:35] #1011 closed

[2020-03-24 18:37] eltonmesquita commented on #1007
This is something that the team will solve internally by now. We'll keep the repo updated with any news regarding that.

[2020-03-24 18:37] #1007 closed

[2020-03-27 09:11] CheneyLin opened #1034 "Add rotateClockwise & rotateCounterClockwise Class"
Hi,
I want to show a cool image as background, and need it keep rotation status.
Can we add RotationLeft & RotationRight Class?
Thanks!

Cheney

[2020-03-27 09:15] CheneyLin commented on #1034
Can I pull a request?

[2020-03-27 10:03] WarenGonzaga commented on #1034
Before you can PR please show us a codepen version of it.

[2020-03-27 21:18] kevtan opened #1035 "[Feature Request] Simple Typing Animation"
It would awesome if Animate.css had a basic typing animation! Other projects like Typed.js have more heavy-weight scripting-based solutions that easy get unwieldy when you just need a simple typing animation, and a stylesheet-based solution would be a nice, light-weight alternative.

[2020-03-28 04:22] CheneyLin commented on #1034
Codepen Here
https://codepen.io/CheneyLin/pen/JjdwORd

[2020-03-28 05:13] WarenGonzaga commented on #1034
For me its approve kindly submit a PR and we will review it again together with @eltonmesquita

[2020-03-28 05:15] WarenGonzaga commented on #1035
@eltonmesquita @daneden what do you think?

For me, we want to make the Animate.css as natural as possible we don't want to make animate.css become heavy-weight something like typed.js...

We will take a look into this and discuss it.

[2020-03-28 08:00] CheneyLin commented on #1034
Hi, My first pull request at GITHUB!
https://github.com/daneden/animate.css/pull/1036
Thanks

[2020-03-28 17:10] CheneyLin commented on #1034
Change PR on dev branch
https://github.com/daneden/animate.css/pull/1037

[2020-03-28 17:39] CheneyLin commented on #1034
Change PR on dev branch
https://github.com/daneden/animate.css/pull/1038

Hello World Again!

[2020-03-28 18:53] kevtan commented on #1035
There are a few CSS-based solutions to this online already but the code for it isn't very clean or general enough to handle many use cases. In addition, I think this would be a very popular animation for developers (e.g. showcase what to type in the shell, etc.). I would be happy to contribute a typing animation if you guys think it's something that would fit in Animate.css!

[2020-03-28 21:07] WarenGonzaga commented on #1035
Let's wait for @eltonmesquita and @daneden to discuss it.

[2020-03-29 12:03] daneden commented on #1035
Hey @kevtan! Thanks for the suggestion. I think this kind of animation is pretty specific and actually non-trivial to implement in CSS alone. We have to consider different typeface character widths, effects like pausing on punctuation, etc.

Since there are alternate, dedicated libraries already out there for this kind of animation, I’d prefer not to introduce it to Animate.css, which is intention

[2020-03-29 12:03] #1035 closed

[2020-03-29 12:26] CheneyLin commented on #1034
Add rotateClockwise & rotateCounterClockwise Class
Change Css Name and new PR.
https://github.com/daneden/animate.css/pull/1039
There are 3 commits, is it ok?

[2020-03-29 13:28] CheneyLin commented on #1034
https://github.com/daneden/animate.css/pull/1040
New Clean PR

[2020-03-30 12:21] OC-Dev commented on #641
Sometimes it's the real simple things when you're just tired or not really in the mood - Can't believe I was trying to load in a CSS file under a Script tag...

[2020-03-30 12:55] eltonmesquita commented on #1034
Let's keep the conversation  on #1040

[2020-03-30 12:55] #1034 closed

[2020-04-04 03:07] rozhdestvenskiy commented on #928
Folks,

I'm using Win 7 and Chrome 80.x. I've always selected "Adjust for best performance" setting which unchecked all checkboxes on Visual Effects tab. I just tried to enable only "Fade or slide ToolTips in view" and it didn't work. I checked it here - https://codepen.io/badboy/full/eavwRg. I played with options and currently I have only one option enabled which is the very first one "Animate co

[2020-04-05 00:15] mahramane commented on #669
Hi
I have the same issue too
Please help

[2020-04-06 12:09] eltonmesquita commented on #669
Have you read this solution? There aren't many options for this as it's the way webpages work.

[2020-04-07 14:59] n-jay commented on #624
Hi, isn't there a solution to this?
It's 2020 and I'm still encountering this problem.

[2020-04-10 03:19] cguweb-com commented on #1024
any idea how to pull this off?  I have the same issue, for example, with animations like "fadeInLeftBig", it always seems to come from the left of the page / viewport.  It'd be nice to be able to restrict it to staying within its parent, so the animation starts from the parent element's left side, rather than the page / viewport left side.

much appreciated if you can suggest how to get around thi

[2020-04-10 03:23] cguweb-com commented on #1024
I found a work around, at least... if you set the animated item's parent to overflow:hidden;, hides the animation until it enters the parent.  This causes a slight delay in seeing the animation, but it works nonetheless.

[2020-04-10 14:19] eltonmesquita commented on #1024
This is purely an implementation detail and is the dev's responsibility as this can't be dealt with on the library side. As @cguweb-com noted, the `overflow: hidden` property can help you with the issues.

I'm closing this as it's not related to the library itself.

[2020-04-10 14:19] #1024 closed

[2020-04-10 15:41] eltonmesquita commented on #1010
Yeah, t

[2020-04-10 15:42] eltonmesquita commented on #1010
Cool. We might use it in the future, but I'll close the issue to keep the repo clean. Thanks!

[2020-04-10 15:42] #1010 closed

[2020-04-10 20:04] alexweissman opened #1041 "Support for browserify?"
When I attempt to load this package with browserify, it fails with an `Unexpected character '@'` error. I'm wondering if this has to do with the fact that the `main` entry point in `package.json` is a CSS file?

I've noticed that some pure CSS packages have added a `browserify` entry to their `package.json` that might address this. For example: https://github.com/KyleAMathews/react-spinkit/pull/11

[2020-04-11 21:35] desaifly opened #1042 "Collapse"
I love the animate.css. It has helped me lot to make the UI look great!

The only thing I am unable to do is a collapse x or y animation. This may be available; however I am unable to find it.
If it's not possible. It would be nice to get a simple collapse animation.

[2020-04-13 09:50] FreddyCrugger commented on #1024
If I were you, I would add this to your front page, this is something people need and need a lot when using animations. Why not add it as "tips",  it can only help people. Unless you prefer people to create posts and enquire about it.
https://github.com/daneden/animate.css/issues?q=positioning

It will limit your work over the years by just adding 1 more line of "tips" on your github page.

[2020-04-15 11:44] skoyah commented on #993
latest version works on Vue. I had the same problem until I realise my element, that was a link had no display type. Adding a display of "block", "inline-block" solved my issue.

[2020-04-20 11:36] WarenGonzaga commented on #1041
@alexweissman thank you for reporting this... I don't think if this is useful for our development. What do you think @eltonmesquita ?

[2020-04-20 11:37] WarenGonzaga commented on #1042
@desaifly can you give us an example of the animation so I can check if it is available on our collection of animation?

[2020-04-20 14:45] eltonmesquita commented on #1041
It's being so long since I've used browserify, but I think that you just need a module or plugin to import a css library. It shouldn't need anything on our side, but I might be wrong.

Sorry, but I don't feel very keen to add this as it's the first time it has been asked and browserify exist for a long time.

[2020-04-20 14:45] #1041 closed

[2020-04-20 14:59] eltonmesquita commented on #903
Done on #1033

[2020-04-20 14:59] #903 closed

[2020-04-20 15:01] eltonmesquita commented on #835
Just a small reminder to add a "Migration guide" as will have some major breaking changes on the next version.

[2020-04-20 15:02] eltonmesquita commented on #955
Closing this as by now as it'll be easier to just maintain the same structure.

[2020-04-20 15:02] #955 closed

[2020-04-20 15:05] eltonmesquita commented on #988
Sorry, but I don't think this is a good idea as animating blur is still too laggy and there is a library that provides this yet. So, I'm closing this.

[2020-04-20 15:05] #988 closed

[2020-04-20 15:06] eltonmesquita commented on #933
The next version will be completely name-spaced and class clashing will be hardly a problem any time on any project. So, I think that we won't need the `.module.css` file. Any thought on that?

[2020-04-20 17:13] eltonmesquita commented on #1042
If I got this right, you need some sort of animation that would make an element collapse on itself, like in an accordion component.

This kind of animation doesn't fit animate.css as it would be required to write animations for more than an element at once and it would have to be based on a certain HTML structure. This is beyond animate's proposal and is more suited for a framework like Bootstrap.

[2020-04-20 17:41] eltonmesquita commented on #914
@WarenGonzaga , would you mind to PR this into the dev branch?

[2020-04-20 17:56] WarenGonzaga commented on #914
@eltonmesquita just set all the animation with out classes to 0?

[2020-04-20 18:11] eltonmesquita commented on #914
Yep.  I couldn't think in a scenario where this could be a problem, do you?

[2020-04-20 18:13] WarenGonzaga commented on #914
@eltonmesquita how about something like ``slideOutLeft`` is this included or just those classes with Out only?

[2020-04-20 20:37] zagarskas opened #1044 "Does not work at all on iOs devices running CHROME"
**Describe the bug**
Load up https://daneden.github.io/animate.css/ on your iPhone or iPad using Chrome
Watch animations "struggle" to work, then fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Install CHROME on any iOS device
2. Load up https://daneden.github.io/animate.css/
3. watch animations fail

**Expected behavior**
Animations should work

**Desktop (please complete the followin

[2020-04-20 21:51] koffiisen opened #1045 "Animate.js --> https://github.com/koffiisen/Animate.js"
**Hi**,

### This not a very request.

_I really enjoyed your work. This is why I allowed myself to take inspiration from your library to create a javascript version._
In your image I called it [Animate.js](https://github.com/koffiisen/Animate.js)

You to test it via this link. [Animate.js](https://github.com/koffiisen/Animate.js)

Thank you again for your work and for inspiring me.

cordially,**

[2020-04-21 10:21] eltonmesquita commented on #1044
Please check this https://github.com/daneden/animate.css#accessibility first and set your accessibility options on your device's settings.

[2020-04-21 10:23] #1045 closed

[2020-04-21 10:33] wargun02 commented on #858
@davimello28 . Thanks for the suggested workaround. I helped me a great deal.

[2020-04-21 10:51] eltonmesquita commented on #950
It's now available on the dev branch.

[2020-04-21 10:51] #950 closed

[2020-04-21 10:52] eltonmesquita commented on #999
Let's keep the discussion on #1009 .

[2020-04-21 10:52] #999 closed

[2020-04-21 10:53] eltonmesquita commented on #758
It's on the dev branch now.

[2020-04-21 10:53] #758 closed

[2020-04-21 10:54] eltonmesquita commented on #618
It's available on the dev branch now!

[2020-04-21 10:54] #618 closed

[2020-04-21 12:18] jabranr commented on #933
I agree. It would be purely an overhead on maintenance.

[2020-04-21 12:47] eltonmesquita commented on #933
Cool. All settled then, I'll close this.

Thanks for the inputs!

[2020-04-21 12:47] #933 closed

[2020-04-21 17:03] #914 closed

[2020-04-22 13:42] WarenGonzaga commented on #1042
@eltonmesquita I guess you need to close this issue...

[2020-04-22 13:44] WarenGonzaga commented on #837
@eltonmesquita @daneden updates on this?

[2020-04-22 13:45] WarenGonzaga commented on #835
How about moving some parts of the README to Wiki page on this repo? Then later on planning to create a knowledge base for animate.css what do you think guys?
cc @eltonmesquita @daneden

[2020-04-22 14:40] eltonmesquita commented on #835
That's a good idea but I'm in the process of updating the demo website adding the whole documentation. Hopefully, I can finish this new structure by the end of the week and everyone will get to contribute easily.

[2020-04-22 14:40] eltonmesquita commented on #837
Working on this right now :D

[2020-04-22 14:41] #1042 closed

[2020-04-22 15:04] raxraj commented on #1009
ahoy!! can I work on that??

[2020-04-22 15:05] WarenGonzaga commented on #1009
@raxraj sadly assigend to @eltonmesquita... ;)

[2020-04-22 15:06] WarenGonzaga commented on #1044
@eltonmesquita I guess this one has been solved, kindly close this...

[2020-04-22 15:15] WarenGonzaga commented on #837
@eltonmesquita got it... just let me know when you're done.

[2020-04-22 15:15] WarenGonzaga commented on #835
@eltonmesquita I love to restructure the README to much simpler one... as you can see the changes on dev branch.

[2020-04-22 18:06] #1044 closed

[2020-04-22 18:08] raxraj commented on #1009
oh! I see, well I will keep trying then.

[2020-04-23 18:19] Retours commented on #624
Hi n-jay,

Encountered the same issue, and thought about you when I "solved" it the hacky way.
Seems like you need two things for it to work:
- the fadeout animation needs to be finished (has to do with classes I think)
- you need to manually set the element visibility to visible BEFORE doing the animation (I know, makes no sense)

Hope that clears things out for you, I did it in a messy way so wo

[2020-04-29 16:44] Ricox88 opened #1048 "Repeat animation"
Hello everyone,
First of all thank you for the animation to the creators.

I would like my image repeat the animation after 12sec.
How can i do it? Could you kindly help me with this, please?

This would be much appreciated.

Thank you

[2020-04-29 17:41] eltonmesquita commented on #1048
That's only possible using javascript and is not in the scope of the library itself. Sorry, but you better seek for help on StackOverflow as there are lots of people willing to help on this.

I'm closing this as it's unrelated to the library itself.

[2020-04-29 17:41] #1048 closed

[2020-05-02 18:53] akshaybande81 opened #1049 "Is there any way to add animation iteration count using classes like we can add delay as `delay-2s` class?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-02 23:01] eltonmesquita commented on #1049
Hi, the next version will bring the `animation-repeat` class. It should get released in the next few weeks.

[2020-05-02 23:01] #1049 closed

[2020-05-05 19:32] #835 closed

[2020-05-05 19:32] #837 closed

[2020-05-05 19:44] eltonmesquita commented on #956
That's done in some lost commit. Closing!

[2020-05-05 19:44] #956 closed

[2020-05-08 11:33] eltonmesquita commented on #1009
This didn't make into the v4.0.0 release, but I'll try to prioritize this feature in the next release (probably the next minor version).

[2020-05-08 11:38] WarenGonzaga commented on #1009
@eltonmesquita looking forward!

[2020-05-08 15:39] raulcesar commented on #993
Hi, I just tried to upgrade to version 4.0.0 and started getting the error "Cannot read property 'prefix' of undefined" with a vue-cli project.

in my main.js file, I had this:
`import 'animate.css/animate.min.css';`
Which worked with animate version 3.7.2, but when I upgraded to 4.0.0, I get the error "cannot read property 'prefix' of undefined".
Tried to change the import to: `import 'animate.cs

[2020-05-08 15:47] WarenGonzaga commented on #993
@raulcesar please refer to our official documentation ;)
[https://animate.style/#migration](https://animate.style/#migration)

[2020-05-08 16:06] techtag opened #1055 "Animate.css does not seem to work with Laravel 7.10.3"
I am trying to use Animate.css on my Laravel project. I installed Animate.css using following command:
`$ npm install animate.css --save`
and included it in \resources\sass\app.scss file
`@import "~animate.css/animate.css";`
and I ran following npm command
`npm run dev`
When I look in to View Page Source on the browser, animate.css seem to be included but HTML elements are not animated. Animation

[2020-05-08 17:19] eltonmesquita commented on #1055
Please, read the [migration guide](https://animate.style/#migration).

[2020-05-08 18:18] tjorim opened #1056 "TypeError: Cannot read property 'name' of undefined"
**Describe the bug** A clear and concise description of what the bug is.
[code]

**To Reproduce** Steps to reproduce the behavior:

1. yarn install
2. yarn run build
3. See error

**Expected behavior** A clear and concise description of what you expected to happen.
No errors

[2020-05-08 22:07] #1055 closed

[2020-05-09 07:00] Seaaaaaaa commented on #1056
I had the same problem

[2020-05-09 08:27] eltonmesquita commented on #1056
Please provide more details on the problem. Which builds tools you're using, etc.

Next time please read and use the issue template provided and not just delete parts of it .

[2020-05-10 07:12] ws-h-ono commented on #1056
Having same issue with Parcel 1.12.4 with animate.css 4.0.0. (Node.js 12.16.3 on Linux)
The whole bundling process stops with this error.
This also happens with `animate.compat.css`.

I have,
`require('animate.css/animate.min.css')`
in the entry point script.

[code]

[2020-05-10 15:09] eltonmesquita commented on #1056
Thanks @ws-h-ono , I've got to reproduce it. I'm investigating the problem, should there be a fix soon.

[2020-05-11 00:02] ndrwum opened #1057 "data attributes"
It would make my life so much easier if we could include data attributes to html like the way wow.js implemented it. It would essentially look like this.
<section class="animate__animated animate__bounce" data-wow-duration="1s" data-wow-delay="1.3s"></section>

data-wow-duration: Change the animation duration
data-wow-delay: Delay before the animation starts

This would essentially save me from ha

[2020-05-11 08:47] eltonmesquita commented on #1057
Hi,
I can't see the difference, in term of time-saving, adding classes or attributes. Besides, attribute selectors are more specific and are harder to overwrite. There is much more reasons why using classes, so I'm closing this as we won't implement it.

[2020-05-11 08:47] #1057 closed

[2020-05-11 09:48] ryanve commented on #1057
FWIW I don't use `animate.css` but have sometimes favored data attributes for library design. Attribute selectors have equal specificity as classes. In JavaScript toggling attributes is sometimes easier than classes because you don't have to handle existing classes. However classes are standard and it's totally understandable to continue using classes here.

[2020-05-11 12:06] #1056 closed

[2020-05-11 12:12] eltonmesquita commented on #1056
Please, upgrade to the new version and check if it fixes the issue. I'd be glad if I had any feedback on this @tjorim, @Seaaaaaaa and @ws-h-ono

[2020-05-11 13:48] raulcesar commented on #993
@WarenGonzaga Thanks for the reply, but unfortunately this alone did not work for me.
I forgot to mention in my original post, but I had already tried following the orientations on migration (using the animate.compat.css) but the problem still persisted. I was able to fix it this morning, so I will just comment below the steps I took so that if anyone else is having this problem, this might help.

[2020-05-11 14:06] WarenGonzaga commented on #993
@raulcesar awesome! I can't answer your question since I'm not the one who implemented that it is @eltonmesquita he can answer your question related to vue... also I don't have experience yet with vue but there are some vue animate.css repos out there you can check out.

[2020-05-11 14:15] eltonmesquita commented on #993
It seems that when a css library provides a postcss config file some bundlers use it, like parcel, but they breaks if we export a function and not an object, which we do for Animate.css.

I don't fully understand why they blunders act like this, but it seemed plausible to not distribute the library with it the config file. That's why the new release only packs the CSS files.

[2020-05-11 15:18] lushushu137 opened #1059 "Horizontal scroll bar issue with fadeOutRight"
When the item size is too big and fadeOutRight was added, it doesn't disappear. Instead, it stretches the horizontal scroll bar and leaves big blank space on the right side.  However, fadeOutLeft has no such problem.

The code is as follows:
[code]

**To Reproduce** Steps to reproduce the behavior:

1. Open in browser
2. Click the button

screenshot before click:
![before](https://user-images.gith

[2020-05-11 15:40] tjorim commented on #1056
It's working now, thank you so much.

On Mon, 11 May 2020, 14:13 Elton Mesquita, <notifications@github.com> wrote:

[2020-05-11 16:22] eltonmesquita commented on #1059
Please, see then Overflow section on our [documentation](https://animate.style/#best)

[2020-05-11 16:22] #1059 closed

[2020-05-12 01:57] nmudd037 opened #1060 "Whatever I try I wasn't able to make the animations work on any of my browsers"
**Describe the bug** A clear and concise description of what the bug is.

I am just starting with the html and css and I am completely novice in the area of web development, so in this situation I might go wrong somewhere but I am just trying to find the solution. I just wanted to include animations like bounce, pulse e.t.c on a basic html page, but whatever I tried to do I couldn't able to create

[2020-05-12 05:23] ws-h-ono commented on #1056
Working now too, thank you.

[2020-05-12 10:41] eltonmesquita commented on #1060
Hi, the problem is that you're writing `animate_` (with **one** dash only) and not `animate__` (with **two** dashes). The full example is:

[code]

Please refer to the [documentation](https://animate.style) for guidance.

Sorry, but if you need help with usage, you should seek help on a place like StackOverflow as this is used to report issues and give suggestion for improving the library.

I'm cl

[2020-05-12 10:41] #1060 closed

[2020-05-13 03:37] wjxniubi commented on #1009
Hello, I use animate in Vue. But the error has been reported all the time: what's the reason for cannot read property 'prefix' of undefined? Is there a similar solution

[2020-05-13 03:39] warengonzaga commented on #1009
@wjxniubi please visit our documentation... https://animate.style/#migration

[2020-05-13 03:43] wjxniubi commented on #1009
Sorry, I used it for the first time. Some of them still don't understand

[2020-05-13 04:11] raxraj commented on #1009
@wjxniubi !
Basically animate.css released a new version namely, v4.
Which has a breaking change and thus for now, if you don't want to continue migrating to the latest version just simply change your
import statement to
[code]
or if using HTML, which might be the case in VueJS.
Chane the link src as follows

[code]

[2020-05-13 04:15] wjxniubi commented on #1009
thank

[2020-05-13 05:28] raxraj commented on #1009
@wjxniubi Happy to Help :)

[2020-05-16 08:50] cloydlau commented on #993
3.7.2 works perfectly in my case, but 4.1.0 doesn't. I'm using vue-cli 4.3.1.

[2020-05-16 11:43] eltonmesquita commented on #993
I just tried and it worked flawlessly with both `animate.css` and `animate.compat.css`.

Please read the [migration guide](https://animate.style/#migration).

[2020-05-16 12:44] cloydlau commented on #993
yeah adding prefix should do it, thanks.

[2020-05-18 09:16] rizkiandrianto opened #1062 "[Feature Request] I think we need old version documentation"
**Is your feature request related to a problem? Please describe.** Yes, really hard to find friendly old class documentation.

**Describe the solution you'd like** We need old documentation page, that we can copy paste v3 css class.

**Describe alternatives you've considered** At least we had old README.

**Additional context** old https://daneden.github.io/animate.css/.

[2020-05-18 16:29] eltonmesquita commented on #1062
Hi @rizkiandrianto, sorry, but the need for the old docs? The new one is based on the last on with a few more additions. The usage, besides the class prefix, is basically the same. There's also the complete list of animations in the first part of the demo-site.

I honestly can't see why to keep both versions. But I'll keep this open to hear more about the request.

[2020-05-19 18:03] kannanseeni opened #1063 "v 4.1.0 is not importing css in gatsby website"
my previous project used v3.7.2 and working fine. when I install the new version

import "animate.css/animate.min.css";

is not adding CSS on my project and it is not working.

It is gatsby project

[2020-05-20 09:39] eltonmesquita commented on #1063
Hi, did you follow the [migration guide](https://animate.style/#migration)?

[2020-05-21 22:39] 3epnm commented on #1062
I have to agree with @rizkiandrianto. I use animate.css in version 3.0 - and it has changed a bit - however small this change may be. In itself, it is good practice to document the legacy versions of an excellent product. At least I don't feel any pain for an update.

[2020-05-22 14:16] #1063 closed

[2020-05-26 14:56] MollyUrs opened #1065 "Removal of __animated prefix"
**Is your feature request related to a problem? Not really a problem, just a suggestion :)

**Describe the solution you'd like** I personally prefer the old, shorter class names, I'm not sure if other people agree but now my elements have extremely long class names. e.g:

-  animate__animated animate__fadeInLeft animate__delay-2s animate__slower
VS
- animated fadeInLeft delay-2s slower

This is pu

[2020-05-26 16:58] eltonmesquita commented on #1065
Hi, the prefix was added as a safety measure because it caused some issues - class clashing - on some projects. As a library of wide usage, we feel that this is a good choice. It's the best trade-off that we could provide right now.

Still, we provide the compact version, that you can read about in the [migration guide](https://animate.style/#migration) and a way to make your [own build](https://a